<div class="pia-modalBlock" id="modal-simple-pia-validation">
  <div class="pia-modalBlock-content bounceIn">
    <button type="button" class="pia-modalBlock-close btn" title="Fermer"><span (click)="_modalsService.closeModal()" class="pia-icons pia-icon-close-big"></span></button>
    <p>
      Le PIA vient d'être validé !
    </p>
    <span class="pia-icons pia-icon-happy"></span>
    <div class="pia-modalBlock-validate">
      <button class="btn btn-green" type="button" title="Retour à l'accueil" (click)="returnToHomepage()">Retour à l'accueil</button>
    </div>
  </div>
</div>

<div class="pia-modalBlock" id="modal-update-server-url">
  <div class="pia-modalBlock-content bounceIn">
    <button type="button" class="pia-modalBlock-close btn" title="Fermer"><span (click)="_modalsService.closeModal()" class="pia-icons pia-icon-close-big"></span></button>
    <p>
      L'adresse du serveur à été mise à jour.
    </p>
    <span class="pia-icons pia-icon-happy"></span>
    <div class="pia-modalBlock-validate">
      <button class="btn btn-green" type="button" title="Retour à l'accueil" (click)="returnToHomepage()">Retour à l'accueil</button>
    </div>
  </div>
</div>

<div class="pia-modalBlock" id="modal-signed-pia-validation">
  <div class="pia-modalBlock-content pia-modalBlock-acceptedPIA bounceIn">
    <button type="button" class="pia-modalBlock-close btn" title="Fermer"><span (click)="_modalsService.closeModal()" class="pia-icons pia-icon-close-big"></span></button>
    <p>
      <span class="strong">Le PIA est accepté</span><br>
      Finalisez la validation du PIA en attachant<br>
      en pièce jointe le rapport signé par le responsable.
    </p>
    <span class="pia-icons pia-icon-happy"></span>
    <div class="pia-modalBlock-buttons-choice">
      <button class="btn btn-green" type="button" title="Retour à l'accueil" (click)="returnToHomepage()">Retour à l'accueil</button>
      <button class="btn btn-green" type="button" title="Exporter le rapport PIA">Exporter<br>le rapport PIA</button>
    </div>
  </div>
</div>

<div class="pia-modalBlock" id="modal-abandon-pia">
  <div class="pia-modalBlock-content pia-modalBlock-abandonPIA bounceIn">
    <button type="button" class="pia-modalBlock-close btn" title="Fermer"><span (click)="_modalsService.closeModal()" class="pia-icons pia-icon-close-big"></span></button>
    <p>
      Êtes-vous sûr de vouloir<br>
      abandonner ce traitement ?
    </p>
    <div class="pia-modalBlock-buttons-choice">
      <button class="btn btn-red" type="button" title="Supprimer et archiver">Supprimer <br>et archiver</button>
      <button class="btn btn-red" type="button" (click)="_modalsService.closeModal()" title="Reprendre">Reprendre</button>
    </div>
  </div>
</div>

<div class="pia-modalBlock" id="modal-refuse-pia">
  <div class="pia-modalBlock-content bounceIn">
    <button type="button" class="pia-modalBlock-close btn" title="Fermer"><span (click)="_modalsService.closeModal()" class="pia-icons pia-icon-close-big"></span></button>
    <p>
      <span class="strong">PIA refusé,</span><br>
      Plusieurs champs doivent être corrigés.<br>
      Retour au mode d'évaluation<br>
      pour apporter des corrections.
    </p>
    <span class="pia-icons pia-icon-sad"></span>
    <div class="pia-modalBlock-validate">
      <button class="btn btn-red" type="button" (click)="_modalsService.closeModal()" title="Continuer">Continuer</button>
    </div>
  </div>
</div>

<div class="pia-modalBlock" id="modal-same-comment">
  <div class="pia-modalBlock-content bounceIn">
    <button type="button" class="pia-modalBlock-close btn" title="Fermer"><span (click)="_modalsService.closeModal()" data-dismiss="modal" class="pia-icons pia-icon-close-big"></span></button>
    <p>
      <span class="strong">Attention,</span><br>
      Veuillez saisir un commentaire différent du dernier enregistré.
    </p>
    <span class="pia-icons pia-icon-sorry"></span>
    <div class="pia-modalBlock-validate">
      <button class="btn btn-blue" type="button" (click)="_modalsService.closeModal()" data-dismiss="modal" title="Continuer">Fermer</button>
    </div>
  </div>
</div>

<div class="pia-modalBlock" id="not-enough-measures-to-remove">
  <div class="pia-modalBlock-content bounceIn">
    <button type="button" class="pia-modalBlock-close btn" title="Fermer"><span (click)="_modalsService.closeModal()" data-dismiss="modal" class="pia-icons pia-icon-close-big"></span></button>
    <p>
      <span class="strong">Attention,</span><br>
      Au moins une mesure doit être renseignée : suppression impossible.
    </p>
    <span class="pia-icons pia-icon-sorry"></span>
    <div class="pia-modalBlock-validate">
      <button class="btn btn-blue" type="button" (click)="_modalsService.closeModal()" data-dismiss="modal" title="Continuer">Fermer</button>
    </div>
  </div>
</div>

<div class="pia-modalBlock" id="remove-measure">
  <div class="pia-modalBlock-content pia-modalBlock-removeMeasure bounceIn">
    <button type="button" class="pia-modalBlock-close btn" title="Fermer"><span (click)="_modalsService.closeModal()" class="pia-icons pia-icon-close-big"></span></button>
    <p>
      <span class="strong">Attention,</span><br>
      Êtes-vous sûr de vouloir<br>
      supprimer cette mesure ?
    </p>
    <span class="pia-icons pia-icon-sad"></span>
    <div class="pia-modalBlock-buttons-choice">
      <button class="btn btn-red" (click)="_measuresService.removeMeasure()" type="button" title="Supprimer la mesure">Supprimer cette <br>mesure</button>
      <button class="btn btn-red" type="button" (click)="_modalsService.closeModal()" title="Conserver la mesure">Conserver cette <br>mesure</button>
    </div>
  </div>
</div>

<div class="pia-modalBlock" id="ask-for-evaluation">
  <div class="pia-modalBlock-content bounceIn">
    <button type="button" class="pia-modalBlock-close btn" title="Fermer"><span (click)="_modalsService.closeModal()" class="pia-icons pia-icon-close-big"></span></button>
    <p>
      <span class="strong">Bravo,</span><br>
      la partie est désormais<br>
      disponible pour évaluation
    </p>
    <span class="pia-icons pia-icon-happy"></span>
    <div class="pia-modalBlock-validate">
      <button (click)="_modalsService.closeModal()" class="btn btn-green" type="button" title="Continuer">Continuer</button>
    </div>
  </div>
</div>

<div class="pia-modalBlock" id="validate-evaluation">
  <div class="pia-modalBlock-content bounceIn">
    <button type="button" class="pia-modalBlock-close btn" title="Fermer"><span (click)="_modalsService.closeModal()" class="pia-icons pia-icon-close-big"></span></button>
    <p>
      <span class="strong">Bravo,</span><br>
      en attente de la validation <br>
      globale du PIA
    </p>
    <span class="pia-icons pia-icon-happy"></span>
    <div class="pia-modalBlock-validate">
      <button (click)="_modalsService.closeModal()" class="btn btn-green" type="button" title="Continuer">Continuer</button>
    </div>
  </div>
</div>

<div class="pia-modalBlock" style="background-color:transparent;" id="validate-evaluation-to-correct">
  <div class="pia-modalBlock-content pia-modalBlock-declareMeasuresForRisks bounceIn">
    <button type="button" class="pia-modalBlock-close btn" title="Fermer"><span (click)="_modalsService.closeModal()" class="pia-icons pia-icon-close-big"></span></button>
    <p>
      Désolé,<br>
      Plusieurs champs doivent être corrigés.<br>
      Retour au mode d'édition<br>
      pour apporter des corrections.
    </p>
    <span class="pia-icons pia-icon-sorry"></span>
    <div class="pia-modalBlock-validate">
      <button (click)="_modalsService.closeModal()" class="btn btn-green" type="button" title="Continuer">Continuer</button>
    </div>
  </div>
</div>

<div class="pia-modalBlock" style="background-color:transparent;" id="pia-declare-measures">
  <div class="pia-modalBlock-content pia-modalBlock-declareMeasuresForRisks bounceIn">
    <button type="button" class="pia-modalBlock-close btn" title="Fermer"><span (click)="_modalsService.closeModal()" class="pia-icons pia-icon-close-big"></span></button>
    <p>
      Désolé,<br>
      Avant d'évaluer les risques,<br>
      vous devez déclarer les mesures<br>
      existantes ou prévues
    </p>
    <span class="pia-icons pia-icon-sorry"></span>
    <div class="pia-modalBlock-validate">
      <a routerLink="/entry/{{_piaService.pia.id}}/section/3/item/1" (click)="_modalsService.closeModal()" type="button btn-blue" title="Déclarer les mesures existantes ou prévues" class="btn btn-green">Déclarer les mesures existantes ou prévues</a>
    </div>
  </div>
</div>


<div class="pia-modalBlock" id="modal-remove-pia">
  <div class="pia-modalBlock-content pia-modalBlock-removePIA bounceIn">
    <button type="button" class="pia-modalBlock-close btn" title="Fermer"><span (click)="_modalsService.closeModal()" class="pia-icons pia-icon-close-big"></span></button>
    <p>
      <span class="strong">Attention,</span><br>
      Êtes-vous sûr de vouloir<br>
      supprimer ce PIA ?
    </p>
    <span class="pia-icons pia-icon-sad"></span>
    <div class="pia-modalBlock-buttons-choice">
      <button class="btn btn-red" type="button" (click)="_modalsService.closeModal()" title="Conserver le PIA">Annuler</button>
      <button class="btn btn-red" (click)="_piaService.removePIA()" type="button" title="Supprimer le PIA">Supprimer ce PIA</button>
    </div>
  </div>
</div>

<div class="pia-modalBlock" id="modal-remove-attachment">
  <div class="pia-modalBlock-content pia-modalBlock-removeAttachment bounceIn">
    <button type="button" class="pia-modalBlock-close btn" title="Fermer"><span (click)="_modalsService.closeModal()" class="pia-icons pia-icon-close-big"></span></button>
    <p>
      <span class="strong">Attention,</span><br>
      Êtes-vous sûr de vouloir<br>
      supprimer cette pièce jointe ?
    </p>
    <span class="pia-icons pia-icon-sad"></span>
    <div class="pia-modalBlock-buttons-choice">
      <button class="btn btn-red" type="button" (click)="_modalsService.closeModal()" title="Conserver la pièce jointe">Conserver</button>
      <button class="btn btn-red" (click)="_attachmentsService.removeAttachment()" type="button" title="Supprimer la pièce jointe">Supprimer</button>
    </div>
  </div>
</div>

<!-- TODO : mettre leurs ids et les (click) adéquats -->
<div class="pia-modalBlock">
  <div class="pia-modalBlock-content bounceIn">
    <button type="button" class="pia-modalBlock-close btn" title="Fermer"><span class="pia-icons pia-icon-close-big"></span></button>
    <p>
      <span class="strong">Attention,</span><br>
      vous venez d'ajouter une mesure,<br>
      <span class="red">" Sauvegarde de données ",</span><br>
      n'oubliez pas de la mettre à jour dans<br>
      la partie <span class="red">" Mesures existantes ou prévues "</span>
    </p>
    <div class="pia-modalBlock-validate">
      <button class="btn btn-blue" type="button" title="Continuer">Continuer</button>
    </div>
  </div>
</div>





<div class="pia-modalBlock" id="modal-list-new-pia">
  <div class="pia-modalBlock-content bounceIn">
    <button type="button" class="pia-modalBlock-close btn" title="Fermer"><span (click)="_modalsService.closeModal()" class="pia-icons pia-icon-close"></span></button>
    <form class="pia-cardsBlock-item-form" (ngSubmit)="onSubmit(piaForm)" [formGroup]="piaForm">
      <div>
        <label for="name">Nom du PIA</label>
        <input formControlName="name" type="text" placeholder="Intitulé" id="name" required>
      </div>
      <div>
        <label for="author_name">Saisie</label>
        <input formControlName="author_name" type="text" placeholder="Prénom, nom" id="author_name" required>
      </div>
      <div>
        <label for="evaluator_name">Évaluation</label>
        <input formControlName="evaluator_name" type="text" placeholder="Prénom, nom" id="evaluator_name" required>
      </div>
      <div>
        <label for="validator_name">Validation</label>
        <input formControlName="validator_name" type="text" placeholder="Prénom, nom" id="validator_name" required>
      </div>
      <div class="pia-cardsBlock-item-date" *ngIf="newPia">
        <div>Date</div>
        <time>{{ newPia.created_at | date: 'dd/MM/yyyy'}}</time>
      </div>
      <div class="pia-cardsBlock-item-status">
        <div class="pia-cardsBlock-item-status-infos">
          <div>Status</div>
          <div>Création</div>
        </div>
        <div class="pia-cardsBlock-item-status-progressBar">
          <div>0%</div>
          <progress max="100" value="0">
          </progress>
        </div>
      </div>
      <div class="pia-cardsBlock-item-btn">
        <button type="submit" [disabled]="piaForm.invalid" class="btn btn-green" id="pia-save-card-btn">Commencer</button>
      </div>
    </form>
  </div>
</div>
