@import '../../assets/stylesheets/variables';

.pia {
  &-modalBlock {
    opacity: 0;
    transition: opacity 2s ease-in-out;
    z-index: 9999;
    display: none;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    &.open {
      opacity: 1;
      display: block;
    }
    &-close {
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 9999;
    }
    &-validate {
      margin-top: 35px;
      button {
        padding-left: 35px;
        padding-right: 35px;
      }
    }
    &-buttons-choice {
      button {
        vertical-align: top;
      }
    }
    > div {
      position: absolute;
      top: 32.5%;
      left: 50%;
      background-color: #fff;
    }
    &-content {
      margin-left: -220px;
      width: 440px;
      box-shadow: 5px 5px 205px -40px black;
      text-align: center;
      color: $pia-blue;
      font-style: italic;
      font-weight: 500;
      font-size: 1.5rem;
      padding: 34px 56px;
      p {
        font-weight: 500;
        line-height: 1.3;
        .strong {
          font-size: 1.7rem;
          vertical-align: -5px;
        }
        .red {
          color: $pia-red;
        }
      }
    }
    &-removeMeasure,
    &-removePIA,
    &-removeAttachment {
      p {
        margin-bottom: 30px;
      }
      .pia-modalBlock-buttons-choice {
        margin-top: 22px;
        button {
            padding: 7px 15px;
            &:first-child {
                margin-right: 30px;
            }
        }
      }
    }
    &-declareMeasuresForRisks {
      .pia-modalBlock-validate {
        button {
          padding-left: 16px;
          padding-right: 16px;
        }
        a {
          text-decoration: none;
        }
      }
    }
    &-abandonPIA {
      .pia-modalBlock-buttons-choice {
        button {
          padding: 2px 28px;
          height: 32px;
          &:first-child {
            margin-right: 34px;
          }
        }
      }
    }
    &-acceptedPIA {
      .pia-modalBlock-buttons-choice {
        margin-top: 22px;
        button {
          padding: 2px 28px;
          height: 32px;
          &:first-child {
            margin-right: 4px;
          }
        }
      }
    }
  }
}
// Create new pia from list
#modal-list-new-pia {
  .pia-modalBlock {
    &-close {
      top: 6px;
      right: 9px;
    }
    &-content {
      width: 274px;
      margin-left: -137px;
      padding: 10px;
      border: solid 1px $pia-green;
    }
  }
  .pia-cardsBlock-item {
    &-form {
      text-align: left;
    }
    &-status {
      display: flex;
      justify-content: space-between;
      &-infos {
        width: auto;
      }
    }
  }
}

#pia-htmlBlock {
  .pia-modalBlock-content {
    overflow: auto;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    margin-left: initial;
    width: auto;
    text-align: left;
    color: #000;
    font-style: normal;
    font-weight: normal;
  }
}
