<app-header></app-header>
<main class="container pia-PIAEntryBlock pia-validationBlock">
  <div class="row">
    <!--Left sidebar (sections) -->
    <div class="small-12 medium-3 columns">
      <aside class="pia-leftSidebarBlock">
        <app-sections></app-sections>
      </aside>
    </div>
    <!--Main entry content -->
    <div class="small-12 medium-6 columns">
      <section class="pia-entryContentBlock">
        <header class="pia-entryContentBlock-header">
          <div>
            <i class="fa fa-cog" aria-hidden="true"></i>
            <p>En signature</p>
          </div>
          <div class="pia-entryContentBlock-header-title">
            <h1>Validation du PIA</h1>
          </div>
          <a href="#" class="btn pia-previewBlock" title="Aperçu">
            <span class="pia-icons pia-icon-preview"></span>
            <div>Aperçu</div>
          </a>
        </header>

        <header class="pia-entryContentBlock-header">
          <div>
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
            <p>Validé</p>
          </div>
          <div class="pia-entryContentBlock-header-title">
            <h1>Validation du PIA</h1>
          </div>
          <a href="#" class="btn pia-previewBlock" title="Aperçu">
            <span class="pia-icons pia-icon-preview"></span>
            <div>Aperçu</div>
          </a>
        </header>

        <div class="pia-entryContentBlock-content">
          <div class="pia-entryContentBlock-content-list">
            <p>Le 25 Avril 2015,</p>
            <p>Le Responsable de la validation du PIA <span class="blue">Sophie Hadid</span>.</p>
            <p>Aprés lecture intégrale du PIA concernant le traitement des données liées à l'activité de <span class="blue">Captoo</span></p>
            <form [formGroup]="validateForm" (change)="checkValidationFormStatus()" novalidate>
              <div class="pia-entryContentBlock-content-list-confirm">
                <input type="checkbox" formControlName="validateStatus" (click)="lockStatus($event)" id="checkbox-1" value="1">
                <label for="checkbox-1">
                  <span class="pia-list-confirm-icon">
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </span>
                  <span class="pia-list-confirm-desc">Je confirme que la description du contexte de mon traitement est conforme à la réalité.</span>
                </label>
              </div>
              <div class="pia-entryContentBlock-content-list-confirm">
                <input type="checkbox" formControlName="validateStatus" (click)="lockStatus($event)" id="checkbox-2" value="2">
                <label for="checkbox-2">
                  <span class="pia-list-confirm-icon">
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </span>
                  <span class="pia-list-confirm-desc">Je confirme avoir pris connaissance des risques existants en fonction des mesures actuellement mises en oeuvre ou prévues.</span>
                </label>
              </div>
              <div class="pia-entryContentBlock-content-list-confirm">
                <input type="checkbox" formControlName="validateStatus" (click)="lockStatus($event)" id="checkbox-3" value="3">
                <label for="checkbox-3">
                  <span class="pia-list-confirm-icon">
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </span>
                  <span class="pia-list-confirm-desc">Je valide les mesures correctives indiquées.</span>
                </label>
              </div>
              <div class="pia-entryContentBlock-content-list-confirm">
                <input type="checkbox" formControlName="validateStatus" (click)="lockStatus($event)" id="checkbox-4" value="4">
                <label for="checkbox-4">
                  <span class="pia-list-confirm-icon">
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </span>
                  <span class="pia-list-confirm-desc">Je m’engage à mettre en oeuvre dans les plus brefs délais les mesures correctives indiquées.</span>
                </label>
              </div>
              <div class="pia-entryContentBlock-content-btn-valid">
                <a routerLink="/entry/5/refuse-PIA" class="btn btn-red"  title="Refuser la validation">Refuser la validation</a>
                <button type="submit" class="btn btn-blue" id="pia-simple-validation" disabled title="Validation simple">Validation simple</button>
                <button type="submit" (click)="this.modal.openModal('modal-accepted-pia')" class="btn btn-red" id="pia-sign-validation" disabled title="Faire signer le PIA par le responsable">Faire signer le PIA par le responsable</button>
              </div>
              <p>Tous les champs doivent être cochés</p>
            </form>
            <div class="pia-entryContentBlock-content-status">
              <p>En attente de la signature du rapport PIA</p>
              <i class="fa fa-cog" aria-hidden="true"></i>
            </div>
            <div class="pia-entryContentBlock-content-status">
              <i class="fa fa fa-check-square-o" aria-hidden="true"></i>
              <p>Validé</p>
            </div>
          </div>
        </div>

          <button type="button" class="pia-entryContentBlock-submitAttachmentButton btn btn-red btn-active" title="Ajouter le rapport PIA signé">Ajouter le rapport PIA Signé</button>

          <app-pia-validate-history></app-pia-validate-history>

          <footer class="pia-entryContentBlock-footer">
            <div class="pia-entryContentBlock-footer-validationAttachments">
              <div>
                <span class="pia-icons pia-icon-file-pdf-blue"></span>
                <a href="#">Admin_serveur.pdf</a>
              </div>
              <button type="button" class="btn" (click)="dimissAttachement()" title="Supprimer"><span class="pia-icons pia-icon-close"></span></button>
            </div>
            <div class="pia-entryContentBlock-footer-validationTools">
              <a routerLink="/home"><i class="fa fa-home" aria-hidden="true"></i><p>Accueil</p></a>
              <a href="#"><i class="fa fa-download" aria-hidden="true"></i><p>Télécharger</p></a>
              <a href="#"><i class="fa fa-file-excel-o" aria-hidden="true"></i><p>Plan d'action</p></a>
            </div>
          </footer>

      </section>
    </div>
    <!--Right sidebar (knowledge base) -->
    <div class="small-12 medium-3 columns">
      <div class="pia-rightSidebarBlock">
        <app-knowledge-base></app-knowledge-base>
      </div>
    </div>
  </div>
</main>

<app-modals></app-modals>
