
<div class="pia-ValidationDPO">
  <div class="pia-entryContentBlock-content">
    <!-- DPO opinions -->
    <div class="pia-entryContentBlock-content-DPO">
      <div>
        <h2>Avis du DPO</h2>
        <button type="button" class="btn pia-questionBlock-edit" *ngIf="displayDpoEditButton" (click)="activateDPOEdition()" title="Éditer"><i class="fa fa-pencil" aria-hidden="true"></i></button>
      </div>
      <form [formGroup]="DPOForm">
        <p>
          <span>
            <ng-container *ngIf="_piaService.pia.status < 2; else displayNames1">
              <input type="text" class="DPOName" (change)="DPOFocusOutNames()" formControlName="DPONames">
            </ng-container>
            <ng-template #displayNames1>
              {{_piaService.pia.dpos_names}}
            </ng-template>
          </span>, considère(nt) que :
        </p>
        <div class="pia-entryContentBlock-content-DPO-treatment">
          <!-- ( ex : <div [ngClass]="_piaService.pia.dpo_status === 1 ? 'checked' : ''> -->
          <div class="checked">
            <input type="radio" id="treatment-1" [attr.dirty]="_piaService.pia.dpo_status === 1" [checked]="_piaService.pia.dpo_status === 1" (change)="DPOFocusOutStatus()" formControlName="DPOStatus" value="1">
            <label for="treatment-1">
              <i class="fa fa-circle" aria-hidden="true"></i>
              <i class="fa fa-check" aria-hidden="true"></i>
              <span>Le traitement pourrait être mis en oeuvre.</span>
            </label>
          </div>
          <div>
            <input type="radio" id="treatment-2" [attr.dirty]="_piaService.pia.dpo_status === 0" [checked]="_piaService.pia.dpo_status === 0" (change)="DPOFocusOutStatus()" formControlName="DPOStatus" value="0">
            <label for="treatment-2">
              <i class="fa fa-circle" aria-hidden="true"></i>
              <i class="fa fa-close" aria-hidden="true"></i>
              <span>Le traitement ne devrait pas être mis en oeuvre.</span>
            </label>
          </div>
        </div>
        <div class="pia-entryContentBlock-content-DPO-reasons">
          <textarea (keyup)="autoTextareaResize($event)" id="pia-opinions-dpo" formControlName="DPOOpinion" (focusout)="DPOFocusOutOpinion()" rows="8" cols="50" placeholder="Précisez les raisons de votre choix"></textarea>
        </div>
      </form>
    </div>
    <!-- Concerned people opinions -->
    <div class="pia-entryContentBlock-content-people">
      <div>
        <h2>Avis des personnes concernées</h2>
        <button type="button" class="btn pia-questionBlock-edit" *ngIf="displayPeopleEditButton" (click)="activatePeopleEdition()" title="Éditer"><i class="fa fa-pencil" aria-hidden="true"></i></button>
      </div>
      <form [formGroup]="peopleForm">
        <p>
          <span>
            <ng-container *ngIf="this._piaService.pia.status < 2; else displayNames2">
              <input type="text" class="DPOName" (change)="peopleFocusOutNames()" formControlName="peopleNames">
            </ng-container>
            <ng-template #displayNames2>
              {{_piaService.pia.people_names}}
            </ng-template>
          </span>, considère(nt) que :
        </p>
        <div class="pia-entryContentBlock-content-DPO-treatment">
          <!-- ( ex : <div [ngClass]="_piaService.pia.concerned_people_status === 1 ? 'checked' : ''> -->
          <div>
            <input type="radio" id="dpoAvis-1" [checked]="_piaService.pia.concerned_people_status == 1" (change)="peopleFocusOutStatus()" formControlName="peopleStatus" value="1">
            <label for="dpoAvis-1">
              <i class="fa fa-circle" aria-hidden="true"></i>
              <i class="fa fa-check" aria-hidden="true"></i>
              <span>Le traitement pourrait être mis en oeuvre.</span>
            </label>
          </div>
          <div>
            <input type="radio" id="dpoAvis-2" [checked]="_piaService.pia.concerned_people_status == 0" (change)="peopleFocusOutStatus()" formControlName="peopleStatus" value="0">
            <label for="dpoAvis-2">
              <i class="fa fa-circle" aria-hidden="true"></i>
              <i class="fa fa-close" aria-hidden="true"></i>
              <span>Le traitement ne devrait pas être mis en oeuvre.</span>
            </label>
          </div>
        </div>
        <div class="pia-entryContentBlock-content-DPO-reasons">
          <textarea (keyup)="autoTextareaResize($event)" id="pia-opinions-people" rows="8" formControlName="peopleOpinion" (focusout)="peopleFocusOutOpinion()" cols="50" placeholder="Décrivez comment les avis ont été collectés et quelle en est l’analyse. Dans le cas où les avis n’ont pas été recherchés, en préciser les raisons."></textarea>
        </div>
      </form>
    </div>
  </div>
</div>
