<div style="color:red;position:absolute;top:10px;left:10px;">Version beta {{appVersion}}</div>
<header class="pia-headerBlock">
  <div class="pia-logoBlock container">
    <div class="row">
      <div class="small-12 medium-12 columns">
        <a href="/home/card"><img src="assets/images/pia-logo.jpg" alt="Logo PIA"></a>
        <div>étude d'impact sur la vie privée<br><span>privacy impact assessment</span></div>
      </div>
    </div>
  </div>
  <nav class="pia-navigationBlock">
    <div class="container">
      <div class="row">
        <div class="small-12 medium-12 columns">
          <ul class="pia-navigationBlock-list">
            <li routerLinkActive="active">
              <a href="/home/card">Accueil</a>
            </li><!--<li>
              <a href="#">CAPTOO</a>
            </li>-->
          </ul>
          <ul class="pia-navigationBlock-list">
            <!--<li>
              <a href="#" title="Base de connaissances">Base de connaissances</a>
            </li><li>
              <a href="#" title="Exemple de PIA">Exemple de PIA</a>
            </li>--><li class="pia-navigationBlock-languages">
              <a href="javascript:;">
                <i class="fa fa-globe" aria-hidden="true"></i>
              </a>
              <ul>
                <li>
                  <a href="javascript:;" title="Basculer le site en français">Français</a>
                </li>
                <li>
                  <a href="javascript:;" onclick="alert('Bientôt disponible.');" title="Basculer le site en anglais">English</a>
                </li>
              </ul>
            </li><li class="pia-navigationBlock-company">
              <a href="javascript:;">
                <i class="fa fa-user" style="display:none;" aria-hidden="true"></i>
                Outils
                <span class="pia-icons pia-icon-scroll" aria-hidden="true"></span>
              </a>
              <form>
                <fieldset>
                  <legend><a routerLink="/settings" title="Paramètres">Paramètres</a></legend>
                  <div>
                    <input type="checkbox" name="pia-accessibility" id="pia-accessibility" [checked]="increaseContrast == 'true'" (change)="changeContrast($event)">
                    <label for="pia-accessibility" title="Accessibilité malvoyants">Accessibilité malvoyants (couleurs à <span>contraste fort, adapté daltonisme)</span></label>
                  </div>
                  <div>
                    <a onclick="alert('Bientôt disponible.');" title="Aide">Aide</a>
                  </div>
                </fieldset>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
