<div class="hide-for-print pia-versionInfoBlock">Version {{appVersion}}</div>
<header class="pia-headerBlock hide-for-print">
  <div class="pia-logoBlock container">
    <div class="row">
      <div class="small-12 medium-12 columns">
        <a href="/home"><img src="assets/images/pia-logo.jpg" alt="Logo PIA"></a>
        <div>{{ 'header.logo_title' | translate }}<br><span>{{ 'header.logo_subtitle' | translate }}</span></div>
      </div>
    </div>
  </div>
  <nav class="pia-navigationBlock">
    <div class="container">
      <div class="row">
        <div class="small-12 medium-12 columns">
          <ul class="pia-navigationBlock-list">
            <li routerLinkActive="active">
              <a href="/home">{{ 'header.homepage_link' | translate }}</a>
            </li>
          </ul>
          <ul class="pia-navigationBlock-list">
            <!--<li>
              <a href="#">{{ 'header.knowledge_base_link' | translate }}</a>
            </li><li>
              <a href="#">{{ 'header.pia_example_link' | translate }}</a>
            </li>--><li class="pia-navigationBlock-languages">
              <a href="javascript:;">
                <i class="fa fa-globe" aria-hidden="true"></i>
              </a>
              <ul>
                <li [ngClass]="{'is_active': selectedLanguage === 'fr'}"
                    (click)="updateCurrentLanguage('fr')">
                  <a (click)="_translateService.use('fr')">
                    {{ 'header.languages.fr' | translate }}
                  </a>
                </li>
                <li [ngClass]="{'is_active': selectedLanguage === 'en'}"
                    (click)="updateCurrentLanguage('en')">
                  <a (click)="_translateService.use('en')">
                    {{ 'header.languages.en' | translate }}
                  </a>
                </li>
              </ul>
            </li><li class="pia-navigationBlock-company">
              <a href="javascript:;">
                <i class="fa fa-user" style="display:none;" aria-hidden="true"></i>
                {{ 'header.tools.title' | translate }}
                <span class="pia-icons pia-icon-scroll" aria-hidden="true"></span>
              </a>
              <form>
                <fieldset>
                  <legend><a routerLink="/settings">{{ 'header.tools.settings' | translate }}</a></legend>
                  <div>
                    <input type="checkbox" name="pia-accessibility" id="pia-accessibility" [checked]="increaseContrast == 'true'" (change)="changeContrast($event)">
                    <label for="pia-accessibility">{{ 'header.tools.accessibility' | translate }}</label>
                  </div>
                  <div>
                    <a routerLink="/help">{{ 'header.tools.help' | translate }}</a>
                  </div>
                </fieldset>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
