@import '../../assets/stylesheets/variables';

.pia {
  
  &-headerBlock {
    background-color: #fff;
    margin-bottom: 24px;
  }
  &-logoBlock {
    //text-align: center;
    margin-bottom: 8px;
    height: 48px;
    a {
      img {
        vertical-align: middle;
      }
    }
    div {
      text-align: left;
      display: inline-block;
      vertical-align: middle;
      font-weight: bold;
      color: $pia-blue;
      padding-top: 2px;
      line-height: 1.25;
      font-size: 1.15rem;
      span {
        font-weight: normal;
      }
    }
    .pia-versionInfoBlock {
      color: $pia-green;
      font-size: 0.90rem;
      margin-left: 5px;
    }
  }
}

#logo img{
  height: 46px;
}

#user-block {
  padding: 10px;
  .logout {
    width: 100%;
    text-align: center;
    border-top: 1px solid $pia-gray;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .profile {
    .user-name {
      text-decoration: none;
      font-weight: 500;
      font-size: 1.4rem;
    }
    .user-email {
      padding-top: 10px;
    }
  }
}
