<div class="hide-for-print pia-versionInfoBlock">Version {{appVersion}}</div>
<header class="pia-headerBlock hide-for-print">
  <div class="pia-logoBlock container">
    <div class="row">
      <div class="small-12 medium-12 columns">
        <a routerLink="/home"><img src="assets/images/pia-logo.jpg" alt="Logo PIA"></a>
        <div>{{ 'header.logo_title' | translate }}<br><span>{{ 'header.logo_subtitle' | translate }}</span></div>
      </div>
    </div>
  </div>
  <nav class="pia-navigationBlock" [ngClass]="{'pia-navigationBlock-structures' : isStructureHeader}">
    <div class="container">
      <div class="row">
        <div class="small-12 medium-12 columns">
          <ul class="pia-navigationBlock-list">
            <li routerLinkActive="active">
              <a routerLink="/home">{{ 'header.homepage_link' | translate }}</a>
            </li>
          </ul>
          <ul class="pia-navigationBlock-list">
            <li routerLinkActive="active">
              <a routerLink="/structures">{{ 'header.structures' | translate }}</a>
            </li><li [ngClass]="{'active': pia_is_example}">
              <a *ngIf="_languagesService.selectedLanguage === 'fr' && pia_example" href="javascript:;" routerLink="/entry/{{pia_example.id}}/section/1/item/1">
                {{ 'header.pia_example_link' | translate }}
              </a>
            </li><li class="pia-navigationBlock-languages">
              <a href="javascript:;">
                <i class="fa fa-globe" aria-hidden="true"></i>
              </a>
              <ul>
                <li class="officialTranslation">{{ 'header.languages.official_translation' | translate }}</li>
                <li [ngClass]="{'is_active': _languagesService.selectedLanguage === 'fr'}">
                  <a href="javascript:;" (click)="_languagesService.updateCurrentLanguage('fr')">
                    {{ 'header.languages.fr' | translate }}
                  </a>
                </li>
                <li class="cnilTranslations">{{ 'header.languages.cnil_translations' | translate }}</li>
                <li class="englishTranslation" [ngClass]="{'is_active': _languagesService.selectedLanguage === 'en'}">
                  <a href="javascript:;" (click)="_languagesService.updateCurrentLanguage('en')">
                    {{ 'header.languages.en' | translate }}
                  </a>
                </li>
                <li class="dpaTranslations">{{ 'header.languages.dpa_translations' | translate }}</li>
                <li [ngClass]="{'is_active': _languagesService.selectedLanguage === 'de'}">
                  <a href="javascript:;" (click)="_languagesService.updateCurrentLanguage('de')">
                    {{ 'header.languages.de' | translate }}
                  </a>
                </li>
                <li [ngClass]="{'is_active': _languagesService.selectedLanguage === 'it'}">
                  <a href="javascript:;" (click)="_languagesService.updateCurrentLanguage('it')">
                    {{ 'header.languages.it' | translate }}
                  </a>
                </li>
                <li [ngClass]="{'is_active': _languagesService.selectedLanguage === 'hu'}">
                  <a href="javascript:;" (click)="_languagesService.updateCurrentLanguage('hu')">
                    {{ 'header.languages.hu' | translate }}
                  </a>
                </li>
                <li [ngClass]="{'is_active': _languagesService.selectedLanguage === 'no'}">
                  <a href="javascript:;" (click)="_languagesService.updateCurrentLanguage('no')">
                    {{ 'header.languages.no' | translate }}
                  </a>
                </li>
                <li [ngClass]="{'is_active': _languagesService.selectedLanguage === 'pl'}">
                  <a href="javascript:;" (click)="_languagesService.updateCurrentLanguage('pl')">
                    {{ 'header.languages.pl' | translate }}
                  </a>
                </li>
                <li [ngClass]="{'is_active': _languagesService.selectedLanguage === 'fi'}">
                  <a href="javascript:;" (click)="_languagesService.updateCurrentLanguage('fi')">
                    {{ 'header.languages.fi' | translate }}
                  </a>
                </li>
                <li class="communityTranslations">{{ 'header.languages.community_translations' | translate }}</li>
                <li [ngClass]="{'is_active': _languagesService.selectedLanguage === 'cz'}">
                  <a href="javascript:;" (click)="_languagesService.updateCurrentLanguage('cz')">
                    {{ 'header.languages.cz' | translate }}
                  </a>
                </li>
                <li [ngClass]="{'is_active': _languagesService.selectedLanguage === 'dk'}">
                  <a href="javascript:;" (click)="_languagesService.updateCurrentLanguage('dk')">
                    {{ 'header.languages.dk' | translate }}
                  </a>
                </li>
                <li [ngClass]="{'is_active': _languagesService.selectedLanguage === 'et'}">
                  <a href="javascript:;" (click)="_languagesService.updateCurrentLanguage('et')">
                    {{ 'header.languages.et' | translate }}
                  </a>
                </li>
                <li [ngClass]="{'is_active': _languagesService.selectedLanguage === 'es'}">
                  <a href="javascript:;" (click)="_languagesService.updateCurrentLanguage('es')">
                    {{ 'header.languages.es' | translate }}
                  </a>
                </li>
                <li [ngClass]="{'is_active': _languagesService.selectedLanguage === 'el'}">
                  <a href="javascript:;" (click)="_languagesService.updateCurrentLanguage('el')">
                    {{ 'header.languages.el' | translate }}
                  </a>
                </li>
                <li [ngClass]="{'is_active': _languagesService.selectedLanguage === 'hr'}">
                  <a href="javascript:;" (click)="_languagesService.updateCurrentLanguage('hr')">
                    {{ 'header.languages.hr' | translate }}
                  </a>
                </li>
                <li [ngClass]="{'is_active': _languagesService.selectedLanguage === 'lt'}">
                  <a href="javascript:;" (click)="_languagesService.updateCurrentLanguage('lt')">
                    {{ 'header.languages.lt' | translate }}
                  </a>
                </li>
                <li [ngClass]="{'is_active': _languagesService.selectedLanguage === 'nl'}">
                  <a href="javascript:;" (click)="_languagesService.updateCurrentLanguage('nl')">
                    {{ 'header.languages.nl' | translate }}
                  </a>
                </li>
                <li [ngClass]="{'is_active': _languagesService.selectedLanguage === 'pt'}">
                  <a href="javascript:;" (click)="_languagesService.updateCurrentLanguage('pt')">
                    {{ 'header.languages.pt' | translate }}
                  </a>
                </li>
                <li [ngClass]="{'is_active': _languagesService.selectedLanguage === 'ro'}">
                  <a href="javascript:;" (click)="_languagesService.updateCurrentLanguage('ro')">
                    {{ 'header.languages.ro' | translate }}
                  </a>
                </li>
              </ul>
            </li><li class="pia-navigationBlock-company">
              <a href="javascript:;">
                <i class="fa fa-user" style="display:none;" aria-hidden="true"></i>
                {{ 'header.tools.title' | translate }}
                <span class="pia-icons pia-icon-scroll" aria-hidden="true"></span>
              </a>
              <form>
                <fieldset>
                  <legend><a routerLink="/settings">{{ 'header.tools.settings' | translate }}</a></legend>
                  <div>
                    <input type="checkbox" name="pia-accessibility" id="pia-accessibility" [checked]="increaseContrast === 'true'" (change)="changeContrast($event)">
                    <label for="pia-accessibility">{{ 'header.tools.accessibility' | translate }}</label>
                  </div>
                  <div>
                    <a routerLink="/help">{{ 'header.tools.help' | translate }}</a>
                  </div>
                  <div>
                    <a routerLink="/about">{{ 'header.tools.about' | translate }}</a>
                  </div>
                </fieldset>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
