<section class="processing-section">
  <header autoscroll="true" class="processing-entryContentBlock-header {{ currentSection.name }}">
    <div>
      <div class="">
          <i class="fa fa-pencil-square-o ng-star-inserted"></i>
      </div>
    </div>
    <div class="processing-entryContentBlock-header-title">
      <h1>{{ currentSection.title | translate }}</h1>
      <h3>{{ currentSection.short_help | translate }}</h3>
    </div>
    <ng-template #defaultBlock>
      <a routerLink="/summary/{{processing.id}}" class="btn processing-previewBlock">
        <span class="processing-icons processing-icon-preview"></span>
        <div>{{ 'processing.header.preview' | translate }}</div>
      </a>
    </ng-template>
  </header>
  <main>

    <form id="processing-form" #processingForm="ngForm">

      <div 
        class="form-field cancel-validate-container" 
        *ngIf="processing.status === processingStatus.STATUS_UNDER_VALIDATION"
      >
        <a
          class="cancel-validation-link" 
          (click)="cancelAskValidation()"
        >
          {{ 'processing.form.cancel_ask_validate_button' | translate }}
        </a>
      </div>

      <ng-container *ngIf="processing.status === processingStatus.STATUS_VALIDATED">
        <div class="validated-label" *ngIf="processing.evaluation_state === processingEvaluationStates.EVALUATION_STATE_ACCEPTABLE">
          {{ 'evaluations.processing_validated' | translate }}
        </div>
        <div class="validated-label" *ngIf="processing.evaluation_state === processingEvaluationStates.EVALUATION_STATE_IMPROVABLE">
          {{ 'evaluations.processing_partialy_validated' | translate }}
        </div>
      </ng-container>

      <fieldset *ngIf="currentSection.id == 1" id="description" class="form-section">
        <div class="form-field">
          <label class="title" for="processing-description">{{ 'processing.form.description.title' | translate }}</label>
          <div (click)="editField(description, ['PIA_LGL_DESC', 'PIA_LGL_FIN'])"
            class="pia-questionBlock-contentText"
            [innerHTML]="processingForm.form.controls['description']?.value | safeHtml"
            [ngClass]="{ 'hide': ((editor && elementId === description.id) || !processingForm.form.controls['description']?.value) }"
          ></div>

          <textarea
            class="field"
            id="processing-description"
            required
            name="description"
            minRows="8"
            cols="50"
            placeholder="{{'processing.form.description.placeholder' | translate }}"
            #description
            (change)="updateProcessing()"
            [(ngModel)]="processing.description"
            [ngClass]="{ 'hide': (processingForm.form.controls['description']?.value && processingForm.form.controls['description']?.value.length > 0) }"
            (focusin)="editField($event.target, ['PIA_LGL_DESC', 'PIA_LGL_FIN'])"
          ></textarea>
          <app-processing-comments [processing]="processing" [field]="'description'"></app-processing-comments>
        </div>

        <div class="form-field">
          <label class="title" for="processing-context_of_implementation">{{ 'processing.form.context_of_implementation.title' | translate }}</label>
          <div (click)="editField(context_of_implementation, ['PIA_LGL_DESC', 'PIA_LGL_FIN'])"
            class="pia-questionBlock-contentText"
            [innerHTML]="processingForm.form.controls['context_of_implementation']?.value | safeHtml"
            [ngClass]="{ 'hide': ((editor && elementId === context_of_implementation.id) || !processingForm.form.controls['context_of_implementation']?.value) }"
          ></div>

          <textarea
            class="field"
            id="processing-context_of_implementation"
            required
            name="context_of_implementation"
            minRows="8"
            cols="50"
            placeholder="{{'processing.form.context_of_implementation.placeholder' | translate }}"
            #context_of_implementation
            (change)="updateProcessing()"
            [(ngModel)]="processing.context_of_implementation"
            [ngClass]="{ 'hide': (processingForm.form.controls['context_of_implementation']?.value && processingForm.form.controls['context_of_implementation']?.value.length > 0) }"
            (focusin)="editField($event.target, ['PIA_LGL_DESC', 'PIA_LGL_FIN'])"
          ></textarea>
          <app-processing-comments [processing]="processing" [field]="'context'"></app-processing-comments>
        </div>

        <div class="form-field">
          <label class="title" for="processing-controllers">{{ 'processing.form.controllers.title' | translate }}</label>
          <div (click)="editField(controllers, ['PIA_VAL_RT', 'PIA_LGL_DESC', 'PIA_DEF_RT'])"
            class="pia-questionBlock-contentText"
            [innerHTML]="processingForm.form.controls['controllers']?.value | safeHtml"
            [ngClass]="{ 'hide': ((editor && elementId === controllers.id) || !processingForm.form.controls['controllers']?.value) }"
          ></div>

          <textarea
            class="field"
            id="processing-controllers"
            required
            name="controllers"
            minRows="8"
            cols="50"
            placeholder="{{'processing.form.controllers.placeholder' | translate }}"
            #controllers
            (change)="updateProcessing()"
            [(ngModel)]="processing.controllers"
            [ngClass]="{ 'hide': (processingForm.form.controls['controllers']?.value && processingForm.form.controls['controllers']?.value.length > 0) }"
            (focusin)="editField($event.target, ['PIA_VAL_RT', 'PIA_LGL_DESC', 'PIA_DEF_RT'])"
          ></textarea>
          <app-processing-comments [processing]="processing" [field]="'controllers'"></app-processing-comments>
        </div>

        <div class="form-field">
          <label class="title" for="processing-lawfulness">{{ 'processing.form.lawfulness.title' | translate }}</label>
          <div (click)="editField(lawfulness, ['PIA_LGL_FOND'])"
            class="pia-questionBlock-contentText"
            [innerHTML]="processingForm.form.controls['lawfulness']?.value | safeHtml"
            [ngClass]="{ 'hide': ((editor && elementId === lawfulness.id) || !processingForm.form.controls['lawfulness']?.value) }"
          ></div>

          <textarea
            class="field"
            id="processing-lawfulness"
            required
            name="lawfulness"
            minRows="8"
            cols="50"
            placeholder="{{'processing.form.lawfulness.placeholder' | translate}}"
            #lawfulness
            (change)="updateProcessing()"
            [(ngModel)]="processing.lawfulness"
            [ngClass]="{ 'hide': (processingForm.form.controls['lawfulness']?.value && processingForm.form.controls['lawfulness']?.value.length > 0) }"
            (focusin)="editField($event.target, ['PIA_LGL_FOND'])"
          ></textarea>
          <app-processing-comments [processing]="processing" [field]="'lawfulness'"></app-processing-comments>
        </div>

        <div class="form-field">
          <label class="title" for="processing-standards">{{ 'processing.form.standards.title' | translate }}</label>
          <div (click)="editField(standards, ['PIA_LGL_FOND'])"
            class="pia-questionBlock-contentText"
            [innerHTML]="processingForm.form.controls['standards']?.value | safeHtml"
            [ngClass]="{ 'hide': ((editor && elementId === standards.id) || !processingForm.form.controls['standards']?.value) }"
          ></div>

          <textarea
            class="field"
            id="processing-standards"
            required
            name="standards"
            minRows="8"
            cols="50"
            placeholder="{{'processing.form.standards.placeholder' | translate}}"
            #standards
            (change)="updateProcessing()"
            [(ngModel)]="processing.standards"
            [ngClass]="{ 'hide': (processingForm.form.controls['standards']?.value && processingForm.form.controls['standards']?.value.length > 0) }"
            (focusin)="editField($event.target, ['PIA_LGL_FOND'])"
          ></textarea>
          <app-processing-comments [processing]="processing" [field]="'standards'"></app-processing-comments>
        </div>

        <div class="form-field">
          <label class="title" for="processing-consent">{{ 'processing.form.consent.title' | translate }}</label>
          <div (click)="editField(consent, ['PIA_LGL_CONS', 'PIA_LGL_INFO', 'PIA_DEF_CONS'])"
            class="pia-questionBlock-contentText"
            [innerHTML]="processingForm.form.controls['consent']?.value | safeHtml"
            [ngClass]="{ 'hide': ((editor && elementId === consent.id) || !processingForm.form.controls['consent']?.value) }"
          ></div>

          <textarea
            class="field"
            id="processing-consent"
            required
            name="consent"
            minRows="8"
            cols="50"
            placeholder="{{'processing.form.consent.placeholder' | translate}}"
            #consent
            (change)="updateProcessing()"
            [(ngModel)]="processing.consent"
            [ngClass]="{ 'hide': (processingForm.form.controls['consent']?.value && processingForm.form.controls['consent']?.value.length > 0) }"
            (focusin)="editField($event.target, ['PIA_LGL_CONS', 'PIA_LGL_INFO', 'PIA_DEF_CONS'])"
          ></textarea>
          <app-processing-comments [processing]="processing" [field]="'consent'"></app-processing-comments>
        </div>

        <div class="form-field">
          <label class="title" for="processing-rights-guarantee">{{ 'processing.form.rights_guarantee.title' | translate }}</label>
          <div (click)="editField(guarantee, ['PIA_DEF_ACC', 'PIA_DEF_PORT', 'PIA_DEF_RECT', 'PIA_DEF_EFF', 'PIA_DEF_LIM'])"
            class="pia-questionBlock-contentText"
            [innerHTML]="processingForm.form.controls['guarantee']?.value | safeHtml"
            [ngClass]="{ 'hide': ((editor && elementId === guarantee.id) || !processingForm.form.controls['guarantee']?.value) }"
          ></div>

          <textarea
            class="field"
            id="processing-rights-guarantee"
            required
            name="guarantee"
            minRows="8"
            cols="50"
            placeholder="{{'processing.form.rights_guarantee.placeholder' | translate}}"
            #guarantee
            (change)="updateProcessing()"
            [(ngModel)]="processing.rights_guarantee"
            [ngClass]="{ 'hide': (processingForm.form.controls['guarantee']?.value && processingForm.form.controls['guarantee']?.value.length > 0) }"
            (focusin)="editField($event.target, ['PIA_DEF_ACC', 'PIA_DEF_PORT', 'PIA_DEF_RECT', 'PIA_DEF_EFF', 'PIA_DEF_LIM'])"
          ></textarea>
          <app-processing-comments [processing]="processing" [field]="'rights-guarantee'"></app-processing-comments>
        </div>
      </fieldset>

      <fieldset [hidden]="currentSection.id !== 2" id="data" class="form-section">
        <div class="form-field">
          <label class="title" for="processing-data-types">{{ 'processing.form.data-types' | translate }}</label>
          <app-processing-data-types
            [(ngModel)]="processing.processing_data_types"
            name="data-types"
            id="processing-data-types"
            (click)="updateKnowledgeBase(['PIA_LGL_DATA', 'PIA_LGL_DUR'])"
            (change)="updateProcessing(true)"
            [processingId]="processing.id"
          ></app-processing-data-types>
          <app-processing-comments [processing]="processing" [field]="'data-types'"></app-processing-comments>
        </div>

        <div class="form-field">
          <label class="title" for="processing-concerned-people">{{ 'processing.form.concerned_people.title' | translate }}</label>
          <div (click)="editField(concernedPeople)"
            class="pia-questionBlock-contentText"
            [innerHTML]="processingForm.form.controls['concerned-people']?.value | safeHtml"
            [ngClass]="{ 'hide': ((editor && elementId === concernedPeople.id) || !processingForm.form.controls['concerned-people']?.value) }"
          ></div>

          <textarea
            class="field"
            id="processing-concerned-people"
            required
            name="concerned-people"
            minRows="8"
            cols="50"
            placeholder="{{'processing.form.concerned_people.placeholder' | translate}}"
            #concernedPeople
            (change)="updateProcessing()"
            [(ngModel)]="processing.concerned_people"
            [ngClass]="{ 'hide': (processingForm.form.controls['concerned-people']?.value && processingForm.form.controls['concerned-people']?.value.length > 0) }"
            (focusin)="editField($event.target)"
          ></textarea>
          <app-processing-comments [processing]="processing" [field]="'concerned_people'"></app-processing-comments>
        </div>

        <div class="form-field">
          <label class="title" for="processing-exactness">{{ 'processing.form.exactness.title' | translate }}</label>
          <div (click)="editField(exactness, ['PIA_DEF_EXA'])"
            class="pia-questionBlock-contentText"
            [innerHTML]="processingForm.form.controls['exactness']?.value | safeHtml"
            [ngClass]="{ 'hide': ((editor && elementId === exactness.id) || !processingForm.form.controls['exactness']?.value) }"
          ></div>

          <textarea
            class="field"
            id="processing-exactness"
            required
            name="exactness"
            minRows="8"
            cols="50"
            placeholder="{{'processing.form.exactness.placeholder' | translate}}"
            #exactness
            (change)="updateProcessing()"
            [(ngModel)]="processing.exactness"
            [ngClass]="{ 'hide': (processingForm.form.controls['exactness']?.value && processingForm.form.controls['exactness']?.value.length > 0) }"
            (focusin)="editField($event.target, ['PIA_DEF_EXA'])"
          ></textarea>
          <app-processing-comments [processing]="processing" [field]="'exactness'"></app-processing-comments>
        </div>

        <div class="form-field">
          <label class="title" for="processing-minimization">{{ 'processing.form.minimization.title' | translate }}</label>
          <div (click)="editField(minimization, ['PIA_LGL_MINI', 'PIA_DF_MINC', 'PIA_DEF_MIND'])"
            class="pia-questionBlock-contentText"
            [innerHTML]="processingForm.form.controls['minimization']?.value | safeHtml"
            [ngClass]="{ 'hide': ((editor && elementId === minimization.id) || !processingForm.form.controls['minimization']?.value) }"
          ></div>

          <textarea
            class="field"
            id="processing-minimization"
            required
            name="minimization"
            minRows="8"
            cols="50"
            placeholder="{{'processing.form.minimization.placeholder' | translate}}"
            #minimization
            (change)="updateProcessing()"
            [(ngModel)]="processing.minimization"
            [ngClass]="{ 'hide': (processingForm.form.controls['minimization']?.value && processingForm.form.controls['minimization']?.value.length > 0) }"
            (focusin)="editField($event.target, ['PIA_LGL_MINI', 'PIA_DF_MINC', 'PIA_DEF_MIND'])"
          ></textarea>
          <app-processing-comments [processing]="processing" [field]="'minimization'"></app-processing-comments>
        </div>

        <div class="form-field">
          <label class="title" for="processing-storage">{{ 'processing.form.storage.title' | translate }}</label>
          <div (click)="editField(storage, ['PIA_LGL_SUPT'])"
            class="pia-questionBlock-contentText"
            [innerHTML]="processingForm.form.controls['storage']?.value | safeHtml"
            [ngClass]="{ 'hide': ((editor && elementId === storage.id) || !processingForm.form.controls['storage']?.value) }"
          ></div>

          <textarea
            class="field"
            id="processing-storage"
            required
            name="storage"
            minRows="8"
            cols="50"
            placeholder="{{'processing.form.storage.placeholder' | translate}}"
            #storage
            (change)="updateProcessing()"
            [(ngModel)]="processing.storage"
            [ngClass]="{ 'hide': (processingForm.form.controls['storage']?.value && processingForm.form.controls['storage']?.value.length > 0) }"
            (focusin)="editField($event.target, ['PIA_LGL_SUPT'])"
          ></textarea>
          <app-processing-comments [processing]="processing" [field]="'storage'"></app-processing-comments>
        </div>
      </fieldset>

      <fieldset *ngIf="currentSection.id == 3" id="lifecycle" class="form-section">
          <div class="form-field">
            <label class="title" for="processing-lifecycle">{{ 'processing.form.lifecycle.title' | translate }}</label>
            <div (click)="editField(lifecycle, ['PIA_LGL_LFC'])"
              class="pia-questionBlock-contentText"
              [innerHTML]="processingForm.form.controls['lifecycle']?.value | safeHtml"
              [ngClass]="{ 'hide': ((editor && elementId === lifecycle.id) || !processingForm.form.controls['lifecycle']?.value) }"
            ></div>

            <textarea
              class="field"
              id="processing-lifecycle"
              required
              name="lifecycle"
              minRows="8"
              cols="50"
              placeholder="{{'processing.form.lifecycle.placeholder' | translate}}"
              #lifecycle
              (change)="updateProcessing()"
              [(ngModel)]="processing.life_cycle"
              [ngClass]="{ 'hide': (processingForm.form.controls['lifecycle']?.value && processingForm.form.controls['lifecycle']?.value.length > 0) }"
              (focusin)="editField($event.target, ['PIA_LGL_LFC'])"
            ></textarea>
            <app-processing-comments [processing]="processing" [field]="'lifecycle'"></app-processing-comments>
          </div>
          <div class="form-field">
            <label class="title" for="processing-processors">{{ 'processing.form.processors.title' | translate }}</label>
            <div (click)="editField(processors, ['PIA_LGL_ST', 'PIA_LGL_DEST'])"
              class="pia-questionBlock-contentText"
              [innerHTML]="processingForm.form.controls['processors']?.value | safeHtml"
              [ngClass]="{ 'hide': ((editor && elementId === processors.id) || !processingForm.form.controls['processors']?.value) }"
            ></div>

            <textarea
              class="field"
              id="processing-processors"
              required
              name="processors"
              minRows="8"
              cols="50"
              placeholder="{{'processing.form.processors.placeholder' | translate}}"
              #processors
              (change)="updateProcessing()"
              [(ngModel)]="processing.processors"
              [ngClass]="{ 'hide': (processingForm.form.controls['processors']?.value && processingForm.form.controls['processors']?.value.length > 0) }"
              (focusin)="editField($event.target, ['PIA_LGL_ST', 'PIA_LGL_DEST'])"
            ></textarea>
            <app-processing-comments [processing]="processing" [field]="'processors'"></app-processing-comments>
          </div>
          <div class="form-field">
            <label class="title" for="processing-recipients">{{ 'processing.form.recipients.title' | translate }}</label>
            <div (click)="editField(recipients, ['PIA_LGL_ST', 'PIA_LGL_DEST'])"
              class="pia-questionBlock-contentText"
              [innerHTML]="processingForm.form.controls['recipients']?.value | safeHtml"
              [ngClass]="{ 'hide': ((editor && elementId === recipients.id) || !processingForm.form.controls['recipients']?.value) }"
            ></div>

            <textarea
              class="field"
              id="processing-recipients"
              required
              name="recipients"
              minRows="8"
              cols="50"
              placeholder="{{'processing.form.recipients.placeholder' | translate}}"
              #recipients
              (change)="updateProcessing()"
              [(ngModel)]="processing.recipients"
              [ngClass]="{ 'hide': (processingForm.form.controls['recipients']?.value && processingForm.form.controls['recipients']?.value.length > 0) }"
              (focusin)="editField($event.target, ['PIA_LGL_ST', 'PIA_LGL_DEST'])"
            ></textarea>
            <app-processing-comments [processing]="processing" [field]="'recipients'"></app-processing-comments>
          </div>
          <div class="form-field">
            <label class="title" for="processing-non-eu-transfer">{{ 'processing.form.non-eu-transfer.title' | translate }}</label>
            <div (click)="editField(nonEuTransfer, ['PIA_LGL_TRAN'])"
              class="pia-questionBlock-contentText"
              [innerHTML]="processingForm.form.controls['non-eu-transfer']?.value | safeHtml"
              [ngClass]="{ 'hide': ((editor && elementId === nonEuTransfer.id) || !processingForm.form.controls['non-eu-transfer']?.value) }"
            ></div>

            <textarea
              class="field"
              id="processing-non-eu-transfer"
              required
              name="non-eu-transfer"
              minRows="8"
              cols="50"
              placeholder="{{'processing.form.non-eu-transfer.placeholder' | translate}}"
              #nonEuTransfer
              (change)="updateProcessing()"
              [(ngModel)]="processing.non_eu_transfer"
              [ngClass]="{ 'hide': (processingForm.form.controls['non-eu-transfer']?.value && processingForm.form.controls['non-eu-transfer']?.value.length > 0) }"
              (focusin)="editField($event.target, ['PIA_LGL_TRAN'])"
            ></textarea>
            <app-processing-comments [processing]="processing" [field]="'non-eu-transfer'"></app-processing-comments>
          </div>
      </fieldset>

      <div 
        class="form-field validate-container ready" 
        *ngIf="processing.status === processingStatus.STATUS_DOING"
      >
        <button 
          class="btn btn-green expanded"
          (click)="askValidation()"
        >
          {{ 'processing.form.ask_validate_button' | translate }}
        </button>
      </div>

      <app-evaluation-block [processing]="processing" (processingUpdated)="onProcessngUpdated($event)"></app-evaluation-block>

    </form>
  </main>
</section>
