<section class="processing-setion">
  <header autoscroll="true" class="processing-entryContentBlock-header {{ currentSection.name }}">
    <div>
      <div class="processing-entryContentBlock-header-progress">
      </div>
    </div>
    <div class="processing-entryContentBlock-header-title">
      <h1>{{ currentSection.title | translate }}</h1>
      <h3>{{ currentSection.short_help | translate }}</h3>
    </div>
    <ng-template #defaultBlock>
      <a routerLink="/summary/{{processing.id}}" class="btn processing-previewBlock">
        <span class="processing-icons processing-icon-preview"></span>
        <div>{{ 'processing.header.preview' | translate }}</div>
      </a>
    </ng-template>
  </header>
  <main>

    <form id="processing-form" #processingForm="ngForm">

      <fieldset *ngIf="currentSection.id == 1" id="description" class="form-section">
        <div class="form-field">
          <label class="title" for="processing-description">{{ 'processing.form.description.title' | translate }}</label>
          <div (click)="editField(description, ['PIA_LGL_DESC', 'PIA_LGL_FIN'])"
            class="pia-questionBlock-contentText"
            [innerHTML]="processingForm.form.controls['description']?.value | safeHtml"
            [ngClass]="{ 'hide': ((editor && elementId === description.id) || !processingForm.form.controls['description']?.value) }"
          ></div>

          <textarea
            class="field"
            id="processing-description"
            required
            name="description"
            minRows="8"
            cols="50"
            placeholder="{{'processing.form.description.placeholder' | translate }}"
            #description
            (change)="updateProcessing()"
            [(ngModel)]="processing.description"
            [ngClass]="{ 'hide': (processingForm.form.controls['description']?.value && processingForm.form.controls['description']?.value.length > 0) }"
            (focusin)="editField($event.target, ['PIA_LGL_DESC', 'PIA_LGL_FIN'])"
          ></textarea>
        </div>

        <div class="form-field">
          <label class="title" for="processing-standards">{{ 'processing.form.standards.title' | translate }}</label>
          <div (click)="editField(standards, ['PIA_LGL_FOND'])"
            class="pia-questionBlock-contentText"
            [innerHTML]="processingForm.form.controls['standards']?.value | safeHtml"
            [ngClass]="{ 'hide': ((editor && elementId === standards.id) || !processingForm.form.controls['standards']?.value) }"
          ></div>

          <textarea
            class="field"
            id="processing-standards"
            required
            name="standards"
            minRows="8"
            cols="50"
            placeholder="{{'processing.form.standards.placeholder' | translate}}"
            #standards
            (change)="updateProcessing()"
            [(ngModel)]="processing.standards"
            [ngClass]="{ 'hide': (processingForm.form.controls['standards']?.value && processingForm.form.controls['standards']?.value.length > 0) }"
            (focusin)="editField($event.target, ['PIA_LGL_FOND'])"
          ></textarea>
        </div>
      </fieldset>

      <fieldset *ngIf="currentSection.id == 2" id="data" class="form-section">
        <div class="form-field">
          <label class="title" for="processing-data-types">{{ 'processing.form.data-types' | translate }}</label>
          <app-processing-data-types
            [(ngModel)]="processing.processing_data_types"
            name="data-types"
            id="processing-data-types"
            (click)="updateKnowledgeBase(['PIA_LGL_DATA', 'PIA_LGL_DUR'])"
            (change)="updateProcessing(true)"
            [processingId]="processing.id"
          ></app-processing-data-types>
        </div>

        <div class="form-field">
          <label class="title" for="processing-storage">{{ 'processing.form.storage.title' | translate }}</label>
          <div (click)="editField(storage, ['PIA_LGL_SUPT'])"
            class="pia-questionBlock-contentText"
            [innerHTML]="processingForm.form.controls['storage']?.value | safeHtml"
            [ngClass]="{ 'hide': ((editor && elementId === storage.id) || !processingForm.form.controls['storage']?.value) }"
          ></div>

          <textarea
            class="field"
            id="processing-storage"
            required
            name="storage"
            minRows="8"
            cols="50"
            placeholder="{{'processing.form.storage.placeholder' | translate}}"
            #storage
            (change)="updateProcessing()"
            [(ngModel)]="processing.storage"
            [ngClass]="{ 'hide': (processingForm.form.controls['storage']?.value && processingForm.form.controls['storage']?.value.length > 0) }"
            (focusin)="editField($event.target, ['PIA_LGL_SUPT'])"
          ></textarea>
        </div>
      </fieldset>

      <fieldset *ngIf="currentSection.id == 3" id="lifecycle" class="form-section">
          <div class="form-field">
            <label class="title" for="processing-lifecycle">{{ 'processing.form.lifecycle.title' | translate }}</label>
            <div (click)="editField(lifecycle, ['PIA_LGL_LFC'])"
              class="pia-questionBlock-contentText"
              [innerHTML]="processingForm.form.controls['lifecycle']?.value | safeHtml"
              [ngClass]="{ 'hide': ((editor && elementId === lifecycle.id) || !processingForm.form.controls['lifecycle']?.value) }"
            ></div>

            <textarea
              class="field"
              id="processing-lifecycle"
              required
              name="lifecycle"
              minRows="8"
              cols="50"
              placeholder="{{'processing.form.lifecycle.placeholder' | translate}}"
              #lifecycle
              (change)="updateProcessing()"
              [(ngModel)]="processing.life_cycle"
              [ngClass]="{ 'hide': (processingForm.form.controls['lifecycle']?.value && processingForm.form.controls['lifecycle']?.value.length > 0) }"
              (focusin)="editField($event.target, ['PIA_LGL_LFC'])"
            ></textarea>
          </div>
          <div class="form-field">
            <label class="title" for="processing-processors">{{ 'processing.form.processors.title' | translate }}</label>
            <div (click)="editField(processors, ['PIA_LGL_ST', 'PIA_LGL_DEST'])"
              class="pia-questionBlock-contentText"
              [innerHTML]="processingForm.form.controls['processors']?.value | safeHtml"
              [ngClass]="{ 'hide': ((editor && elementId === processors.id) || !processingForm.form.controls['processors']?.value) }"
            ></div>

            <textarea
              class="field"
              id="processing-processors"
              required
              name="processors"
              minRows="8"
              cols="50"
              placeholder="{{'processing.form.processors.placeholder' | translate}}"
              #processors
              (change)="updateProcessing()"
              [(ngModel)]="processing.processors"
              [ngClass]="{ 'hide': (processingForm.form.controls['processors']?.value && processingForm.form.controls['processors']?.value.length > 0) }"
              (focusin)="editField($event.target, ['PIA_LGL_ST', 'PIA_LGL_DEST'])"
            ></textarea>
          </div>
          <div class="form-field">
            <label class="title" for="processing-non-eu-transfer">{{ 'processing.form.non-eu-transfer.title' | translate }}</label>
            <div (click)="editField(nonEuTransfer, ['PIA_LGL_TRAN'])"
              class="pia-questionBlock-contentText"
              [innerHTML]="processingForm.form.controls['non-eu-transfer']?.value | safeHtml"
              [ngClass]="{ 'hide': ((editor && elementId === nonEuTransfer.id) || !processingForm.form.controls['non-eu-transfer']?.value) }"
            ></div>

            <textarea
              class="field"
              id="processing-non-eu-transfer"
              required
              name="non-eu-transfer"
              minRows="8"
              cols="50"
              placeholder="{{'processing.form.non-eu-transfer.placeholder' | translate}}"
              #nonEuTransfer
              (change)="updateProcessing()"
              [(ngModel)]="processing.non_eu_transfer"
              [ngClass]="{ 'hide': (processingForm.form.controls['non-eu-transfer']?.value && processingForm.form.controls['non-eu-transfer']?.value.length > 0) }"
              (focusin)="editField($event.target, ['PIA_LGL_TRAN'])"
            ></textarea>
          </div>
      </fieldset>
    </form>
  </main>
</section>
