<div class="pia-knowledgeBaseBlock-item" [attr.data-slug]="item.slug">
  <div class="pia-knowledgeBaseBlock-item-accordion">
    <button class="btn" type="button" (click)="displayItem()" title="Afficher / masquer"><span class="pia-icons pia-icon-accordeon-up"></span></button>
  </div><div class="pia-knowledgeBaseBlock-item-definition">
    <p>{{item.category}}</p>
    <button *ngIf="item.filters.startsWith('measure.')" class="btn" type="button" (click)="addNewMeasure()" title="Ajouter une mesure">
      <span class="pia-icons pia-icon-add"></span>
      <p>Ajouter</p>
    </button>
    <div style="display:none;">
      <span class="pia-icons pia-icon-hand"></span>
      <p>Ajoutez aussi une mesure à partir de la base de connaissance.</p>
    </div>
  </div>
  <div class="pia-knowledgeBaseBlock-item-title">
    <p>{{item.name}}</p>
  </div>
  <div class="pia-knowledgeBaseBlock-item-content hide" [innerHTML]="item.description">
  </div>
</div>
