@import "src/assets/stylesheets/variables";
.pia-structure-wrapper {
  position: relative;
  &:hover {
    &:after {
      content: "";
      position: absolute;
      top: 8px;
      right: 8px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: $pia-green transparent transparent transparent;
    }
  }
}
#structure {
  font-size: 1.4rem;
  color: $pia-gray-dark;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 22px;
  outline: none;
  &::-ms-expand {
    display: none;
  }
  background: none;
  border: none;
  &:hover {
    outline: 1px dotted $pia-green;
  }
}

.pia-cardsBlock-item-form {
  text-align: left;
  position: relative;
}
.pia-cardsBlock-item-status {
  display: flex;
  justify-content: space-between;
  &-infos {
    width: auto;
  }
}

#modal-new-knowledgeBase {
  input {
    &:focus,
    &:hover,
    &:active {
      outline: 1px dotted $pia-red;
    }
  }
  .pia-modalBlock-content,
  .pia-cardsBlock-item-btn {
    border-color: $pia-red;
  }
}
.guest {
  max-height: 60px;
  overflow: auto;
}
