<div class="pia-knowledgeBaseBlock">
  <div class="pia-knowledgeBaseBlock-header">
    <i class="fa fa-book" aria-hidden="true"></i>
    <h1>Base de connaissance</h1>
  </div>

  <app-knowledge-base-search></app-knowledge-base-search>

  <!-- TODO : show this component only if we are on "Mesures existantes ou prévues" subsection -->
  <app-knowledge-base-filters></app-knowledge-base-filters>

  <!-- Contains each knowledge base item -->
  <div class="pia-knowledgeBaseBlock-list">
    <app-knowledge-base-item></app-knowledge-base-item>
    <app-knowledge-base-item></app-knowledge-base-item>
    <app-knowledge-base-item></app-knowledge-base-item>
  </div>
</div>
