<div class="pia-attachmentsBlock">
  <p>Pièces jointes</p>

  <app-attachment-item *ngFor="let attachment of _attachmentsService.attachments;let i=index" [attachment]="attachment"></app-attachment-item>

  <form enctype="multipart/form-data" [formGroup]="attachmentForm" *ngIf="pia.status != 2 && pia.status != 3">
    <input type="file" formControlName="attachment_file" id="attachment_file" (change)="uploadAttachement($event)" class="hide">
    <button class="pia-attachmentsBlock-addBtn btn" type="button" (click)="addAttachment()" title="Ajouter">
      <span class="pia-icons pia-icon-add"></span>
      Ajouter
    </button>
  </form>
</div>

<!--<app-modals></app-modals>-->
