<div class="pia-validation-PlanAction">
  <div class="pia-entryContentBlock-content">
    <!-- Action plan graph -->
    <div class="pia-entryContentBlock-content pia-actionPlanGraphBlock">
      <h2>Vue d'ensemble</h2>
      <div class="row">
        <div class="medium-6 columns pia-actionPlanGraphBlock-left">
          <h3>Principes Fondamentaux</h3>
          <div class="pia-actionPlanGraphBlock-item" *ngFor="let r of results">
            <span class="pia-list">{{r.short_title}}</span>
            <span class="pia-box" [ngClass]="{'pia-blue': r.status === 2, 'pia-red': r.status === 1}"></span>
            <span class="pia-box" [ngClass]="{'pia-green': r.status === 3, 'pia-red': r.status === 1}"></span>
          </div>
        </div>
        <div class="medium-6 columns pia-actionPlanGraphBlock-right">
          <h3>Mesures</h3>
          <div class="pia-actionPlanGraphBlock-right-measures">
            <div class="pia-actionPlanGraphBlock-right-measures-scroll" *ngIf="measures">
              <div *ngFor="let measure of measures" class="pia-actionPlanGraphBlock-item">
                <span class="pia-box" [ngClass]="{'pia-blue': measure.status === 2, 'pia-red': measure.status === 1}"></span>
                <span class="pia-box" [ngClass]="{'pia-green': measure.status === 3, 'pia-red': measure.status === 1}"></span>
                <span class="pia-list">{{measure.name}}</span>
              </div>
            </div>
          </div>
          <h3>Risques</h3>
          <div class="pia-actionPlanGraphBlock-item" *ngIf="risks && risks['3.2']">
            <span class="pia-box" [ngClass]="{'pia-blue': risks['3.2']['status'] === 2, 'pia-red': risks['3.2']['status'] === 1}"></span>
            <span class="pia-box" [ngClass]="{'pia-green': risks['3.2']['status'] === 3, 'pia-red': risks['3.2']['status'] === 1}"></span>
            <span class="pia-list">Accès illégitime aux données</span>
          </div>
          <div class="pia-actionPlanGraphBlock-item" *ngIf="risks && risks['3.3']">
            <span class="pia-box" [ngClass]="{'pia-blue': risks['3.3']['status'] === 2, 'pia-red': risks['3.3']['status'] === 1}"></span>
            <span class="pia-box" [ngClass]="{'pia-green': risks['3.3']['status'] === 3, 'pia-red': risks['3.3']['status'] === 1}"></span>
            <span class="pia-list">Modifications de données</span>
          </div>
          <div class="pia-actionPlanGraphBlock-item" *ngIf="risks && risks['3.4']">
            <span class="pia-box" [ngClass]="{'pia-blue': risks['3.4']['status'] === 2, 'pia-red': risks['3.4']['status'] === 1}"></span>
            <span class="pia-box" [ngClass]="{'pia-green': risks['3.4']['status'] === 3, 'pia-red': risks['3.4']['status'] === 1}"></span>
            <span class="pia-list">Disparition de données</span>
          </div>
        </div>
        <div class="pia-legend">
          <p>Mesures Améliorables</p>
          <p>Mesures acceptables</p>
        </div>
      </div>
    </div>

    <!-- Principles action plans -->
    <div class="pia-entryContentBlock-content-fundamental">
      <h2>Principes fondamentaux</h2>
      <div *ngIf="noPrinciplesActionPlan; else listPrinciplesActionPlanComment">
        <div class="pia-entryContentBlock-content-details-blocks">
          <div class="pia-details-blocks-content">
            <div>Aucun plan d'action enregistré.</div>
          </div>
        </div>
      </div>
      <ng-template #listPrinciplesActionPlanComment>
        <app-action-plan-implementation *ngFor="let data of results" [data]="data"></app-action-plan-implementation>
      </ng-template>
    </div>
    <!-- Measures action plans -->
    <div class="pia-entryContentBlock-content-measures">
      <h2>Mesures existantes ou prévues</h2>
      <div class="pia-entryContentBlock-content-details-blocks">
        <div class="pia-details-blocks-content">
          <div *ngIf="noMeasuresActionPlan; else listMeasuresActionPlanComment">
            Aucun plan d'action enregistré.
          </div>
          <ng-template #listMeasuresActionPlanComment>
            <div *ngFor="let m of measures">
              {{m.action_plan_comment}}
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <!-- Risks action plans -->
    <div class="pia-entryContentBlock-content-risks">
      <h2>Risques</h2>
      <div class="pia-entryContentBlock-content-details-blocks">
        <div class="pia-details-blocks-content">
          <div *ngIf="noRisksActionPlan; else listRisksActionPlanComment">
            Aucun plan d'action enregistré.
          </div>
          <ng-template #listRisksActionPlanComment>
            <div *ngIf="risks['3.2']">
              {{risks['3.2'].action_plan_comment}}
            </div>
            <div *ngIf="risks['3.3']">
              {{risks['3.3'].action_plan_comment}}
            </div>
            <div *ngIf="risks['3.4']">
              {{risks['3.4'].action_plan_comment}}
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
