@import "src/assets/stylesheets/variables";
tr {
  display: table-row;
}
.app-list-item {
  display: table-row;
  &:nth-child(even) {
    background-color: rgba(62, 224, 149, 0.15);
  }
  &:hover {
    background-color: rgba(62, 224, 149, 0.25);
  }
}
.pia-listsBlock-item {
  position: relative;
  padding: 0 10px;
  cursor: pointer;
  white-space: nowrap;
  /* overflow: hidden; */
  &-title {
    width: 270px !important;
    div:first-child {
      width: 230px !important;
    }
  }
  &:first-child {
    div[contenteditable] {
      vertical-align: middle;
      display: inline-block;
      width: 80%;
    }
  }
  div[contenteditable] {
    cursor: text;
    white-space: nowrap;
    overflow: hidden;
    &:focus,
    &:hover,
    &:active {
      outline: 1px dotted $pia-green;
    }
    &:focus,
    &:active {
      background-color: #fff;
    }
  }
  &:last-child {
    cursor: default;
  }
  &-actions {
    display: flex;
    justify-content: space-around;
    a {
      color: $pia-green;
      font-size: 1.8rem;
      margin: 0 4px;
      width: 18px;
    }
  }
  &-attachment {
    position: absolute;
    right: 10px;
    top: 4px;
    cursor: pointer;
    ul {
      display: none;
      position: absolute;
      z-index: 999;
      top: 18px;
      left: 2px;
      font-size: 1rem;
      color: $pia-gray-dark;
      background-color: #fff;
      text-align: center;
      min-width: 100px;
      margin: 10px 0;
      padding: 2px 4px;
      box-shadow: 1px 1px 2px 1px rgba(214, 212, 214, 1);
      li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        border-bottom: 1px dotted $pia-gray-dark;
        padding: 2px 0;
        &:last-child {
          border-bottom: none;
        }
      }
    }
    &:focus,
    &:hover,
    &:active {
      ul {
        display: block;
      }
    }
  }
}

.tag-input-container {
  position: relative;
  label {
    display: block;
    width: 100%;
  }
  tag-input {
    z-index: 200;
  }
  .btn-add-user {
    color: $pia-blue;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 7px;
  }
  // tag-input,
  // .btn-add-user {
  //   display: inline-block;
  // }
}
