@import "src/assets/stylesheets/variables";

// New PIA
.pia-newBlock {
  > #pia-new-card {
    border: 1px solid $pia-gray;
    padding-right: 0;
  }
  &-item {
    background: url("~src/assets/images/pia-bg.png") repeat center center;
    padding: 70px 40px;
    font-size: 1.9rem;
    color: $pia-green;
    height: 500px;
    width: 276px;
    &-new,
    &-import {
      &-title {
        padding-bottom: 10px;
      }
      &-btn {
        padding-left: 18px;
        .fa-folder-open,
        .fa-upload {
          font-size: 7rem;
          margin-right: 30px;
        }
        .fa-upload {
          margin-right: 40px;
        }
        .fa-folder-open,
        .fa-upload,
        button {
          display: inline-block;
          vertical-align: top;
        }
      }
    }
    > span {
      display: block;
      padding: 50px 0;
      color: $pia-gray;
      font-size: 2.1rem;
    }
  }
  &-hint {
    position: absolute;
    background-color: #fff;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 18px 2px rgba(212, 212, 212, 1);
    top: 110px;
    right: -323px;
    .pia-icon-small-arrow {
      position: absolute;
      top: 50%;
      left: -22px;
      margin-top: -18.5px;
    }
    div {
      margin-top: 8px;
      margin-left: 38px;
      p {
        display: inline-block;
        vertical-align: top;
        color: $pia-blue;
        font-size: 1.6rem;
        line-height: 1.2;
        margin-top: 58px;
        margin-left: 14px;
        width: 65%;
      }
    }
  }
}
.pia {
  &-searchInput {
    width: 150px;
    margin-left: 12px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    float: right;
    .search-icon {
      font-style: initial;
      transition: all ease 0.5s;
      display: block;
      position: absolute;
      left: 10px;
      top: 1px;
      font-size: 2.35rem;
      color: $pia-green;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    .search-close {
      display: block;
      position: absolute;
      right: 10px;
      top: 2px;
      font-size: 2.5rem;
      line-height: 3rem;
      font-style: normal;
      font-weight: lighter;
      color: $pia-green;
      cursor: pointer;
    }
    input.btn.btn-search {
      float: right;
      background: none;
      border: 1px solid $pia-green;
      border-radius: 20px;
      color: $pia-green;
      font-size: 1.3rem;
      transition: all ease 0.5s;
      outline-style: none;
      box-shadow: none;
      position: relative;
      padding-left: 30px;
      &::placeholder {
        color: $pia-green;
      }
      &:focus,
      &.typed {
        width: 350px;
        border: 0px;
        border: 1px solid $pia-green;
        border-radius: 20px;
        color: $pia-green;
        + .search-icon {
          left: -190px;
        }
      }
    }
  }
  &-filtersBlock {
    position: relative;
    margin: 8px 0 40px 0;
    &-left,
    &-right {
      width: 50%;
      display: inline-block;
      vertical-align: middle;
    }
    &-right {
      text-align: right;
    }
    &-switch,
    &-filters {
      display: inline-block;
      vertical-align: middle;
    }
    &-switch {
      display: inline-block;
      vertical-align: middle;
      min-width: 140px;
      height: 34px;
      border: 1px solid $pia-green;
      border-radius: 20px;
      color: $pia-green;
      padding: 0 10px;
      .fa-list {
        font-size: 1.5rem;
      }
      div {
        vertical-align: 1px;
        display: inline-block;
        font-size: 1.3rem;
        margin-left: 4px;
        margin-top: -2px;
      }
      &:hover,
      &:focus {
        background: $pia-green;
        border-color: $pia-green;
        color: #fff;
      }
      &:active {
        color: $pia-green;
        background-color: #fff;
        border-color: $pia-green;
      }
    }
    &-filters {
      position: relative;
      margin-left: 12px;
      float: right;
      .fa-filter {
        font-size: 1.5rem;
      }
      &-list {
        z-index: 998;
        background-color: #eee;
        display: none;
        padding: 30px 10px 10px 10px;
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        border: 2px solid $pia-green;
        border-top: none;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        > span {
          padding: 6px;
          font-style: italic;
          color: $pia-gray;
        }
        ul {
          padding: 0;
          margin: 0;
        }
        li {
          list-style-type: none;
          padding: 4px;
          a {
            font-size: 1.5rem;
            font-weight: 500;
            display: block;
            text-decoration: none;
            color: #000;
          }
          &:focus,
          &:hover,
          &:active,
          .active {
            background-color: $pia-blue;
            a {
              color: #ffffff !important;
              font-weight: 600;
              cursor: pointer;
            }
          }
        }
      }
      &-btn {
        height: 34px;
        border: 1px solid $pia-green;
        border-radius: 20px;
        color: $pia-green;
        padding: 9px 12px 9px 16px;
        font-size: 1.3rem;
        position: relative;
        z-index: 999;
        .pia-icon-scroll-green {
          margin-left: 35px;
        }
        &:focus,
        &:hover,
        &:active {
          + .pia-filtersBlock-filters-list {
            display: block;
          }
        }
      }
      &:hover {
        .pia-filtersBlock-filters-btn {
          color: #fff;
          background-color: $pia-green;
          .pia-icon-scroll-green {
            background-position: -367px -39px;
          }
        }
        .pia-filtersBlock-filters-list {
          display: block;
        }
      }
    }
    &-hint {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      background-color: #fff;
      border-radius: 10px;
      padding: 3px 24px 5px 26px;
      margin-left: 10px;
      div {
        span,
        p {
          display: inline-block;
          vertical-align: middle;
        }
        p {
          margin-left: 10px;
          color: $pia-blue;
          font-size: 2rem;
          line-height: 1.2;
        }
      }
    }
    &-buttons {
      margin-left: 12px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 3px;
      button {
        height: 34px;
        padding: 8px 20px;
        &:first-child {
          margin-right: 12px;
        }
      }
      .fa {
        margin-right: 10px;
        font-size: 1.5rem;
      }
    }
  }
}

// Edit PIA
.pia-editBlock {
  border-color: $pia-green;
  button {
    display: block;
    margin-right: 0;
    margin-left: auto;
  }
}

// Cards flipper (New / Edit)
#cardsSwitch {
  background-color: transparent;
}
#cardsSwitch > div {
  margin: 0;
  position: absolute;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 1s;
}
#cardsSwitch .back {
  transform: rotateY(180deg);
}
#cardsSwitch.flipped .back {
  transform: rotateY(0deg);
}
#cardsSwitch.flipped .front {
  transform: rotateY(180deg);
}

// List PIA
.pia-list {
  display: flex;
  flex-wrap: wrap;
  &-table {
    position: relative;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border-bottom: 1px solid #d0d0d0;
    thead {
      background-color: $pia-dark-black;
      color: $pia-white;
      text-transform: uppercase;
      font-size: 1.3rem;
      text-align: left;
      display: table-header-group;
      vertical-align: middle;
      tr {
        display: table-row;
      }
    }
  }
}
.app-list-item {
  display: table-row;
  &:nth-child(even) {
    background-color: rgba(62, 224, 149, 0.15);
  }
  &:hover {
    background-color: rgba(62, 224, 149, 0.25);
  }
}
.pia-icon-close {
  z-index: 1;
}
.pia-cardsBlock-item-btn button {
  display: flex;
  margin: auto;
}

.pia-cardsBlock-item-btn {
  position: absolute !important;
  bottom: 0 !important;
  width: 93% !important;
}

/* UPDATE */
.pia-mainContainerBlock {
  // default

  // modes
  &-knowledges {
    // Edit PIA
    .pia-editBlock {
      border-color: $pia-red;
    }

    .pia-newBlock-item-new-btn,
    .pia-newBlock-item-new-title,
    .pia-newBlock-item-import-btn,
    .pia-newBlock-item-import-title,
    .pia-icon-pia-plus,
    .pia-filtersBlock-switch {
      color: $pia-red;
    }
    .pia-filtersBlock-switch {
      border: 1px solid $pia-red;
      &:hover {
        background: $pia-red;
        i,
        div {
          color: #fff;
        }
      }
    }

    .pia-searchInput {
      input.btn.btn-search {
        border: 1px solid $pia-red;
        color: $pia-red;
        &::placeholder {
          color: $pia-red;
        }
        &:focus,
        &.typed {
          border: 1px solid $pia-red;
          color: $pia-red;
        }
      }
      .search-icon {
        color: $pia-red;
      }
    }

    .pia-filtersBlock-filters {
      .pia-filtersBlock-filters-btn {
        border: 1px solid $pia-red;
        color: $pia-red;
        .pia-icon-scroll-red {
          margin-left: 35px;
        }
      }
      .pia-filtersBlock-filters-list {
        border: 2px solid $pia-red;
        li:focus,
        li:hover,
        li:active,
        li .active {
          background-color: $pia-red;
        }
      }
      &:focus,
      &:hover,
      &:active {
        .pia-filtersBlock-filters-btn {
          background-color: $pia-red;
          color: white;
        }
        + .pia-filtersBlock-filters-list {
          display: block;
        }
        .pia-icon-scroll-red {
          background-position: -367px -39px;
        }
      }
    }
  }
}

.entries {
  &-missing {
    text-align: center;
  }
  &-loading {
    display: inline-block;
    vertical-align: top;
    &.entries-loading-card {
      position: relative;
      height: 500px;
      width: calc(100% - 290px);
    }
    &.entries-loading-line {
      position: absolute;
      width: 100%;
      height: 150px;
    }
  }
}

// No Pia

.no-pia {
  flex: 1;
  text-align: center;
  align-self: center;
}
