<div class="pia-sectionsBlock">
  <div class="pia-sectionBlock-header">
    <h1 class="truncate" title="{{_piaService.pia.name}}">{{ _piaService.pia.name }}</h1>
    <a class="pia-icons pia-icon-close-big" routerLink="/home"
      title="{{ 'pia.sections.homepage_link' | translate }}"></a>
  </div>

  <div class="pia-sectionBlock-structure" *ngIf="_piaService.pia.structure_id">
    {{ 'pia.sections.based_on_structure_name' | translate }}
    {{ _piaService.pia.structure_name }}
  </div>

  <div class="pia-sectionBlock-body">
    <div *ngFor="let dataSection of data?.sections">
      <div class="pia-sectionBlock-title">
        {{ dataSection.title | translate }}
        <hr>
      </div>
      <ul class="pia-sectionBlock-list">
        <ng-container *ngFor="let dataItem of dataSection?.items">
          <li *ngIf="!dataItem.hide">
            <a href="javascript:;" (click)="getAnchor($event, 'Nom de la sous-section');" class="truncate">
              {{ dataItem.title | translate }}</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
