<form
  [formGroup]="resetPassword"
  class="pia-authenticationBlock-login"
  (ngSubmit)="ngOnSubmit()"
>
  <fieldset>
    <div class="form-group" [class.is-not-empty]="f.resetCode.value.length > 0">
      <legend>{{ "authentication.account_recovery" | translate }}</legend>
      <p class="is-valid">
        {{ "authentication.recovery_code_message" | translate }}
      </p>
      <input
        type="text"
        placeholder="{{ 'authentication.recovery_code' | translate }}"
        id="pia-account-resetCode"
        formControlName="resetCode"
      />
      <label for="pia-account-resetCode">
        {{ "authentication.recovery_code" | translate }}
      </label>
      <a href="#">{{ "authentication.recovery_code_not_sent" | translate }}</a>
    </div>
    <div class="validForm">
      <button (click)="onCanceled()">
        {{ "authentication.cancel" | translate }}
      </button>
      <button
        [disabled]="resetPassword.invalid"
        type="submit"
        class="btn btn-green"
      >
        {{ "authentication.sign_in_button" | translate }}
      </button>
    </div>
  </fieldset>
</form>
