<div class="pia-entryContentBlock-content pia-actionPlanGraphBlock">
  <h2>Vue d'ensemble</h2>
  <div class="row">
    <div class="medium-6 columns pia-actionPlanGraphBlock-left">
      <h3>Principes Fondamentaux</h3>
      <form>
        <div class="pia-actionPlanGraphBlock-item">
          <span class="pia-list">Finalité</span>
          <span class="pia-box pia-blue"></span>
          <span class="pia-box pia-gray"></span>
        </div>
        <div class="pia-actionPlanGraphBlock-item">
          <span class="pia-list">Fondement</span>
          <span class="pia-box pia-blue"></span>
          <span class="pia-box pia-gray"></span>
        </div>
        <div class="pia-actionPlanGraphBlock-item">
          <span class="pia-list">Données adéquates</span>
          <span class="pia-box pia-red"></span>
          <span class="pia-box pia-red"></span>
        </div>
        <div class="pia-actionPlanGraphBlock-item">
          <span class="pia-list">Données exactes</span>
          <span class="pia-box pia-gray"></span>
          <span class="pia-box pia-green"></span>
        </div>
        <div class="pia-actionPlanGraphBlock-item">
          <span class="pia-list">Durée de conservation</span>
          <span class="pia-box pia-blue"></span>
          <span class="pia-box pia-gray"></span>
        </div>
        <div class="pia-actionPlanGraphBlock-item">
          <span class="pia-list">Information des personnes</span>
          <span class="pia-box pia-gray"></span>
          <span class="pia-box pia-green"></span>
        </div>
        <div class="pia-actionPlanGraphBlock-item">
          <span class="pia-list">Recueil du consentement</span>
          <span class="pia-box pia-gray"></span>
          <span class="pia-box pia-green"></span>
        </div>
        <div class="pia-actionPlanGraphBlock-item">
          <span class="pia-list">Droit d’accès et à la portabilité</span>
          <span class="pia-box pia-gray"></span>
          <span class="pia-box pia-green"></span>

        </div>
        <div class="pia-actionPlanGraphBlock-item">
          <span class="pia-list">Droit de rectification et d’effacement</span>
          <span class="pia-box pia-gray"></span>
          <span class="pia-box pia-green"></span>
        </div>
        <div class="pia-actionPlanGraphBlock-item">
          <span class="pia-list">Droit de limitationet d’opposition</span>
          <span class="pia-box pia-gray"></span>
          <span class="pia-box pia-green"></span>
        </div>
        <div class="pia-actionPlanGraphBlock-item">
          <span class="pia-list">Sous-traitance</span>
          <span class="pia-box pia-gray"></span>
          <span class="pia-box pia-green"></span>
        </div>
        <div class="pia-actionPlanGraphBlock-item">
          <span class="pia-list">Transferts</span>
          <span class="pia-box pia-gray"></span>
          <span class="pia-box pia-green"></span>
        </div>
        <div class="pia-actionPlanGraphBlock-item">
          <span class="pia-list">Formalités</span>
          <span class="pia-box pia-gray"></span>
          <span class="pia-box pia-green"></span>
        </div>
      </form>
    </div>
    <div class="medium-6 columns pia-actionPlanGraphBlock-right">
      <h3>Mesures</h3>
      <div class="pia-actionPlanGraphBlock-right-mesures">
        <div class="pia-actionPlanGraphBlock-item">
          <span class="pia-box pia-blue"></span>
          <span class="pia-box pia-gray"></span>
          <span class="pia-list">Finalité</span>
        </div>
        <div class="pia-actionPlanGraphBlock-item">
          <span class="pia-box pia-blue"></span>
          <span class="pia-box pia-gray"></span>
          <span class="pia-list">Finalité</span>
        </div>
        <div class="pia-actionPlanGraphBlock-item">
          <span class="pia-box pia-blue"></span>
          <span class="pia-box pia-gray"></span>
          <span class="pia-list">Finalité</span>
        </div>
        <div class="pia-actionPlanGraphBlock-item">
          <span class="pia-box pia-blue"></span>
          <span class="pia-box pia-gray"></span>
          <span class="pia-list">Fondement</span>
        </div>
        <div class="pia-actionPlanGraphBlock-item">
          <span class="pia-box pia-blue"></span>
          <span class="pia-box pia-gray"></span>
          <span class="pia-list">Fondement</span>
        </div>
        <div class="pia-actionPlanGraphBlock-item">
          <span class="pia-box pia-blue"></span>
          <span class="pia-box pia-gray"></span>
          <span class="pia-list">Fondement</span>
        </div>
        <div class="pia-actionPlanGraphBlock-item">
          <span class="pia-box pia-blue"></span>
          <span class="pia-box pia-gray"></span>
          <span class="pia-list">Fondement</span>
        </div>
        <div class="pia-actionPlanGraphBlock-item">
          <span class="pia-box pia-blue"></span>
          <span class="pia-box pia-gray"></span>
          <span class="pia-list">Finalité</span>
        </div>
        <div class="pia-actionPlanGraphBlock-item">
          <span class="pia-box pia-blue"></span>
          <span class="pia-box pia-gray"></span>
          <span class="pia-list">Données adéquates</span>
        </div>
        <div class="pia-actionPlanGraphBlock-item">
          <span class="pia-box pia-blue"></span>
          <span class="pia-box pia-gray"></span>
          <span class="pia-list">Fondement</span>
        </div>
        <div class="pia-actionPlanGraphBlock-item">
          <span class="pia-box pia-blue"></span>
          <span class="pia-box pia-gray"></span>
          <span class="pia-list">Données adéquates</span>
        </div>
      </div>
      <h3>Risques</h3>
      <div class="pia-actionPlanGraphBlock-item">
        <span class="pia-box pia-green"></span>
        <span class="pia-box pia-gray"></span>
        <span class="pia-list">Accès illégitime aux données</span>
      </div>
      <div class="pia-actionPlanGraphBlock-item">
        <span class="pia-box pia-blue"></span>
        <span class="pia-box pia-gray"></span>
        <span class="pia-list">Modifications de données</span>
      </div>
      <div class="pia-actionPlanGraphBlock-item">
        <span class="pia-box pia-blue"></span>
        <span class="pia-box pia-gray"></span>
        <span class="pia-list">Disparition de données</span>
      </div>
    </div>
    <div class="pia-legend">
      <p>Mesures Améliorables</p>
      <p>Mesures acceptables</p>
    </div>
  </div>
</div>
