<div class="pia-entryContentBlock-content-details-blocks" *ngIf="data.evaluation && data.evaluation.action_plan_comment">
  <div class="pia-details-blocks-content">
    <div class="pia-details-blocks-content-title">
      <h3>{{data.short_title}}</h3>
      <button type="button" class="btn" *ngIf="displayEditButton" (click)="activateActionPlanEdition()" title="{{ 'action_plan.edit' | translate }}"><i class="fa fa-pencil" aria-hidden="true"></i></button>
    </div>
    <p>
      {{data.evaluation.action_plan_comment}}
    </p>
    <form [formGroup]="actionPlanForm">
      <input type="date" (focusout)="estimatedEvaluationDateFocusOut()" formControlName="estimatedEvaluationDate">
      <input type="text" (focusout)="personInChargeFocusOut()" formControlName="personInCharge" placeholder="{{ 'action_plan.placeholder_person_in_charge' | translate }}">
    </form>
  </div>
</div>
