.pia-aboutBlock {
  &-piaLogo {
    padding-left: 260px;
    background: url('/assets/images/pia-auth-logo.png') no-repeat center left transparent;
    height: 123px;
    margin-bottom: 20px;
    h1 {
      margin-bottom: 0;
      font-size: 4rem;
    }
  }
  &-cnilLogo {
    padding-left: 180px;
    background: url('/assets/images/cnil-logo.png') no-repeat center left transparent;
    background-size: 160px;
  }
}
