@import "src/assets/stylesheets/variables";
.pia-knowledges_base {
  &-form,
  &-displayData {
    margin-bottom: 30px;
    width: 100%;
    min-height: 200px;
    padding: 10px 10px 20px 10px;
    background-color: white;
    h3 {
      font-weight: normal;
      color: $pia-red;
      text-transform: uppercase;
      width: 100%;
      margin-top: 10px;
      padding-bottom: 5px;
      border-bottom: 1px solid $pia-red;
    }
    input[type="text"],
    select,
    textarea {
      padding-bottom: 6px;
      display: block;
      border: 0;
      font-size: 1.2rem;
      color: $pia-dark-black;
      width: 100%;
      margin: 15px 0;
      height: 22px;
      &::placeholder {
        color: $pia-gray;
      }
      &:hover {
        outline: 1px dotted $pia-red;
        cursor: text;
      }
      &:disabled {
        outline: none;
      }
      &[name="name"] {
        font-size: 1.6rem;
      }
    }
    button {
      display: block;
      margin: 10px auto auto auto;
    }
    .pia-elementCategory-wrapper {
      position: relative;
      &:hover {
        &:after {
          content: "";
          position: absolute;
          top: 8px;
          right: 8px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 5px 0 5px;
          border-color: $pia-red transparent transparent transparent;
        }
      }
    }
    select {
      appearance: none;
      color: $pia-red;
      option {
        color: $pia-dark-black;
      }
    }
    textarea {
      width: 100%;
      min-height: 80px;
      resize: none;
    }
    &-checkboxes {
      input[type="checkbox"] {
        margin-right: 5px;
        vertical-align: -2px;
        width: 14px;
        height: 18px;
      }
      &-title {
        margin-top: 15px;
        text-transform: uppercase;
        font-weight: 600;
        display: flex;
        justify-content: flex-start;
        align-self: center;
        font-size: 1.3rem;
        text-transform: uppercase;
        label {
          cursor: pointer;
        }
        span {
          margin-right: 10px;
          cursor: pointer;
          color: $pia-blue;
          text-transform: initial;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      &-list {
        padding-left: 18px;
        margin-top: 8px;
        li {
          line-height: 1;
          padding: 2px 0;
          font-size: 1.4rem;
          list-style-type: none;
          display: flex;
          align-self: center;
          justify-content: flex-start;
          margin-bottom: 2px;
          a {
            color: $pia-dark-black;
            text-decoration: none;
            padding-left: 5px;
          }
          i {
            font-size: 1.8rem;
            margin-top: 2px;
            margin-left: auto;
            margin-right: 10px;
            color: $pia-gray;
          }
          .fa-check-square-o {
            color: $pia-blue;
          }
          label {
            span {
              cursor: pointer;
              display: inline-block;
              font-size: 1.25rem;
              max-width: 210px;
              color: $pia-gray-dark;
              &:hover {
                font-weight: 500;
              }
            }
          }
        }
      }
      &-body {
        hr {
          width: 100%;
        }
        a {
          width: 81%;
          border-radius: 4px;
        }
        > div {
          /* CONTEXT */
          &:first-child {
            .pia-knowledges_base-form-checkboxes-title {
              color: $pia-green;
              border-color: $pia-green;
            }
            .fa-pencil-square-o.pia-fa-valid,
            .fa-cog.pia-fa-valid,
            .fa-check-square-o {
              color: $pia-green;
            }
          }
          /* PRINCIPLES */
          &:nth-child(2) {
            .pia-knowledges_base-form-checkboxes-title {
              color: $pia-blue;
              border-color: $pia-blue;
            }
            .fa-pencil-square-o.pia-fa-valid,
            .fa-cog.pia-fa-valid,
            .fa-check-square-o {
              color: $pia-blue;
            }
          }
          /* RISKS */
          &:nth-child(3) {
            .pia-knowledges_base-form-checkboxes-title {
              color: $pia-red;
              border-color: $pia-red;
            }
            .fa-pencil-square-o.pia-fa-valid,
            .fa-cog.pia-fa-valid,
            .fa-check-square-o {
              color: $pia-red;
            }
          }
          /* VALIDATION */
          &:last-child {
            .pia-knowledges_base-form-checkboxes-title {
              color: $pia-dark-black;
              border-color: $pia-dark-black;
              display: block;
            }
            .fa-cog.pia-fa-valid,
            .fa-check-square-o {
              color: $pia-dark-black;
            }
          }
        }
      }
    }
  }
  &-form {
    position: relative;
    border: 1px solid $pia-red;
    width: 283px;
    @media screen and (max-width: 992px) {
      width: 200px;
    }
    &-close {
      position: absolute;
      top: 6px;
      right: 6px;
      margin-top: 0 !important;
      transform: scale(0.8);
      cursor: pointer;
    }
  }
  &-displayData {
    border: 1px solid #c7c7c7;
    display: none;
    position: absolute;
    z-index: 999;
    width: 283px;
    margin-left: 13px;
    @media screen and (max-width: 992px) {
      width: 200px;
    }
    &:before {
      content: "";
      position: absolute;
      left: -16px;
      width: 16px;
      top: -2px;
      bottom: -2px;
      background-color: transparent;
    }
    &-category {
      color: $pia-red;
    }
    &-name {
      font-weight: 400;
      font-size: 1.9rem;
      margin-bottom: 8px;
    }
  }
}

// TODO: TO BE REFACTORED
.pia-newBlock {
  > #pia-new-card {
    border: 1px solid $pia-gray;
    padding-right: 0;
  }
  &-item {
    background: url("~src/assets/images/pia-bg.png") repeat center center;
    padding: 70px 40px;
    font-size: 1.9rem;
    color: $pia-red;
    height: 440px;
    width: 274px;
    &-new,
    &-import {
      &-title {
        padding-bottom: 10px;
      }
      &-btn {
        padding-left: 18px;
        .fa-folder-open,
        .fa-upload {
          font-size: 7rem;
          margin-right: 30px;
        }
        .fa-upload {
          margin-right: 40px;
        }
        .fa-folder-open,
        .fa-upload,
        button {
          display: inline-block;
          vertical-align: top;
        }
      }
    }
    > span {
      display: block;
      padding: 22px 0;
      color: $pia-red;
      font-size: 2.1rem;
    }
  }
}

.pia {
  &-searchInput {
    width: 150px;
    margin-left: 12px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    float: right;
    .search-icon {
      font-style: initial;
      transition: all ease 0.5s;
      display: block;
      position: absolute;
      left: 10px;
      top: 1px;
      font-size: 2.35rem;
      color: $pia-red;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    .search-close {
      display: block;
      position: absolute;
      right: 10px;
      top: 2px;
      font-size: 2.5rem;
      line-height: 3rem;
      font-style: normal;
      font-weight: lighter;
      color: $pia-red;
      cursor: pointer;
    }
    input.btn.btn-search {
      float: right;
      background: none;
      border: 1px solid $pia-red;
      border-radius: 20px;
      color: $pia-red !important;
      font-size: 1.3rem;
      transition: all ease 0.5s;
      outline-style: none;
      box-shadow: none;
      position: relative;
      padding-left: 30px;
      &::placeholder {
        color: $pia-red;
      }
      &:focus,
      &.typed {
        width: 350px;
        border: 0px;
        border: 1px solid $pia-red;
        border-radius: 20px;
        color: $pia-red;
        + .search-icon {
          left: -190px;
        }
      }
    }
  }
  &-filtersBlock {
    position: relative;
    margin: 8px 0 40px 0;
    .pia-sectionBlock {
      &-header {
        display: flex;
        justify-content: flex-end;
        padding: 0;
        border-bottom: solid 2px $pia-gray;
        margin-bottom: 2rem;
        h1 {
          font-size: 3rem;
          font-weight: 400;
          margin: 10px;
          margin-left: 0;
          width: 100%;
          line-height: 30px;
          padding-bottom: 2px;
        }
        a {
          width: 35px;
          align-self: center;
        }
      }
    }
    &-left,
    &-right {
      width: 50%;
      display: inline-block;
      vertical-align: middle;
    }
    &-right {
      text-align: right;
    }
    &-switch,
    &-filters {
      display: inline-block;
      vertical-align: middle;
    }
    &-switch {
      display: inline-block;
      vertical-align: middle;
      min-width: 140px;
      height: 34px;
      border: 1px solid $pia-red;
      border-radius: 20px;
      color: $pia-red;
      padding: 0 10px;
      .fa-list {
        font-size: 1.5rem;
      }
      div {
        vertical-align: 1px;
        display: inline-block;
        font-size: 1.3rem;
        margin-left: 4px;
        margin-top: -2px;
      }
      &:hover,
      &:focus {
        background: $pia-red;
        border-color: $pia-red;
        color: #fff;
      }
      &:active {
        color: $pia-red;
        background-color: #fff;
        border-color: $pia-red;
      }
    }
    &-filters {
      position: relative;
      margin-left: 12px;
      float: right;
      &-list {
        z-index: 998;
        background-color: #eee;
        display: none;
        padding: 30px 10px 10px 10px;
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        border: 2px solid $pia-red;
        border-top: none;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        > span {
          padding: 6px;
          font-style: italic;
          color: $pia-gray;
        }
        ul {
          padding: 0;
          margin: 0;
        }
        li {
          list-style-type: none;
          padding: 4px;
          a {
            font-size: 1.5rem;
            font-weight: 500;
            display: block;
            text-decoration: none;
            color: #000;
          }
          &:focus,
          &:hover,
          &:active,
          .active {
            background-color: $pia-red;
            a {
              color: #ffffff !important;
              font-weight: 600;
              cursor: pointer;
            }
          }
        }
      }
      &-btn {
        border: 1px solid $pia-red;
        border-radius: 20px;
        color: $pia-red;
        padding: 9px 12px 9px 16px;
        font-size: 1.3rem;
        position: relative;
        z-index: 999;
        .pia-icon-scroll-green {
          margin-left: 35px;
        }
        &:focus,
        &:hover,
        &:active {
          + .pia-filtersBlock-filters-list {
            display: block;
          }
        }
      }
      &:hover {
        .pia-filtersBlock-filters-btn {
          color: #fff;
          background-color: $pia-red;
          .pia-icon-scroll-green {
            background-position: -367px -39px;
          }
        }
        .pia-filtersBlock-filters-list {
          display: block;
        }
      }
    }
    &-buttons {
      display: inline-block;
      vertical-align: middle;
      margin-right: 3px;
      button {
        padding: 8px 20px;
        &:first-child {
          margin-right: 12px;
        }
      }
      .fa {
        margin-right: 10px;
        font-size: 1.5rem;
      }
    }
  }
}

// List PIA
.pia-list-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin-bottom: 380px;
  border-bottom: 1px solid #d0d0d0;
  thead {
    background-color: $pia-dark-black;
    color: $pia-white;
    text-transform: uppercase;
    font-size: 1.3rem;
    text-align: left;
    display: table-header-group;
    vertical-align: middle;
    tr {
      display: table-row;
    }
    th {
      width: 150px;
      display: table-cell;
      a {
        padding: 5px 0;
        color: $pia-white;
        text-decoration: none;
        display: flex;
        cursor: pointer;
        justify-content: space-between;
        position: relative;
        span {
          align-self: center;
          padding-left: 13px;
        }
        i {
          padding-right: 13px;
          color: $pia-white;
          font-size: 2.5rem;
          align-self: center;
          position: absolute;
          right: 0px;
          &.deactivate {
            color: gray;
          }
        }
      }
      span {
        border-left: solid 1px $pia-white;
        &:last-child {
          padding-left: 13px;
        }
      }
      &:first-child span:first-of-type {
        border: 0;
      }
    }
  }
  tbody {
    tr {
      height: 27px;
      position: relative;
      &:nth-child(even) {
        background-color: rgba(62, 224, 149, 0.15);
      }
      &:focus,
      &:hover,
      &:active {
        background-color: rgba(62, 224, 149, 0.25);
        .pia-knowledges_base-displayData {
          display: table-cell;
        }
      }
      &.noElementsDisplaying {
        &:focus,
        &:hover,
        &:active {
          .pia-knowledges_base-displayData {
            display: none;
          }
        }
      }
      .pia-listsBlock-item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: flex-start;
        align-content: stretch;
        a {
          color: $pia-red;
          font-size: 1.8rem;
          margin: 0 10px 0 0;
          text-decoration: none;
          width: 18px;
        }
        span {
          background-color: $pia-red;
        }
        &-click {
          cursor: pointer !important;
          padding: 0 10px;
        }
      }
    }
  }
}
.pia-cardsBlock-item-form input {
  padding-bottom: 0;
}
.pia-icon-close {
  z-index: 1;
}
.pia-cardsBlock-item-btn button {
  display: flex;
  margin: auto;
}
