@import "src/assets/stylesheets/variables";

.pia-authenticationBlock {
  &-login {
    legend {
      margin-bottom: 15px;
    }

    #securityPassword {
      color: white;
      margin-top: 5px;
      margin-bottom: 15px;
    }
    p {
      color: white;
      margin: 0;
      display: flex;
      align-items: center;
      span {
        margin-left: 10px;
      }
    }
    .msg {
      margin: 0;
      margin-top: -10px;
    }

    button.btn.btn-green {
      width: 130px !important;
    }
  }
}
