<div class="pia-attachmentsBlock-item bounceIn" *ngIf="attachment.file && attachment.file.length > 0">
  <a href="javascript:;" (click)="downloadAttachment()" title="{{ 'pia.attachments.download' | translate }}">
    <i class="fa fa-download" aria-hidden="true"></i>
  </a>
  <a href="javascript:;" (click)="previewAttachment(true)" title="{{attachment.name}}" class="truncate">{{attachment.name}}</a>
  <button *ngIf="!isPreview && showAddAttachmentButton()" type="button" class="btn" (click)="removeAttachment(attachment.id)" title="{{ 'pia.attachments.remove' | translate }}">
    <span class="pia-icons pia-icon-close"></span>
  </button>
</div>
<div class="pia-attachmentsBlock-item-preview hide">
  <img src="" class="hide">
  <button (click)="previewAttachment(false)" class="pia-icons pia-icon-close-big" title="{{ 'modals.close' | translate }}"></button>
  <div style="width:80%; height:100%; margin:auto;"
  *ngIf="fileUrl" >
    <ng2-pdfjs-viewer [pdfSrc]="fileUrl"></ng2-pdfjs-viewer> 
  </div> 

</div>
