<app-header></app-header>


<div class="container pia-mainContainerBlock">

    <div class="row">
      <div class="small-12 medium-12 columns">
        <div class="pia-breadcrumb">{{ 'header.knowledges' | translate }}</div>
  
        <div class="pia-filtersBlock">
            
            <div class="pia-filtersBlock-left">
                <button class="pia-filtersBlock-switch btn" type="button" *ngIf="viewStyle.view === 'list'" (click)="viewOnCard()">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    <div>{{ 'homepage.filters.card' | translate }}</div>
                </button>
                <button class="pia-filtersBlock-switch btn" type="button" *ngIf="viewStyle.view === 'card'" (click)="viewOnList()">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    <div>{{ 'homepage.filters.list' | translate }}</div>
                </button>
                <div *ngIf="viewStyle.view === 'list'" class="pia-filtersBlock-buttons">
                  <button type="button" class="btn btn-red" (click)="_modalsService.openModal('modal-list-new-knowledgebase')"><i class="fa fa-folder-open" aria-hidden="true"></i>{{ 'homepage.filters.new_structure' | translate }}</button>
                  <button type="button" (click)="importStruct()" class="btn btn-red"><i class="fa fa-upload" aria-hidden="true"></i>{{ 'homepage.filters.import_structure' | translate }}</button>
                </div>
                <div class="hide"> 
                  <form enctype="multipart/form-data" [formGroup]="importKnowledgeBaseForm">
                    <input type="file" formControlName="import_file" id="import_file" (change)="importStruct($event)" class="hide">
                  </form>
                  <a href="" id="pia-exportBlock"></a>
                </div>
            </div>

            <div class="pia-filtersBlock-right">
                <div class="pia-filtersBlock-filters" *ngIf="viewStyle.view === 'card'">
                  <button class="pia-filtersBlock-filters-btn btn" type="button">
                    <i class="fa fa-filter"></i>
                    {{ 'homepage.filters.sort' | translate }}
                    <span class="pia-icons pia-icon-scroll-green"></span>
                  </button>
                  <div class="pia-filtersBlock-filters-list">
                    <span>{{ 'homepage.filters.sort_by' | translate }}</span>
                    <ul>
                      <li [ngClass]="{'active': sortValue === 'name'}">
                        <a (click)="sortBy('name');">{{ 'homepage.cards.knowledges.placeholder_name' | translate }}</a>
                      </li>
                      <li [ngClass]="{'active': sortValue === 'author'}">
                        <a (click)="sortBy('author');">{{ 'homepage.cards.knowledges.placeholder_author' | translate }}</a>
                      </li>
                      <li [ngClass]="{'active': sortValue === 'contributors'}">
                        <a (click)="sortBy('contributors');">{{ 'homepage.cards.knowledges.placeholder_contributors' | translate }}</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="pia-searchInput">
                  <input type="text" class="btn btn-search" [ngClass]="{'typed': searchText && searchText.length > 0}"
                    [(ngModel)]="searchText" placeholder="{{ 'homepage.search_filter' | translate }}" name="search" autocomplete="off">
                    <i class="search-icon">⚲</i>
                    <i class="search-close" (click)="onCleanSearch()" *ngIf="searchText && searchText.length > 0">×</i>
                </div>
            </div>

        </div>
      </div>
    </div>

    <div class="row">

        <!-- "Card" mode -->
        <div *ngIf="viewStyle.view === 'card'; else viewList" class="small-12 medium-12 columns">
          
          <!-- first block -->
          <div class="pia-cardsBlock pia-newBlock" id="cardsSwitch">
              <div class="pia-newBlock-item front" id="pia-new-card">
                  <div class="pia-newBlock-item-new">
                    <div class="pia-newBlock-item-new-title">{{ 'homepage.cards.knowledges.new' | translate }}</div>
                    <div class="pia-newBlock-item-new-btn">
                      <i class="fa fa-folder-open" aria-hidden="true"></i>
                      <button class="btn" (click)="newStruct()" type="button" title="{{ 'homepage.cards.knowledges.new' | translate }}"><span class="pia-icons pia-icon-pia-plus"></span></button>
                    </div>
                  </div>
                  <span>{{ 'homepage.cards.or' | translate }}</span>
                  <div class="pia-newBlock-item-import">
                    <div class="pia-newBlock-item-import-title">{{ 'homepage.cards.knowledges.import' | translate }}</div>
                    <div class="pia-newBlock-item-import-btn">
                      <i class="fa fa-upload" aria-hidden="true"></i>
                      <button class="btn" (click)="importStruct()" type="button" title="{{ 'homepage.cards.knowledges.import' | translate }}"><span class="pia-icons pia-icon-pia-plus"></span></button>
                    </div>
                  </div>
              </div>

              <!-- form -->
              <div class="pia-cardsBlock pia-editBlock back">
                <div class="pia-cardsBlock-item pia-editBlock-item">
                  <button class="btn" (click)="reverseStruct()" type="button" title="{{ 'homepage.cards.title_close_creation' | translate }}"><span class="pia-icons pia-icon-close"></span></button>
                  <form class="pia-cardsBlock-item-form" (ngSubmit)="onSubmit()" [formGroup]="knowledgeBaseForm">
                    <div>
                      <label for="name">{{ 'homepage.cards.knowledges.placeholder_name' | translate }}</label>
                      <input formControlName="name" type="text" placeholder="{{ 'homepage.cards.knowledges.placeholder_name' | translate }}" id="name" required>
                    </div>
                    <div>
                      <label for="author">{{ 'homepage.cards.knowledges.placeholder_author' | translate }}</label>
                      <input formControlName="author" type="text" placeholder="{{ 'homepage.cards.knowledges.placeholder_author' | translate }}" id="author" required>
                    </div>
                    <div>
                      <label for="contributor">{{ 'homepage.cards.knowledges.placeholder_contributors' | translate }}</label>
                      <input formControlName="contributors" type="text" placeholder="{{ 'homepage.cards.knowledges.placeholder_contributors' | translate }}" id="contributors" required>
                    </div>
                    <!-- <div class="pia-cardsBlock-item-date" *ngIf="newStructure">
                      <div>{{ 'homepage.cards.date' | translate }}</div>
                      <time>{{ newStructure.created_at | date: 'shortDate': '': _languagesService.selectedLanguage}}</time>
                    </div> -->
                    <div class="pia-cardsBlock-item-btn">
                      <button type="submit" [disabled]="knowledgeBaseForm.invalid" class="btn btn-green" id="structure-save-card-btn" title="{{ 'homepage.cards.placeholder_start' | translate }}">{{ 'homepage.cards.start' | translate }}</button>
                    </div>
                  </form>
                </div>
              </div>
              <!-- end form -->
              <!-- 
              <div class="pia-newBlock-hint" *ngIf="_structureService.structures && _structureService.structures.length === 0" id="pia-rocket">
                <span class="pia-icons pia-icon-small-arrow"></span>
                <div>
                  <span class="pia-icons pia-icon-rocket"></span>
                  <p [innerHTML]="'homepage.filters.card_rocket_content_structure' | translate"></p>
                </div>
              </div>
              -->
          
          </div>
          <!-- end first block -->

          <!-- cards -->
          <app-card *ngFor="let base of _knowledgesService.list | filterForUser : searchText; let i=index" [base]="base"></app-card>
          <!-- end cards -->
        </div>
        
        <ng-template #viewList>      
          <div class="small-12 medium-12 columns">
            <table class="pia-list-table">
              <thead>
                <tr>
                  <th>
                  </th>
                  <th>
                    <a (click)="sortBy('name')">
                      <span>{{ 'homepage.cards.knowledges.placeholder_name' | translate }}</span>
                      <i class="fa"
                      [ngClass]="[sortValue === 'name' ? 'fa-caret-' + sortOrder : 'fa-caret-down desactivate']"></i>
                  </a>
                  </th>
                  <th>
                    <a (click)="sortBy('author')">
                      <span>{{ 'homepage.cards.knowledges.placeholder_author' | translate }}</span>
                      <i class="fa"
                        [ngClass]="[sortValue === 'author' ? 'fa-caret-' + sortOrder : 'fa-caret-down desactivate']"
                      ></i>
                    </a>
                  </th>
                  <th>
                    <a (click)="sortBy('contributors')">
                      <span>{{ 'homepage.cards.knowledges.placeholder_contributors' | translate }}</span>
                      <i class="fa"
                        [ngClass]="[sortValue === 'contributors' ? 'fa-caret-' + sortOrder : 'fa-caret-down desactivate']"
                      ></i>
                    </a>
                  </th>
                  <th>
                    <a (click)="sortBy('knowledges')">
                      <span>{{ 'homepage.cards.knowledges.placeholder_entry_number' | translate }}</span>
                      <i class="fa"
                        [ngClass]="[sortValue === 'knowledges' ? 'fa-caret-' + sortOrder : 'fa-caret-down desactivate']"
                      ></i>
                    </a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="app-list-item" [attr.data-id]="base.id" *ngFor="let base of _knowledgesService.list | filterForUser : searchText; let i=index" [base]="base"></tr>
              </tbody>
            </table>
          </div>
        </ng-template>


    </div>
    
</div>

<app-modals></app-modals>