<app-header></app-header>


<div class="container pia-mainContainerBlock">

    <div class="row">
      <div class="small-12 medium-12 columns">
        <div class="pia-breadcrumb">{{ 'header.knowledges' | translate }}</div>
  
        <div class="pia-filtersBlock">
            
            <div class="pia-filtersBlock-left">
                <button class="pia-filtersBlock-switch btn" type="button" *ngIf="viewStyle.view === 'list'" (click)="viewOnCard()">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    <div>{{ 'homepage.filters.card' | translate }}</div>
                </button>
                <button class="pia-filtersBlock-switch btn" type="button" *ngIf="viewStyle.view === 'card'" (click)="viewOnList()">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    <div>{{ 'homepage.filters.list' | translate }}</div>
                </button>
        
        
            </div>

            <div class="pia-filtersBlock-right">
                <div class="pia-filtersBlock-filters" *ngIf="viewStyle.view === 'card'">
                  <button class="pia-filtersBlock-filters-btn btn" type="button">
                    <i class="fa fa-filter"></i>
                    {{ 'homepage.filters.sort' | translate }}
                    <span class="pia-icons pia-icon-scroll-green"></span>
                  </button>
                  <div class="pia-filtersBlock-filters-list">
                    <span>{{ 'homepage.filters.sort_by' | translate }}</span>
                    <ul>
                      <li [ngClass]="{'active': sortValue === 'name'}">
                        <a (click)="sortBy('name');">{{ 'homepage.filters.name' | translate }}</a>
                      </li>
                      <li [ngClass]="{'active': sortValue === 'sector_name'}">
                        <a (click)="sortBy('sector_name');">{{ 'homepage.filters.sector_name' | translate }}</a>
                      </li>
                      <li [ngClass]="{'active': sortValue === 'created_at'}">
                        <a (click)="sortBy('created_at');">{{ 'homepage.filters.date' | translate }}</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="pia-searchInput">
                  <input type="text" class="btn btn-search" [ngClass]="{'typed': searchText && searchText.length > 0}"
                    [(ngModel)]="searchText" placeholder="{{ 'homepage.search_filter' | translate }}" name="search" autocomplete="off">
                    <i class="search-icon">⚲</i>
                    <i class="search-close" (click)="onCleanSearch()" *ngIf="searchText && searchText.length > 0">×</i>
                </div>
            </div>

        </div>
      </div>
    </div>

    <div class="row">
        <!-- "Card" mode -->
        <div *ngIf="viewStyle.view === 'card'; else viewList" class="small-12 medium-12 columns">
            <div class="pia-cardsBlock pia-newBlock" id="cardsSwitch">
                <div class="pia-newBlock-item front" id="pia-new-card">
                    <div class="pia-newBlock-item-new">
                      <div class="pia-newBlock-item-new-title">{{ 'homepage.cards.new_structure' | translate }}</div>
                      <div class="pia-newBlock-item-new-btn">
                        <i class="fa fa-folder-open" aria-hidden="true"></i>
                        <button class="btn" (click)="newStruct()" type="button" title="{{ 'homepage.cards.placeholder_new_structure' | translate }}"><span class="pia-icons pia-icon-pia-plus"></span></button>
                      </div>
                    </div>
                    <span>{{ 'homepage.cards.or' | translate }}</span>
                    <div class="pia-newBlock-item-import">
                      <div class="pia-newBlock-item-import-title">{{ 'homepage.cards.import_structure' | translate }}</div>
                      <div class="pia-newBlock-item-import-btn">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                        <button class="btn" (click)="importStruct()" type="button" title="{{ 'homepage.cards.placeholder_import_structure' | translate }}"><span class="pia-icons pia-icon-pia-plus"></span></button>
                      </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    
</div>
