@import "src/assets/stylesheets/variables";
.pia {
  &-closeFullScreenModeAlertBlock {
    color: #fff;
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 1rem;
  }
}
.pia-authenticationBlock {
  padding-top: 110px;
  &-warning {
    color: white;
  }
  &-logo {
    > div:first-child {
      margin-bottom: 37px;
      margin-left: 20px;
      width: initial;
      img,
      > div {
        display: inline-block;
        vertical-align: middle;
      }
      > div {
        color: $pia-blue;
        h1 {
          font-size: 2.2rem;
          margin: 0;
          line-height: 3.2rem;
        }
        div {
          font-weight: initial;
          font-size: 2.4rem;
        }
      }
    }

    > div {
      width: 350px;
    }
    h2,
    p {
      position: relative;
      text-transform: uppercase;
      color: #fff;
      font-size: 1.4rem;
      line-height: 1.55rem;
      font-weight: bold;
      margin: 10px auto;
      padding: 6px 30px 6px 6px;
      background-color: $pia-green;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      display: inline-block;
      &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -5px;
        content: "";
        background-color: $pia-green;
        width: 10px;
        transform: skewX(-10deg);
      }
    }
  }
  &-auth {
    margin-left: 10px;
    width: 280px;
    box-shadow: 0 0 50px #aaa;
  }
  &-register,
  &-enter {
    background-color: #fff;
    font-size: 1.4rem;
    padding: 10px;
    > div {
      color: $pia-blue;
      display: block;
      padding: 5px;
      font-size: 1.3rem;
      font-weight: 500;
    }
    a {
      display: block;
      font-size: 1.3rem;
      margin: 2px auto;
      width: 120px;
      padding: 4px 10px;
      text-align: center;
      text-decoration: none;
      color: $pia-green;
      &:focus,
      &:hover,
      &:active {
        background-color: $pia-green;
        color: #fff;
      }
    }
  }
  &-enter {
    background-color: $pia-blue;
    margin-top: 10%;
    > div {
      color: #fff;
      margin-bottom: 20px;
    }
  }
  &-login {
    background-color: $pia-blue;
    padding-bottom: 10px;
    fieldset {
      border: none;
      margin: 0;
      padding: 10px;
    }
    legend {
      margin: 0;
      font-size: 2rem;
      color: #fff;
      padding-top: 12px;
      font-weight: 500;
      padding-bottom: 10px;
    }
    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 5px;
      margin: 10px auto;
      background: transparent;
      border: none;
      border-bottom: 1px solid white;
      color: white;
    }
    input[type="checkbox"] {
      -webkit-appearance: none;
      height: 15px;
      width: 15px;
      border: 1px solid #ccc;
      margin-right: 10px;
    }
    input::placeholder {
      color: white;
    }
    div {
      margin: auto 10px;
      label {
        color: white;
        font-weight: 600;
      }
      #securityTitle {
        color: white;
        font-weight: 600;
        margin: 0;
        margin-top: 15px;
      }
      #securityPassword {
        margin-top: 5px;
        margin-bottom: 15px;
      }
      p {
        color: white;
        margin: 0;
        display: flex;
        align-items: center;
        margin: 5px auto;
        label {
          margin: 0;
        }
      }
      button {
        color: white;
        cursor: pointer;
      }
      // TODO: Green only for success validation (.is-valid) and Red only for (.is-invalid)
      .msg {
        margin: 0;
        margin-top: -10px;
      }
      .is-invalid {
        color: #e03e3e;
        margin: 0;
      }
      .is-valid {
        color: #3ee095;
        margin: 0;
      }
    }
    .validForm {
      display: flex;
      p {
        align-self: flex-end;
      }
    }
    div:last-of-type {
      label {
        margin-top: 3px;
      }
    }
    button[type="submit"] {
      display: block;
      margin-left: auto;
      width: 120px;
      text-align: center;
      border-radius: 15px;
      text-decoration: none;
      font-size: 1.3rem;
      background-color: $pia-green;
      color: #fff;
    }
    a {
      display: block;
      text-align: right;
      margin: 10px auto;
      text-decoration: none;
      font-size: 0.9rem;
      color: #3ee095;
      cursor: pointer;
    }
  }
}

.pia-navigationBlock {
  margin-top: 0 !important;
  &-languages {
    border-right: 1px solid #fff;
    > ul {
      left: inherit;
      right: -1px;
    }
  }
}
