@import "src/assets/stylesheets/variables";

.pia {
  &-fullPreviewBlock {
    &-data {
      position: relative;
    }
    &-actions {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      border-bottom: 3px solid #3c3b3d;
      /* position: sticky;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999; */
      background-color: #fff;
      button {
        height: 56px;
        cursor: pointer;
        &:focus,
        &:hover,
        &:active {
          div,
          .fa {
            font-weight: 600;
          }
        }
      }
    }
    &-content {
      padding: 0;
      max-width: 100%;
    }
    &-section {
      position: sticky;
      top: 0;
      .pia {
        &-sectionBlock {
          &-header {
            display: flex;
            justify-content: flex-end;
            padding: 0;
            border-bottom: solid 2px $pia-gray;
            h1 {
              font-size: 3rem;
              font-weight: 400;
              margin: 10px;
              margin-left: 0;
              width: 100%;
              line-height: 30px;
              padding-bottom: 2px;
            }
            a {
              width: 35px;
              align-self: center;
            }
          }
          &-structure,
          &-category {
            color: $pia-gray-dark;
          }
          &-title {
            margin-top: 18px;
            margin-left: 10px;
            text-transform: uppercase;
            border-left: solid 10px;
            padding: 3px 0 2px 10px;
            align-self: center;
            display: flex;
            font-weight: 600;
            justify-content: flex-end;
            font-size: 1.3rem;
            hr {
              margin: auto 10px auto auto;
              background-color: $pia-gray;
              border: 0;
              height: 1px;
            }
          }
          &-list {
            padding: 0;
            margin-bottom: 22px;
            margin-left: 10px;
            li {
              padding: 2px 0;
              font-size: 1.4rem;
              list-style-type: none;
              display: flex;
              align-self: center;
              justify-content: flex-start;
              a {
                color: $pia-dark-black;
                text-decoration: none;
                padding-left: 5px;
              }
              &::before {
                content: "";
                border-top: solid 1px $pia-gray;
                width: 8.5px;
                margin-right: 7px;
                margin-top: 9px;
                color: $pia-gray;
              }
            }
          }
          &-body {
            display: flex;
            flex-wrap: wrap;
            hr {
              width: 100%;
            }
            a {
              width: 81%;
              border-radius: 4px;
              &:hover,
              &.active {
                color: #fff !important;
              }
            }
            > div {
              width: 100%;
              &:first-child {
                order: 2;
                .pia-sectionBlock-title {
                  color: $pia-green;
                  border-color: $pia-green;
                }
                hr {
                  max-width: 164px;
                }
                a {
                  &:hover,
                  &.active {
                    background-color: $pia-green;
                  }
                }
              }
              &:nth-child(2) {
                order: 3;
                .pia-sectionBlock-title {
                  color: $pia-blue;
                  border-color: $pia-blue;
                }
                hr {
                  max-width: 62px;
                }
                a {
                  &:hover,
                  &.active {
                    background-color: $pia-blue;
                  }
                }
              }
              &:nth-child(3) {
                order: 4;
                .pia-sectionBlock-title {
                  color: $pia-red;
                  border-color: $pia-red;
                }
                hr {
                  max-width: 182px;
                }
                a {
                  &:hover,
                  &.active {
                    background-color: $pia-red;
                  }
                }
              }
              &:last-child {
                order: 1;
                .pia-sectionBlock-title {
                  color: $pia-dark-black;
                  border-color: $pia-dark-black;
                  display: block;
                }
                hr {
                  display: none;
                }
                a {
                  &:hover,
                  &.active {
                    background-color: $pia-dark-black;
                  }
                }
              }
            }
          }
        }
      }
    }
    &-aside {
      position: relative;
      &-content {
        padding-top: 15px;
        position: sticky;
        top: 0px;
        width: 100%;
      }
    }
  }
}

.pia {
  &-fullPreviewContainerBlock {
    margin-bottom: 80px;
    h1 {
      color: $pia-blue;
      border-bottom: 4px solid $pia-blue;
    }
    h2 {
      color: $pia-light-black;
      margin: 0;
      padding: 15px 20px;
      background-color: #fff;
      font-weight: 500;
      font-size: 1.6rem;
    }
    h3 {
      color: $pia-blue;
      margin: 2px 0;
      font-weight: 500;
    }
    .databox,
    .actionplanbox {
      margin: 0 0 8px 0;
      padding: 10px 15px;
      background: #fff;
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    }
    .evaluationbox {
      p {
        border: 0.5px dotted $pia-gray;
        padding: 6px;
        margin-top: 0;
        > span {
          font-weight: 500;
          span {
            font-weight: 400;
          }
        }
      }
    }
    .actionplanbox {
      h2 {
        margin: 2px 0;
        color: $pia-light-black;
      }
    }
    .evaluationValue {
      color: $pia-dark-black;
    }
  }
  &-previewRisksOverviewBlock,
  &-previewRisksCartographyBlock {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    > div {
      vertical-align: top;
    }
    .app-risks-cartography {
      box-shadow: none;
    }
  }
  &-previewRisksOverviewBlock {
    margin-bottom: 100px;
  }
  &-actionPlanGraphBlockContainer {
    margin-top: 15px;
  }
  &-fullPreviewBlock {
    &-header {
      display: flex;
      background-color: #fff;
      position: relative;
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
      > div:first-child {
        width: 74px;
        background-color: #3c3b3d;
        position: relative;
        span {
          display: block;
          top: 50%;
          left: 50%;
          margin-top: -17px;
          margin-left: -15px;
          position: absolute;
          font-size: 34px;
          color: #fff;
          text-align: center;
        }
        div {
          position: absolute;
          bottom: 28%;
          left: 0;
          right: 0;
          color: #fff;
          text-align: center;
        }
      }
      &-title {
        padding-bottom: 16px;
        width: 87%;
        h1,
        h2 {
          margin: 0;
          padding: 0;
          line-height: 1.2;
          padding-left: 19px;
          margin-bottom: 20px;
        }
        h1 {
          margin-bottom: 5px;
          font-size: 2.4rem;
          font-weight: 400;
          color: #3c3b3d;
          vertical-align: top;
          margin-top: 20px;
          border: none;
        }
        h2 {
          color: #3c3b3d;
          font-size: 1.35rem;
          text-transform: uppercase;
          font-weight: 500;
        }
      }
      &-data {
        color: #3c3b3d;
        padding: 0 19px;
        display: flex;
        flex-wrap: wrap;
        > div {
          width: 50%;
          > div {
            display: flex;
            flex-wrap: wrap;
            div {
              width: 50%;
              &:first-child {
                font-weight: 600;
              }
            }
          }
          &:last-child {
            display: flex;
            flex-wrap: wrap;
            > div {
              width: 50%;
            }
          }
        }
      }
      &-progressBar {
        width: 100px;
        text-align: right;
        position: relative;
        div {
          color: $pia-green;
          font-style: italic;
          text-align: right;
          font-size: 1rem;
          position: absolute;
          top: -12px;
          right: 0;
          width: 100% !important;
        }
        progress {
          width: 100%;
          position: relative;
          margin-top: 5px;
          &:after {
            position: absolute;
            left: 0;
            top: 50%;
            content: "";
            height: 12px;
            width: 1px;
            margin-top: -6px;
            background-color: $pia-green;
          }
          &:before {
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            top: 50%;
            height: 1px;
            background-color: $pia-green;
          }
        }
        progress[value] {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background-color: transparent;
          height: 12px;
          &::-webkit-progress-bar {
            background-color: transparent;
          }
          &::-webkit-progress-value {
            background-color: $pia-green;
          }
        }
        progress[value]::-moz-progress-bar {
          background-color: $pia-green;
        }
      }
      .pia-previewBlock {
        position: absolute;
        top: 0;
        right: 0;
        padding: 12px;
        padding-right: 20px;
        text-decoration: none;
        i {
          font-size: 2.1rem;
          border-radius: 50%;
          height: 35px;
          width: 35px;
          padding-top: 5px;
          border: 1px solid $pia-green;
        }
        i,
        div {
          color: $pia-green;
        }
        div {
          text-transform: lowercase;
          font-size: 1.1rem;
          margin: 0 auto;
          text-align: center;
        }
      }
    }
    &-data,
    &-exports {
      display: inline-block;
      vertical-align: top;
    }
    &-data {
      width: 578px;
    }
    &-headline {
      display: flex;
      margin: 15px 0;
      background-color: #fff;
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
      &-title {
        width: 100%;
        border-left: 74px solid #3c3b3d;
        h1 {
          margin: 0;
          margin-top: 4px;
          padding: 0;
          line-height: 1.2;
          padding-left: 19px;
          font-size: 2.4rem;
          font-weight: 400;
          color: #3c3b3d;
          vertical-align: top;
          border: none;
        }
        h2 {
          padding: 0 20px;
        }
      }
      &.headline1 {
        .pia-fullPreviewBlock-headline-title {
          border-left-color: $pia-green;
        }
      }
      &.headline2 {
        .pia-fullPreviewBlock-headline-title {
          border-left-color: $pia-blue;
        }
      }
      &.headline3 {
        .pia-fullPreviewBlock-headline-title {
          border-left-color: $pia-red;
        }
      }
    }
    &-subheadline {
      color: $pia-light-black !important;
      margin: 0 !important;
      padding: 10px 0;
      background-color: #fff;
      font-weight: 500;
      font-size: 1.6rem;
    }
    &-actionPlan {
      > div {
        > div {
          margin-top: 15px;
        }
      }
      .pia-actionPlanGraphBlock {
        padding: 10px 15px;
      }
    }
  }
}

.pagebreak {
  // page-break-before: always;
}
