@import '../../assets/stylesheets/variables';

.pia {
  &-summaryContainerBlock {
    margin-bottom: 80px;
    h1 {
      color: $pia-blue;
      border-bottom: 4px solid $pia-blue;
    }
    h2 {
      color: $pia-light-black;
      margin-bottom: 3px;
    }
    h3 {
      color: $pia-light-black;
      margin: 2px 0;
      font-weight: 500;
    }
    .databox,
    .actionplanbox {
      margin: 0 0 8px 0;
      border: 1px solid $pia-gray;
      padding: 6px 16px;
      background: $pia-full-white;
      box-shadow: 1px 1px 3px 0px darken($pia-white, 20%);
    }
    .evaluationbox {
      p {
        border: 0.5px dotted $pia-gray;
        padding: 6px;
        margin-top: 0;
        > span {
          font-weight: 500;
          span {
            font-weight: 400;
          }
        }
      }
    }
    .actionplanbox {
      h2 {
        margin: 2px 0;
        color: $pia-light-black;
      }
    }
    .evaluationValue {
      color: $pia-dark-black;
    }
  }
  &-summaryButtonsBlock {
    display: inline-block;
    vertical-align: middle;
    margin-top: 8px;
    a {
      text-decoration: none;
    }
    a, button {
      margin: 0 5px;
      i {
        color: $pia-gray-dark;
        font-size: 1.7rem;
      }
    }
  }
  &-summaryLinksBlock {
    display: inline-block;
    vertical-align: top;
  }
  &-summaryCopyBlock {
    display: flex;
   justify-content: flex-end;
  }
  &-previewBlock {
    text-align: center;
    text-decoration: none;
    div {
      display: inline-block;
      vertical-align: middle;
      font-size: 1.1rem;
      color: $pia-green;
    }
  }
  &-summaryFiltersBlock {
    margin-top: 10px;
    fieldset {
      padding: 0;
      border: none;
      legend {
        border-bottom: 4px solid $pia-blue;
        color: $pia-blue;
        font-size: 2.25rem;
        font-weight: 600;
        width: 100%;
        margin-bottom: 16px;
      }
      input {
        cursor: pointer;
        margin-right: 4px;
        vertical-align: -2px;
      }
      label {
        cursor: pointer;
        color: $pia-blue;
        font-size: 1.4rem;
        &:focus, &:hover, &:active {
          font-weight: 500;
        }
      }

      .databox {
        > div {
          padding: 3px 0;
          > div {
            padding: 10px 0;
          }
        }
      }
    }
  }
  &-attachment-removed {
    text-decoration: line-through;
  }
  &-summaryRisksOverviewBlock,
  &-summaryRisksCartographyBlock {
    > div {
      vertical-align: top;
      width: 50%;
      margin: 0 auto;
    }
  }
  &-summaryRisksOverviewBlock > div {
    box-shadow: 1px 1px 15px 1px darken($pia-white, 13.8%);
  }
}
.btn-select-all {
  display: block;
  padding: 10px 12px;
  color: $pia-white;
  background-color: $pia-green;
  border-radius: 15px;
}
.force-select-all {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}
.unselectable {
  -webkit-user-select: none!important;
  -moz-user-select: none!important;
  -ms-user-select: none!important;
  user-select: none!important;
}

.pagebreak { page-break-before: always; }

.pia-actionPlanGraphBlock {
  width: 50%;
  margin: 0 auto;
}
