@import '../../assets/stylesheets/variables';

.pia {
  &-summaryContainerBlock {
    margin-bottom: 80px;
    h1 {
      color: $pia-blue;
    }
  }
  &-summaryButtonsBlock {
    display: inline-block;
    vertical-align: middle;
    margin-top: 8px;
    a {
      text-decoration: none;
    }
    a, button {
      margin: 0 5px;
      i {
        color: $pia-gray-dark;
        font-size: 1.7rem;
      }
    }
  }
  &-summaryLinksBlock {
    margin-top: 10px;
  }
  &-previewBlock {
    text-align: center;
    text-decoration: none;
    div {
      display: inline-block;
      vertical-align: middle;
      font-size: 1.1rem;
      color: $pia-green;
    }
  }
}
