<app-header></app-header>
<main class="container pia-summaryContainerBlock">

  <!-- Buttons -->
  <div class="pia-summaryButtonsBlock">
    <a title="{{ 'summary.previous_page' | translate }}" routerLink="/entry/{{_piaService.pia.id}}/section/1/item/1" class="btn hide-for-print">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </a>
    <button onclick="print()" class="btn hide-for-print" title="{{ 'summary.print' | translate }}">
      <i class="fa fa-print" aria-hidden="true"></i>
    </button>
  </div>

  <!-- Navigation links -->
  <div class="pia-summaryLinksBlock">
    <a *ngIf="showPiaTpl" (click)="displayPiaSummary()" routerLink="/summary/{{_piaService.pia.id}}/action_plan" class="btn pia-previewBlock hide-for-print">
      <span class="pia-icons pia-icon-preview"></span>
      <div [innerHTML]="'summary.display_action_plan' | translate"></div>
    </a>
    <a *ngIf="!showPiaTpl" (click)="displayPiaSummary()" routerLink="/summary/{{_piaService.pia.id}}/pia" class="btn pia-previewBlock hide-for-print">
      <span class="pia-icons pia-icon-preview"></span>
      <div>{{ 'summary.display_pia' | translate }}</div>
    </a>
  </div>

  <!-- Customize content filters -->
  <div *ngIf="displayFilters" class="row">
   <div class="small-12 medium-12 columns">
      <form class="pia-summaryFiltersBlock hide-for-print">
        <fieldset>
          <legend>{{ 'summary.display_filters.title' | translate }}</legend>
          <div>
            <input type="checkbox" name="displayer-pia-main-content" id="displayer-pia-main-content" [checked]="true" (change)="displayMainContent()">
            <label for="displayer-pia-main-content">{{ 'summary.display_filters.main_content' | translate }}</label>
          </div>
          <div>
            <input type="checkbox" name="displayer-pia-section-1" id="displayer-pia-main-1" [checked]="true" (change)="displayContextContent()">
            <label for="displayer-pia-main-1">{{ 'summary.display_filters.context_content' | translate }}</label>
          </div>
          <div>
            <input type="checkbox" name="displayer-pia-section-2" id="displayer-pia-section-2" [checked]="true" (change)="displayFundamentalPrinciplesContent()">
            <label for="displayer-pia-section-2">{{ 'summary.display_filters.principles_content' | translate }}</label>
          </div>
          <div>
            <input type="checkbox" name="displayer-pia-section-3" id="displayer-pia-section-3" [checked]="true" (change)="displayRisksContent()">
            <label for="displayer-pia-section-3">{{ 'summary.display_filters.risks_content' | translate }}</label>
          </div>
          <div>
            <input type="checkbox" name="displayer-pia-action-plan" id="displayer-pia-action-plan" [checked]="true" (change)="displayActionPlanContent()">
            <label for="displayer-pia-action-plan">{{ 'summary.display_filters.action_plan_content' | translate }}</label>
          </div>
        </fieldset>
      </form>
    </div>
   </div>

  <div class="row">
    <div class="small-12 medium-12 columns">
      <div *ngIf="showPiaTpl && allData">

        <!-- Main PIA data -->
        <div class="fadeIn" *ngIf="displayMainPiaData">
          <div *ngFor="let c of content">
            <div *ngIf="c.data.length > 0">
              <h1>{{ c.title | translate }}</h1>
              <h2 *ngIf="c.subtitle">{{ c.subtitle | translate }}</h2>
              <div class="databox" *ngFor="let d of c.data">
                <h3>{{ d.title | translate }}</h3>
                <div style="font-weight:500;" [ngClass]="{ 'pia-attachment-removed': d.comment && d.comment.length > 0 }" *ngIf="d.type !== 'date'; else dateBlock" [innerHTML]="d.content | translate | safeHtml"></div>
                <div *ngIf="d.type !== 'date' && d.comment && d.comment.length > 0" [innerHTML]="d.comment | nl2br | safeHtml"></div>
                <ng-template #dateBlock>
                  <time style="font-weight:500;" *ngIf="d.content.toString() !== 'Invalid Date'">{{ d.content | date: 'dd/MM/yyyy' }}</time>
                </ng-template>
              </div>
            </div>
          </div>
        </div>

        <div *ngFor="let section of _piaService.data.sections">
          <div class="fadeIn section-{{section.id}}" *ngIf="section.id !== 4">
            <h1>{{ section.title | translate }}</h1>
            <div *ngFor="let item of section.items">
              <div *ngIf="item.evaluation_mode !== ''">
                <h2>{{ item.title | translate }}</h2>
                <div class="databox">
                  <div *ngIf="item.is_measure">
                    <div *ngFor="let measure of allData[section.id][item.id]">
                      <h3 [innerHTML]="measure.title"></h3>
                      <div [innerHTML]="measure.content | translate | safeHtml"></div>
                      <div class="evaluationbox" *ngIf="allData[section.id][item.id].evaluation">
                        <p>
                          <strong class="evaluationValue">{{ 'evaluations.title' | translate }} : {{ allData[section.id][item.id].evaluation.title | translate }}</strong>
                          <br>
                          <span *ngIf="allData[section.id][item.id].evaluation.action_plan_comment">
                            {{ 'evaluations.action_plan_comment' | translate }} : <span [innerHTML]="allData[section.id][item.id].evaluation.action_plan_comment | safeHtml"></span>
                            <br>
                          </span>
                          <span *ngIf="allData[section.id][item.id].evaluation.evaluation_comment">
                            {{ 'evaluations.evaluation_comment' | translate }} : {{ allData[section.id][item.id].evaluation.evaluation_comment }}
                            <br>
                          </span>
                          <span *ngIf="allData[section.id][item.id].evaluation.gauges && allData[section.id][item.id].evaluation.gauges.seriousness > 0">
                            <span [innerHTML]="'evaluations.gauges.seriousness' | translate:allData[section.id][item.id].evaluation.gauges.riskName"></span>
                            {{ 'evaluations.gauges.' + allData[section.id][item.id].evaluation.gauges.seriousness | translate }}
                            <br>
                          </span>
                          <span *ngIf="allData[section.id][item.id].evaluation.gauges && allData[section.id][item.id].evaluation.gauges.likelihood > 0">
                            <span [innerHTML]="'evaluations.gauges.likelihood' | translate:allData[section.id][item.id].evaluation.gauges.riskName"></span>
                            {{ 'evaluations.gauges.' + allData[section.id][item.id].evaluation.gauges.likelihood | translate }}
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="item.questions">
                    <div *ngFor="let question of item.questions">
                      <h3 [innerHTML]="question.title | translate"></h3>
                      <div [innerHTML]="allData[section.id][item.id][question.id].content | translate | safeHtml"></div>
                      <div class="evaluationbox" *ngIf="allData[section.id][item.id][question.id].evaluation">
                        <p>
                          <strong class="evaluationValue">{{ 'evaluations.title' | translate }} : {{ allData[section.id][item.id][question.id].evaluation.title | translate }}</strong>
                          <br>
                          <span *ngIf="allData[section.id][item.id][question.id].evaluation.action_plan_comment">
                            {{ 'evaluations.action_plan_comment' | translate }} : <span [innerHTML]="allData[section.id][item.id][question.id].evaluation.action_plan_comment | safeHtml"></span>
                            <br>
                          </span>
                          <span *ngIf="allData[section.id][item.id][question.id].evaluation.evaluation_comment">
                            {{ 'evaluations.evaluation_comment' | translate }} : {{ allData[section.id][item.id][question.id].evaluation.evaluation_comment }}
                            <br>
                          </span>
                          <span *ngIf="allData[section.id][item.id][question.id].evaluation.gauges && allData[section.id][item.id][question.id].evaluation.gauges.seriousness > 0">
                            <span [innerHTML]="'evaluations.gauges.seriousness' | translate:allData[section.id][item.id][question.id].evaluation.gauges.riskName"></span>
                            {{ 'evaluations.gauges.' + allData[section.id][item.id][question.id].evaluation.gauges.seriousness | translate }}
                            <br>
                          </span>
                          <span *ngIf="allData[section.id][item.id][question.id].evaluation.gauges && allData[section.id][item.id][question.id].evaluation.gauges.likelihood > 0">
                            <span [innerHTML]="'evaluations.gauges.likelihood' | translate:allData[section.id][item.id][question.id].evaluation.gauges.riskName"></span>
                            {{ 'evaluations.gauges.' + allData[section.id][item.id][question.id].evaluation.gauges.likelihood | translate }}
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="evaluationbox" *ngIf="allData[section.id][item.id]['evaluation_item']">
                    <p>
                      <strong class="evaluationValue">{{ 'evaluations.title' | translate }} : {{ allData[section.id][item.id]['evaluation_item'].title | translate }}</strong>
                      <br>
                      <span *ngIf="allData[section.id][item.id]['evaluation_item'].action_plan_comment">
                        {{ 'evaluations.action_plan_comment' | translate }} : <span [innerHTML]="allData[section.id][item.id]['evaluation_item'].action_plan_comment | safeHtml"></span>
                        <br>
                      </span>
                      <span *ngIf="allData[section.id][item.id]['evaluation_item'].evaluation_comment">
                        {{ 'evaluations.evaluation_comment' | translate }} : <span [innerHTML]="allData[section.id][item.id]['evaluation_item'].evaluation_comment | safeHtml"></span>
                        <br>
                      </span>
                      <span *ngIf="allData[section.id][item.id]['evaluation_item'].gauges && allData[section.id][item.id]['evaluation_item'].gauges.seriousness > 0">
                        <span [innerHTML]="'evaluations.gauges.seriousness' | translate:allData[section.id][item.id]['evaluation_item'].gauges.riskName"></span>
                        {{ 'evaluations.gauges.' + allData[section.id][item.id]['evaluation_item'].gauges.seriousness | translate }}
                        <br>
                      </span>
                      <span *ngIf="allData[section.id][item.id]['evaluation_item'].gauges && allData[section.id][item.id]['evaluation_item'].gauges.likelihood > 0">
                        <span [innerHTML]="'evaluations.gauges.likelihood' | translate:allData[section.id][item.id]['evaluation_item'].gauges.riskName"></span>
                        {{ 'evaluations.gauges.' + allData[section.id][item.id]['evaluation_item'].gauges.likelihood | translate }}
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="fadeIn" *ngIf="displayActionPlan">
        <div>
          <h1>{{ 'summary.action_plan.title' | translate }}</h1>

          <!-- Action plan for fundamental principles -->
          <div>
            <h2>{{ 'summary.action_plan.fundamental_principles' | translate }}</h2>
            <div class="actionplanbox">
              <ng-container *ngIf="_actionPlanService.principlesActionPlanReady; else noFundamentalPrinciples">
                <div *ngFor="let entry of _actionPlanService.results">
                  <div *ngIf="entry.action_plan_comment">
                    <h3 style="margin-bottom:2px;">{{ entry.short_title | translate }}</h3>
                    <div [innerHTML]="entry.action_plan_comment | translate | safeHtml"></div>
                    <div *ngIf="entry.evaluation && entry.evaluation.estimated_implementation_date">
                      <strong>{{ 'summary.action_plan.implementation_date' | translate }}</strong>
                      <time *ngIf="entry.evaluation.estimated_implementation_date.toString() !== 'Invalid Date'">{{ entry.evaluation.estimated_implementation_date | date: 'dd/MM/yyyy' }}</time>
                    </div>
                    <div *ngIf="entry.evaluation && entry.evaluation.person_in_charge">
                      <strong>
                        {{ 'summary.action_plan.implementation_responsible' | translate }}
                      </strong>
                      {{ entry.evaluation.person_in_charge }}
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-template #noFundamentalPrinciples>{{ 'summary.action_plan.no_action_plan' |  translate }}</ng-template>
            </div>
          </div>
        </div>

        <!-- Action plan for measures -->
        <div>
          <h2>{{ 'summary.action_plan.measures' | translate }}</h2>
          <div class="actionplanbox">
            <ng-container *ngIf="_actionPlanService.measuresActionPlanReady; else noMeasures">
              <div *ngFor="let entry of _actionPlanService.measures">
                <h3 style="margin-bottom:2px;">{{ entry.short_title | translate }}</h3>
                <div [innerHTML]="entry.action_plan_comment | translate | safeHtml"></div>
                <div *ngIf="entry.evaluation && entry.evaluation.estimated_implementation_date">
                  <strong>{{ 'summary.action_plan.implementation_date' | translate }}</strong>
                  <time *ngIf="entry.evaluation.estimated_implementation_date.toString() !== 'Invalid Date'">{{ entry.evaluation.estimated_implementation_date | date: 'dd/MM/yyyy' }}</time>
                </div>
                <div *ngIf="entry.evaluation && entry.evaluation.person_in_charge">
                  <strong>
                    {{ 'summary.action_plan.implementation_responsible' | translate }}
                  </strong>
                  {{ entry.evaluation.person_in_charge }}
                </div>
              </div>
            </ng-container>
            <ng-template #noMeasures>{{ 'summary.action_plan.no_action_plan' |  translate }}</ng-template>
          </div>
        </div>

        <!-- Action plan for risks -->
        <div>
          <div *ngIf="_actionPlanService.risksActionPlan32Ready">
            <h2 style="margin-bottom:2px;">{{ 'summary.action_plan.risks' | translate }} - {{ _actionPlanService.risks['3.2'].short_title | translate }}</h2>
            <div class="actionplanbox">
              <div [innerHTML]="_actionPlanService.risks['3.2'].action_plan_comment | translate | safeHtml"></div>
              <div *ngIf="_actionPlanService.risks['3.2'].evaluation && _actionPlanService.risks['3.2'].evaluation.estimated_implementation_date">
                <strong>{{ 'summary.action_plan.implementation_date' | translate }}</strong>
                <time *ngIf="_actionPlanService.risks['3.2'].evaluation.estimated_implementation_date.toString() !== 'Invalid Date'">{{ _actionPlanService.risks['3.2'].evaluation.estimated_implementation_date | date: 'dd/MM/yyyy' }}</time>
              </div>
              <div *ngIf="_actionPlanService.risks['3.2'].evaluation && _actionPlanService.risks['3.2'].evaluation.person_in_charge">
                <strong>
                  {{ 'summary.action_plan.implementation_responsible' | translate }}
                </strong>
                {{ _actionPlanService.risks['3.2'].evaluation.person_in_charge }}
              </div>
            </div>
          </div>
          <div *ngIf="_actionPlanService.risksActionPlan33Ready">
            <h2 style="margin-bottom:2px;">{{ 'summary.action_plan.risks' | translate }} - {{ _actionPlanService.risks['3.3'].short_title | translate }}</h2>
            <div class="actionplanbox">
              <div [innerHTML]="_actionPlanService.risks['3.3'].action_plan_comment | translate | safeHtml"></div>
              <div *ngIf="_actionPlanService.risks['3.3'].evaluation && _actionPlanService.risks['3.3'].evaluation.estimated_implementation_date">
                <strong>{{ 'summary.action_plan.implementation_date' | translate }}</strong>
                <time *ngIf="_actionPlanService.risks['3.3'].evaluation.estimated_implementation_date.toString() !== 'Invalid Date'">{{ _actionPlanService.risks['3.3'].evaluation.estimated_implementation_date | date: 'dd/MM/yyyy' }}</time>
              </div>
              <div *ngIf="_actionPlanService.risks['3.3'].evaluation && _actionPlanService.risks['3.3'].evaluation.person_in_charge">
                <strong>
                  {{ 'summary.action_plan.implementation_responsible' | translate }}
                </strong>
                {{ _actionPlanService.risks['3.3'].evaluation.person_in_charge }}
              </div>
            </div>
          </div>
          <div *ngIf="_actionPlanService.risksActionPlan34Ready">
            <h2 style="margin-bottom:2px;">{{ 'summary.action_plan.risks' | translate }} - {{ _actionPlanService.risks['3.4'].short_title | translate }}</h2>
            <div class="actionplanbox">
              <div [innerHTML]="_actionPlanService.risks['3.4'].action_plan_comment | translate | safeHtml"></div>
              <div *ngIf="_actionPlanService.risks['3.4'].evaluation && _actionPlanService.risks['3.4'].evaluation.estimated_implementation_date">
                <strong>{{ 'summary.action_plan.implementation_date' | translate }}</strong>
                <time *ngIf="_actionPlanService.risks['3.4'].evaluation.estimated_implementation_date.toString() !== 'Invalid Date'">{{ _actionPlanService.risks['3.4'].evaluation.estimated_implementation_date | date: 'dd/MM/yyyy' }}</time>
              </div>
              <div *ngIf="_actionPlanService.risks['3.4'].evaluation && _actionPlanService.risks['3.4'].evaluation.person_in_charge">
                <strong>
                  {{ 'summary.action_plan.implementation_responsible' | translate }}
                </strong>
                {{ _actionPlanService.risks['3.4'].evaluation.person_in_charge }}
              </div>
            </div>
          </div>
          <div *ngIf="!_actionPlanService.risksActionPlan32Ready && !_actionPlanService.risksActionPlan33Ready && !_actionPlanService.risksActionPlan34Ready">
            <h2 style="margin-bottom:2px;">{{ 'summary.action_plan.risks' | translate }}</h2>
            <div class="actionplanbox">
              {{ 'summary.action_plan.no_action_plan' |  translate }}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
