@import "src/assets/stylesheets/variables";
.pia-cardsBlock-item.pia-doingBlock-item {
  input {
    &:focus,
    &:hover,
    &:active {
      outline: 1px dotted $pia-red !important;
    }
  }
  .pia-cardsBlock-item-btn {
    border-top: 1px solid $pia-red;
  }
  .pia-cardsBlock-toolbar {
    a {
      color: $pia-red;
    }
    .pia-tooltip-text {
      background-color: $pia-red;
    }
  }
}
.pia-cardsBlock-item-btn {
  position: absolute;
  bottom: 0;
  width: 93%;
}
.pia-cardsBlock-item-form {
  padding-bottom: 65px;
}
