<!--
    TODO : remove the 'approved' class by default (it's just to show here)
    and add it only when evaluation is done
-->
<div class="pia-questionBlock approved" [attr.data-id]="id">
  <form [formGroup]="questionForm">
    <div class="pia-questionBlock-title">
      <button class="btn" type="button" (click)="displayQuestion()" title="Afficher / masquer"><span class="pia-icons pia-icon-accordeon-up"></span></button>
      Description du produit
    </div>
    <div class="pia-questionBlock-displayer fadeIn">
      <button type="button" class="btn pia-questionBlock-edit hide" (click)="activateQuestionEdition()" title="Éditer"><i class="fa fa-pencil" aria-hidden="true"></i></button>
      <!-- TODO : to display only if question is of type 'gauge' -->
      <app-gauge></app-gauge>
      <div class="pia-questionBlock-content">
        <!-- TODO : check the question.type (text or list here) to display a question with tags or a simple question -->
        <tag-input class="form-control input-lg" [theme]="'questions-tags-theme'" [(ngModel)]='tags' [ngModelOptions]="{standalone: true}"></tag-input>
        <!-- TODO : add the correct placeholder (something like question.placeholder from JSON file and NgFor) -->
        <textarea [attr.data-id]="id" id="pia-question-content-{{id}}" formControlName="questionContent" name="pia-question" rows="8" cols="50" (focusout)="questionContentFocusOut()" placeholder="Décrivez les caractéristiques de votre produit.">orem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit urna odio, eget cursus ferit urna odio, eget cursus ferit urna odio, eget cursus ferit urna odio, eget cdales consequat.</textarea>
      </div>
      <!-- TODO : to show only after a first edition (when the current measure is created in DB) -->
      <!-- <app-comments></app-comments> -->
      <!-- TODO : to show only on evaluation mode -->
      <!-- <app-evaluations></app-evaluations> -->
    </div>
  </form>
</div>
