<!--
    TODO : remove the 'approved' class by default (it's just to show what it does, here).
    Add it only on questions which have been evaluated as 'improvable' or 'acceptable'.
    In addition of this class, questions should be 'locked' (uneditable).
    However, other questions ('to be fixed') don't get this special class and stay editable.
-->
<div class="pia-questionBlock approved" [attr.data-id]="question.id">
  <div class="pia-questionBlock-title">
    <button class="btn" type="button" (click)="displayQuestion()" title="Afficher / masquer"><span class="pia-icons pia-icon-accordeon-up"></span></button>
    {{question.title}}
  </div>
  <div class="pia-questionBlock-displayer fadeIn">
    <button type="button" class="btn pia-questionBlock-edit"
            *ngIf="displayEditButton && !_evaluationService.showValidationButton && !_evaluationService.enableFinalValidation"
            (click)="activateQuestionEdition()" title="Éditer">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </button>
    <form [formGroup]="questionForm">

      <!-- TODO : to display only if question is of type 'gauge' -->
      <div class="pia-gaugeBlock" *ngIf="question.answer_type == 'gauge'">
        <input type="range" (change)="checkGaugeChanges($event)" formControlName="gauge" min="1" max="4" step="1">
        <div>
          <div>Négligeable</div>
          <div>Limité</div>
          <div>Importante</div>
          <div>Maximale</div>
        </div>
        <div class="pia-gaugeBlock-background"></div>
      </div>

      <div class="pia-questionBlock-content">
        <ng-container *ngIf="question.is_measure; else tagInput2">
          <tag-input
            *ngIf="question.answer_type == 'list'"
            (onAdd)="onAdd($event)"
            (onTagEdited)="onTagEdited($event)"
            (onRemove)="onRemove($event)"
            formControlName="list"
            [theme]="'foundation-theme'"
            [ngModel]="tags"
            [placeholder]="question.placeholder + '&#10010;'"
            [editable]="'false'"
            [disabled]="_evaluationService.showValidationButton || _evaluationService.enableFinalValidation"
            [onlyFromAutocomplete]="true"
            [secondaryPlaceholder]="question.placeholder + '&#10010;'">
            <tag-input-dropdown
              [showDropdownIfEmpty]="true"
              [autocompleteItems]="userMeasures">
            </tag-input-dropdown>
          </tag-input>
        </ng-container>
        <ng-template #tagInput2>
          <tag-input
            *ngIf="question.answer_type == 'list'"
            (onAdd)="onAdd($event)"
            (onTagEdited)="onTagEdited($event)"
            (onRemove)="onRemove($event)"
            formControlName="list"
            [theme]="'foundation-theme'"
            [ngModel]="tags"
            [placeholder]="question.placeholder + '&#10010;'"
            [editable]="'false'"
            [disabled]="_evaluationService.showValidationButton || _evaluationService.enableFinalValidation"
            [secondaryPlaceholder]="question.placeholder + '&#10010;'">
          </tag-input>
        </ng-template>
        <textarea
          *ngIf="question.answer_type == 'text' || question.answer_type == 'gauge'"
          [attr.data-id]="question.id"
          id="pia-question-content-{{question.id}}"
          formControlName="text"
          name="pia-question"
          rows="8"
          cols="50"
          (focusout)="questionContentFocusOut()"
          (focusin)="questionContentFocusIn()"
          placeholder="{{question.placeholder}}">
        </textarea>
      </div>
    </form>
  </div>

  <!-- TODO : to show only after a first edition (when the current question is created in DB) -->
  <app-comments [pia]="pia" [question]="question"></app-comments>

  <!-- TODO : to show only on evaluation mode -->
  <app-evaluations *ngIf="item.evaluation_mode === 'question' && (_evaluationService.showValidationButton || _evaluationService.enableFinalValidation)" [pia]="pia" [section]="section" [item]="item" [questionId]="question.id"></app-evaluations>
</div>
