<div class="pia-cardsBlock pia" [ngClass]="{'pia-exampleBlock': pia.is_example === 1, 'pia-archiveBlock': pia.status > 1, 'pia-doingBlock': pia.status < 2}" [attr.data-id]="pia.id">
    <div class="pia-cardsBlock-header-title" *ngIf="pia.id !== null">
      <span *ngIf="!previousPia || previousPia.status !== pia.status">{{ pia.getStatusName() | translate }}</span>
    </div>
    <div class="pia-cardsBlock-item pia-doingBlock-item">
      <div *ngIf="attachments && attachments.length > 0" class="pia-cardsBlock-item-attachment" aria-hidden="true">
        <span class="pia-icons pia-icon-attachment"></span>
        <ul>
          <ng-container *ngFor="let attachment of attachments">
            <li>
              {{ attachment.name }}
            </li>
          </ng-container>
        </ul>
      </div>
      <div class="pia-cardsBlock-toolbar">
          <div class="pia-cardsBlock-toolbar-export">
            <a href="javascript:;" (click)="export(pia.id)" class="btn pia-tooltip">
              <i class="fa fa-download" aria-hidden="true"></i>
              <span class="pia-tooltip-text">{{ 'homepage.cards.item.tools.export' | translate }}</span>
            </a>
          </div>
          <div class="pia-cardsBlock-toolbar-more">
            <a href="javascript:;" class="btn pia-tooltip" title="{{ 'homepage.cards.item.tools.more_options' | translate }}">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
              <ul class="pia-cardsBlock-toolbar-moreList">
                <li>
                  <i class="fa fa-files-o" aria-hidden="true"></i>
                  <a href="javascript:;" (click)="_piaService.duplicate(pia.id)">{{ 'homepage.cards.item.tools.duplicate' | translate }}</a>
                </li>
                <li>
                  <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                  <a routerLink="/summary/{{pia.id}}" [queryParams]="{ displayOnlyActionPlan: true }" [innerHTML]="'homepage.cards.item.tools.action_plan' | translate"></a>
                </li>
                <li>
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
                  <a routerLink="/summary/{{pia.id}}" [innerHTML]="'homepage.cards.item.tools.pia' | translate"></a>
                </li>
                <li>
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                  <a href="javascript:;" (click)="removePia(pia.id)">{{ 'homepage.cards.item.tools.remove' | translate }}</a>
                </li>
              </ul>
            </a>
          </div>
      </div>

      <form class="pia-cardsBlock-item-form"
            [formGroup]="piaForm">
          <input type="hidden" formControlName="id">
          <div (click)="piaNameFocusIn()" style="margin-top:20px;">
              <label for="pia-edit-name">{{ 'homepage.cards.pia_name' | translate }}</label>
              <input type="text"
                     #piaName
                     formControlName="name"
                     required
                     placeholder="{{ 'homepage.cards.placeholder_pia_name' | translate }}"
                     id="pia-edit-name"
                     (focusout)="piaNameFocusOut()">
          </div>
          <div (click)="piaAuthorNameFocusIn()">
              <label for="pia-edit-author-name">{{ 'homepage.cards.author' | translate }}</label>
              <input type="text"
                     #piaAuthorName
                     formControlName="author_name"
                     required
                     placeholder="{{ 'homepage.cards.placeholder_author' | translate }}"
                     id="pia-edit-author-name"
                     (focusout)="piaAuthorNameFocusOut()">
          </div>
          <div (click)="piaEvaluatorNameFocusIn()">
              <label for="pia-edit-evaluator-name">{{ 'homepage.cards.evaluation' | translate }}</label>
              <input type="text"
                     #piaEvaluatorName
                     formControlName="evaluator_name"
                     required
                     placeholder="{{ 'homepage.cards.placeholder_evaluation' | translate }}"
                     id="pia-edit-evaluator-name"
                     (focusout)="piaEvaluatorNameFocusOut()">
          </div>
          <div (click)="piaValidatorNameFocusIn()">
              <label for="pia-edit-validator-name">{{ 'homepage.cards.validation' | translate }}</label>
              <input type="text"
                     #piaValidatorName
                     formControlName="validator_name"
                     required
                     placeholder="{{ 'homepage.cards.placeholder_validation' | translate }}"
                     id="pia-edit-validator-name"
                     (focusout)="piaValidatorNameFocusOut()">
        </div>
        <div class="pia-cardsBlock-item-structure" *ngIf="pia.structure_id">
          <div>{{ 'homepage.cards.structure' | translate }}</div>
          <span>{{ pia.structure_name }}</span>
        </div>
        <div class="pia-cardsBlock-item-date">
            <div>{{ 'homepage.cards.date' | translate }}</div>
            <time>{{ pia.created_at | date: 'dd/MM/yyyy' }}</time>
        </div>
        <div class="pia-cardsBlock-item-status">
            <div class="pia-cardsBlock-item-status-infos">
                <div>{{ 'homepage.cards.status' | translate }}</div>
                <div class="pendingValidation" *ngIf="pia.status === 0 && pia.progress === 100;else defaultStatuses">
                  {{ 'pia.statuses.5' | translate }}
                </div>
                <ng-template #defaultStatuses>
                  <div>{{ pia.getStatusName() | translate }}</div>
                </ng-template>
            </div>
            <div class="pia-cardsBlock-item-status-progressBar">
                <div>{{ pia.progress }}%</div>
                <progress max="100" value="{{ pia.progress }}"></progress>
            </div>
        </div>
        <div class="pia-cardsBlock-item-btn">
          <a *ngIf="pia.status === 0" routerLink="/entry/{{pia.id}}/section/1/item/1" class="btn btn-green">{{ 'homepage.cards.item.edit_pia' | translate }}</a>
          <a *ngIf="pia.status > 0" routerLink="/entry/{{pia.id}}/section/1/item/1" class="btn btn-green">{{ 'homepage.cards.item.consult_pia' | translate }}</a>
        </div>
      </form>
  </div>
</div>
