<section class="pia-entryContentBlock pia-entryContentBlock-section{{section.id}}" *ngIf="section && item">
  <header class="pia-entryContentBlock-header">
    <div>
      <i class="fa"
         [ngClass]="{'fa-check-square-o': _evaluationService.enableFinalValidation,
                     'fa-pencil-square-o': _evaluationService.showValidationButton,
                     'fa-cog': !_evaluationService.enableFinalValidation && !_evaluationService.showValidationButton}"
         aria-hidden="true"></i>
    </div>
    <div class="pia-entryContentBlock-header-title">
      <h1 *ngIf="section.title">{{ section.title }}</h1>
      <h2 *ngIf="item.title">{{ item.title }}</h2>
      <h3 *ngIf="section.short_help">{{ section.short_help }}</h3>
      <h4 *ngIf="item.short_help">{{ item.short_help }}</h4>
    </div>
    <a *ngIf="section.id === 4 && item.id === 2;else defaultBlock" routerLink="/summary/{{_piaService.pia.id}}/action_plan" class="btn pia-previewBlock" title="Export du plan d'action">
      <span class="pia-icons pia-icon-preview"></span>
      <div>Export du<br>plan d'action</div>
    </a>
    <ng-template #defaultBlock>
      <a  routerLink="/summary/{{_piaService.pia.id}}/pia" class="btn pia-previewBlock" title="Aperçu">
        <span class="pia-icons pia-icon-preview"></span>
        <div>Aperçu</div>
      </a>
    </ng-template>
  </header>

  <ng-container *ngIf="item.is_measure; else appQuestions">
    <button (click)="_measureService.addNewMeasure(_piaService.pia)" class="btn btn-white btn-addMeasure" type="button"
            *ngIf="!_evaluationService.showValidationButton && !_evaluationService.enableFinalValidation"
            title="Ajouter une mesure"><span class="pia-icons pia-icon-add"></span> Ajouter une mesure vide (sinon, utiliser la base de connaissance)</button>
    <app-measures *ngFor="let measure of _measureService.measures" [measure]="measure" [pia]="_piaService.pia" [section]="section" [item]="item"></app-measures>
  </ng-container>
  <ng-template #appQuestions>
    <div *ngFor="let question of questions">
      <app-questions [question]="question" [pia]="_piaService.pia" [section]="section" [item]="item"></app-questions>
    </div>
  </ng-template>

  <app-evaluations *ngIf="item.evaluation_mode === 'item' && (_evaluationService.showValidationButton || _evaluationService.enableFinalValidation || _evaluationService.someItemNeedToBeFixed)" [pia]="_piaService.pia" [section]="section" [item]="item"></app-evaluations>

  <app-overview-risks *ngIf="section.id == 3 && item.id == 5"></app-overview-risks>

  <app-validate-pia *ngIf="section.id == 4 && item.id == 4"></app-validate-pia>
  <app-refuse-pia *ngIf="section.id == 4 && item.id == 5"></app-refuse-pia>
  <app-risks-cartography *ngIf="section.id == 4 && item.id == 1" [pia]="_piaService.pia"></app-risks-cartography>
  <app-action-plan *ngIf="section.id == 4 && item.id == 2" [pia]="_piaService.pia" [data]="data"></app-action-plan>
  <app-dpo-people-opinions *ngIf="section.id == 4 && item.id == 3"></app-dpo-people-opinions>

  <footer class="pia-entryContentBlock-footer">
    <button class="btn btn-green" (click)="_evaluationService.prepareForEvaluation()"
            *ngIf="!_evaluationService.showValidationButton && !_evaluationService.enableFinalValidation"
            [ngClass]="{'btn-active': _evaluationService.enableEvaluation, 'hide': ((section.id == 3 && item.id == 5) || section.id == 4)}"
            [disabled]="!_evaluationService.enableEvaluation" type="submit"
            title="Demander l'évaluation">Demander l'évaluation</button>
    <button class="btn btn-green" (click)="validateEvaluation()"
            *ngIf="_evaluationService.showValidationButton && !_evaluationService.enableFinalValidation"
            [ngClass]="{'btn-active': _evaluationService.enableValidation, 'hide': (section.id == 3 && item.id == 5) || section.id == 4 || !_evaluationService.showValidationButton}"
            [disabled]="!_evaluationService.enableValidation" type="submit"
            title="Valider l'évaluation">Valider l'évaluation</button>
    <button class="btn btn-pending-validation" [ngClass]="{'hide': (section.id == 3 && item.id == 5) || section.id == 4 || !_evaluationService.enableFinalValidation}" disabled type="submit" title="Partie évaluée, en attente de la validation finale">
      <i class="fa fa-check-square-o" aria-hidden="true"></i>
      Partie évaluée, en attente de la validation finale
    </button>

    <p [ngClass]="{'hide': (section.id == 3 && item.id == 5) || section.id == 4}">Tous les champs doivent être remplis</p>

    <!-- TODO : pagination -->
    <div class="hide pia-entryContentBlock-footer-nav">
      <a href="#"><< Contexte </a>
      <a href="#">Principes fondamentaux >></a>
    </div>
  </footer>
</section>
