[Desktop Entry]
Type=Application
Name=PIA
GenericName=Privacy Impact Assessment
Comment=Conduct GDPR data protection impact assessments
Comment[fr]=Réaliser des analyses d'impact relatives à la protection des données (RGPD)
Exec=pia %U
Icon=fr.cnil.PIA
Terminal=false
Categories=Office;Network;Security;
Keywords=PIA;DPIA;GDPR;RGPD;CNIL;Privacy;Data;Protection;
StartupNotify=true
StartupWMClass=pia

