<app-header></app-header>

<h1>{{ 'templates.header' | translate }}</h1>
<div class="templates container pia-mainContainerBlock">
	<div class="row">
		<div class="small-12 medium-12 columns">
			<div *ngFor="let template of templates" class="template pia-cardsBlock">
		  	<p class="template-name">{{ template.name }}</p>
		  	<p class="template-description">{{ template.description }}</p>
		  	<div class="pia-cardsBlock-item-btn">
	        <button class="pick-template btn btn-green get-focus" (click)="piaFromTemplate(template)">
	        	{{ 'templates.pick'| translate }}
	        </button>
	      </div>
			</div>
		</div>
	</div>
</div>

<app-modals></app-modals>
