<div class="pia-commentsBlock">
  <div class="pia-commentsBlock-count">{{nbComments}} commentaire(s)</div>
  <div class="pia-commentsBlock-infos">
    <time datetime="2016-12-12" class="pia-commentsBlock-date">le 12/12/2016</time>
    <div class="pia-commentsBlock-btn">
      <button class="btn" type="button" (click)="displayNewCommentBox()" title="Commenter"><i class="fa fa-comment-o" aria-hidden="true"></i> Commenter</button>
      <button class="btn" (click)="displayCommentsList()" type="button" title="Afficher / masquer"><span class="pia-icons pia-icon-accordeon-up"></span></button>
    </div>
  </div>
  <form [formGroup]="commentForm" class="pia-commentsBlock-new fadeIn" (focusout)="newCommentFocusOut()">
    <textarea formControlName="description" placeholder="Laissez un commentaire" rows="8" cols="50"></textarea>
  <!--<div class="pia-commentsBlock-list">-->
    <!--<div formArrayName="comment">-->
      <!--<div *ngFor="let commentControl of commentForm.get('comment').controls; let i = index">-->
        <!--<app-comment-item [formControlName]="i"></app-comment-item>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  </form>

  <div class="pia-commentsBlock-list">
    <!--<app-comment-item title="truc"></app-comment-item>-->
    <app-comment-item *ngFor="let comment of comments" [comment]="comment"></app-comment-item>
  </div>
</div>
