<div class="pia-validationHistoryBlock">
  <div class="pia-validationHistoryBlock-title">
    <p>Historique de validation</p>
    <div>
      <button class="btn pia-historyBlock-btn" type="button" (click)="displayHistoryList()" title="Afficher / masquer"><span class="pia-icons pia-icon-accordeon-up"></span></button>
    </div>
  </div>
  <div class="pia-validationHistoryBlock-content">
    <article>
      <h5>le 14/12/2016</h5>
      <h4>Motif du refus</h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
        ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
        molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero</p>
      <h4>Modifications apportées</h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation</p>
    </article>
  </div>
</div>
<div class="pia-validationHistoryBlock-refuse">
  <div class="pia-validationHistoryBlock-refuse-title">
    <p>Refus Précédent</p>
    <div>
      <button class="btn pia-refuseBlock-btn " type="button" (click)="displayRefuseList()" title="Afficher / masquer"><span class="pia-icons pia-icon-accordeon-up"></span></button>
    </div>
  </div>
  <div class="pia-validationHistoryBlock-refuse-content">
    <article>
      <h5>le 14/12/2016</h5>
      <h4>Motif du refus</h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
        ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
        molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero</p>
      <h4>Modifications apportées</h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation</p>
    </article>
  </div>
</div>
