<td class="folder-listsBlock-item" [attr.data-id]="folder.id" >
  <i class="fa fa-folder" routerLink="/folders/{{folder.id}}"></i>&nbsp;<div [attr.contenteditable]="canCreatePIA" (focusout)="onFocusOut('name', $event)">{{ folder.name }}</div>
</td>
<td class="folder-listsBlock-item" colspan="4">
  <time *ngIf="folder.updated_at">{{ folder.updated_at | date: 'dd/MM/yyyy' }}</time>
</td>
<td class="folder-listsBlock-item" colspan="3">
  <time>{{ folder.created_at | date: 'dd/MM/yyyy' }}</time>
</td>
<td class="folder-listsBlock-item">
  <div class="folder-listsBlock-item-actions">
    <a routerLink="/folders/{{folder.id}}" class="btn pia-tooltip">
      <i class="fa fa-eye" aria-hidden="true"></i>
      <span class="pia-tooltip-text">{{ 'homepage.lists.item.tools.consult_folder' | translate }}</span>
    </a>
    <a href="javascript:;" *ngxPermissionsOnly="['CanCreatePIA']" (click)="removeFolder(folder.id)" class="btn pia-tooltip">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
      <span class="pia-tooltip-text">{{ 'homepage.lists.item.tools.remove' | translate }}</span>
    </a>
  </div>
</td>
