<app-header></app-header>
<main class="container">
  <div class="row">
    <!-- Left sidebar (sections) -->
    <div class="small-12 medium-3 columns">
      <aside class="pia-leftSidebarBlock">
        <app-sections></app-sections>
      </aside>
    </div>

    <!-- Main entry content -->
    <div class="small-12 medium-6 columns">
      <!-- TODO : add header which contains json data -->

      <!-- <app-entry-content section="A transmettre depuis la sous-section cliquée"></app-entry-content> -->
      <app-entry-content section="context"></app-entry-content>
    </div>

    <!-- Right sidebar (knowledge base) -->
    <div class="small-12 medium-3 columns">
      <div class="pia-rightSidebarBlock">
        <app-knowledge-base></app-knowledge-base>
      </div>
    </div>
  </div>
</main>

<!-- TODO : les centraliser dans un fichier spécial ? -->
<!--
    A conserver pour l'exemple dans entry-content.html :
    <div class="pia-modalBlock" id="simpleModal_1">
    <div class="pia-modalBlock-abandonPIA bounceIn">
      <button class="pia-modalBlock-close btn" title="Fermer"><span data-dismiss="modal" class="pia-icons pia-icon-close-big"></span></button>
      <p>
        Êtes-vous sûr de vouloir<br>
        abandonner le traitement Captoo ?
      </p>
      <div class="pia-modalBlock-buttons-choice">
        <button class="btn btn-red btn-active" type="button" title="Supprimer et archiver">Supprimer <br>et archiver</button>
        <button class="btn btn-red" type="button" title="Reprendre">Reprendre</button>
      </div>
    </div>
  </div>
-->

<!--
   Solution potentielle :
   créer un composant / un dossier qui comprendra chaque modale en tant que composant à part entière.
   Au lieu de toutes les positionner ici.
-->

<div class="pia-modalBlock" id="simpleModal_2">
  <div class="pia-modalBlock-refusedPIA">
    <button type="button" class="pia-modalBlock-close btn" title="Fermer"><span (click)="closeModal()" data-dismiss="modal" class="pia-icons pia-icon-close-big"></span></button>
    <p>
      <span class="strong">Attention,</span><br>
      Veuillez saisir un commentaire différent de celui du dernier commentaire enregistré.
    </p>
    <span class="pia-icons pia-icon-sorry"></span>
    <div class="pia-modalBlock-validate">
      <button class="btn btn-blue" type="button" (click)="closeModal()" data-dismiss="modal" title="Continuer">Fermer</button>
    </div>
  </div>
</div>
