<app-header></app-header>
<main class="container pia-mainContainerBlock">
    <div class="row">
        <div *ngIf="this._piaService.pia.is_example === 1" class="pia-breadcrumb hide-for-print small-12 medium-12 columns">{{ 'header.help.title' | translate }} > {{ 'header.help.pia_example_link' | translate }}</div>
        <div *ngIf="this._piaService.pia.is_example === 0" class="pia-breadcrumb hide-for-print small-12 medium-12 columns">{{ 'header.homepage_link' | translate }} > {{ 'header.current_pias' | translate }} > {{ this._piaService.pia.name }}</div>
        <!-- Left sidebar (sections) -->
        <div class="small-12 medium-3 columns">
            <aside class="pia-leftSidebarBlock">
                <app-sections [section]="section" [item]="item"></app-sections>
                <app-revisions *ngIf="_piaService.pia.is_example == 0 && _piaService.pia.is_archive  == 0" [recover]="false" [currentVersion]="currentVersion" [revisions]="revisions" (newRevisionQuery)="onNewRevision()"></app-revisions>
            </aside>
        </div>

        <!-- Main entry content -->
        <div class="small-12 medium-6 columns">
            <app-entry-content [questions]="questions" [section]="section" [item]="item" [data]="data"></app-entry-content>
        </div>

        <!-- Right sidebar (knowledge base) -->
        <div class="small-12 medium-3 columns">
            <div class="pia-rightSidebarBlock">
                <app-knowledge-base [item]="item"></app-knowledge-base>
            </div>
        </div>
    </div>
</main>

<app-modals></app-modals>
