<app-header></app-header>
<main class="container">
  <div class="row">
    <!--Left sidebar (sections) -->
    <div class="small-12 medium-3 columns">
      <aside class="pia-leftSidebarBlock">
        <app-sections></app-sections>
      </aside>
    </div>

    <!--Main entry content -->
    <div class="small-12 medium-6 columns">
      <!-- TODO : add header which contains json data -->
      <app-entry-content></app-entry-content>
    </div>

    <!--Right sidebar (knowledge base) -->
    <div class="small-12 medium-3 columns">
      <div class="pia-rightSidebarBlock">
        <app-knowledge-base></app-knowledge-base>
      </div>
    </div>
  </div>
</main>


<div class="pia-modalBlock" id="simpleModal_1">
  <div class="pia-modalBlock-abandonPIA bounceIn">
    <button class="pia-modalBlock-close btn" title="Fermer"><span data-dismiss="modal" class="pia-icons pia-icon-close-big"></span></button>
    <p>
      Êtes-vous sûr de vouloir<br>
      abandonner le traitement Captoo ?
    </p>
    <div class="pia-modalBlock-buttons-choice">
      <button class="btn btn-red btn-active" type="button" title="Supprimer et archiver">Supprimer <br>et archiver</button>
      <button class="btn btn-red" type="button" title="Reprendre">Reprendre</button>
    </div>
  </div>
</div>

