<app-header></app-header>
<main class="container pia-PIAEntryBlock pia-ValidationRefuse">
  <div class="row">
    <!--Left sidebar (sections) -->
    <div class="small-12 medium-3 columns">
      <aside class="pia-leftSidebarBlock">
        <app-sections></app-sections>
      </aside>
    </div>

    <!--Main entry content -->
    <div class="small-12 medium-6 columns">
      <section class="pia-entryContentBlock">
        <header class="pia-entryContentBlock-header">
          <div>
            <i class="fa fa-cog" aria-hidden="true"></i>
          </div>
          <div class="pia-entryContentBlock-header-title">
            <h1>Validation du PIA</h1>
          </div>
          <a href="#" class="btn pia-previewBlock" title="Aperçu">
            <span class="pia-icons pia-icon-preview"></span>
            <div>Aperçu</div>
          </a>
        </header>

        // There is only this block displayed when we come from validate PIA page and we clicked on refuse it.<br>
        // In this case, it should show only "Abandonner le traitement" and "Refuser le PIA" buttons.
        <div class="pia-entryContentBlock-content">
          <form [formGroup]="rejectionReasonForm">
            <div class="pia-entryContentBlock-content-subject">
              <div class="pia-entryContentBlock-content-subject-title">
                <h3>Motif du refus</h3>
                <button type="button" class="btn hide" id="rejection-reason-btn" (click)="activateRejectionReasonEdition()" title="Éditer"><i class="fa fa-pencil" aria-hidden="true"></i></button>
              </div>
              <div class="pia-entryContentBlock-content-subject-textarea">
                <textarea rows="8" cols="50" id="pia-rejection-reason" formControlName="textarea" (focus)="rejectionReasonFocus()" (focusout)="rejectionReasonFocusOut()" placeholder="Décrivez les motifs de refus de validation du PIA"></textarea>
              </div>
            </div>
          </form>

          // This block should be displayed if the PIA status is refused.<br>
          // If it's refused, it shows this block and only the resend button.<br>
          // And the "Motif du refus" block is also displayed but locked, nothing can be changed on it.
          <form [formGroup]="modificationsMadeForm">
            <div class="pia-entryContentBlock-content-subject">
              <div class="pia-entryContentBlock-content-subject-title">
                <h3>Modifications apportées</h3>
                <button type="button" class="btn hide" id="modifications-made-btn" (click)="activateModificationsMadeEdition()" title="Éditer"><i class="fa fa-pencil" aria-hidden="true"></i></button>
              </div>
              <div class="pia-entryContentBlock-content-subject-textarea">
                <textarea rows="8" cols="50" id="pia-modifications-made" formControlName="textarea" (focus)="modificationsMadeFocus()" (focusout)="modificationsMadeFocusOut()" placeholder="Décrivez les modifications apportées au PIA"></textarea>
              </div>
            </div>
          </form>
        </div>

        <footer class="pia-entryContentBlock-footer">
          <div class="pia-entryContentBlock-content-cancelButtons">
            <button type="button" class="btn btn-red" (click)="this.modal.openModal('modal-abandon-pia')" title="Abandonner le traitement" disabled>Abandonner le traitement</button>
            <button type="button" class="btn btn-red" (click)="this.modal.openModal('modal-refuse-pia')" title="Refuser le PIA" disabled>Refuser le PIA</button>
          </div>
          <button type="button" id="pia-resend-button" class="btn btn-red" disabled title="Renvoyer pour validation">Renvoyer pour validation</button>
          <p>Tous les champs doivent être remplis</p>
          <div class="pia-entryContentBlock-footer-nav">
            <a href="#"><< Validation du PIA </a>
          </div>
        </footer>
      </section>
    </div>

    <!--Right sidebar (knowledge base) -->
    <div class="small-12 medium-3 columns">
      <div class="pia-rightSidebarBlock">
        <app-knowledge-base></app-knowledge-base>
      </div>
    </div>
  </div>
</main>

<div class="pia-modalBlock" id="modal-abandon-pia">
  <div class="pia-modalBlock-abandonPIA bounceIn">
    <button type="button" class="pia-modalBlock-close btn" title="Fermer"><span (click)="this.modal.closeModal()" class="pia-icons pia-icon-close-big"></span></button>
    <p>
      Êtes-vous sûr de vouloir<br>
      abandonner le traitement Captoo ?
    </p>
    <div class="pia-modalBlock-buttons-choice">
      <button class="btn btn-red btn-active" type="button" title="Supprimer et archiver">Supprimer <br>et archiver</button>
      <button class="btn btn-red" type="button" (click)="this.modal.closeModal()" title="Reprendre">Reprendre</button>
    </div>
  </div>
</div>

<div class="pia-modalBlock" id="modal-refuse-pia">
  <div class="pia-modalBlock-refusedPIA bounceIn">
    <button type="button" class="pia-modalBlock-close btn" title="Fermer"><span (click)="this.modal.closeModal()" class="pia-icons pia-icon-close-big"></span></button>
    <p>
      <span class="strong">PIA refusé,</span><br>
      Plusieurs champs doivent être corrigés.<br>
      Retour au monde d'évaluation<br>
      pour apporter des corrections.
    </p>
    <span class="pia-icons pia-icon-sorry"></span>
    <div class="pia-modalBlock-validate">
      <button class="btn btn-green" type="button" (click)="this.modal.closeModal()" title="Continuer">Continuer</button>
    </div>
  </div>
</div>
