<div class="pia-validationCartographyBlock">
  <div class="pia-entryContentBlock-content">
    <div class="pia-cartographyBlock">
      <div>
        <div class="pia-cartographyBlock-gravity">Gravité du risque</div>
        <div class="pia-cartographyBlock-graph">
          <div class="pia-cartographyBlock-ordinates">
            <div>Maximale</div>
            <div>Importante</div>
            <div>Limitée</div>
            <div>Négligeable</div>
          </div>
          <canvas id="actionPlanCartography" width="400" height="400"></canvas>
        </div>
        <div class="pia-cartographyBlock-abscisses">
          <div>Négligeable</div>
          <div>Limitée</div>
          <div>Importante</div>
          <div>Maximale</div>
        </div>
        <div class="pia-cartographyBlock-probability">
          Vraissemblance du risque
        </div><!--
        --><ul class="pia-cartographyBlock-legend">
          <li>Mesures prévues ou existantes</li>
          <li>Avec les mesures correctives mises en oeuvre</li>
          <li>(A)ccès illégitime à des données</li>
          <li>(M)odification non désirée de données</li>
          <li>(D)isparition de données</li>
        </ul>
        <div class="pia-cartographyBlock-date">
          <time>le {{pia.created_at | date: 'dd/MM/yyyy'}}</time>
        </div>
      </div>
    </div>
  </div>
</div>
