<app-header></app-header>
<main class="container pia-mainContainer">
    <div class="row">
        <!-- Left sidebar (sections) -->
        <div class="small-12 medium-3 columns">
            <aside class="pia-leftSidebar">
                <div class="processing-sections">
                    <div class="processing-section-header">
                        <h1 class="truncate" title="{{processing.name}}">{{ processing.name }}</h1>
                        <a class="pia-icons pia-icon-close-big" routerLink="/folders/{{ processing.folder.id }}"
                            title="{{ 'processing.sections.homepage_link' | translate }}"></a>
                    </div>

                    <div class="processing-section-body">

                        <ng-container *ngFor="let section of sections">
                            <!-- <div *ngxPermissionsOnly="section.permissions" id="{{section.name}}"> -->
                            <div (click)="changeSection(section.id)" class="processing-section-title" [ngClass]="{'active': currentSection.id == section.id}">
                                {{ section.title | translate }}
                            </div>
                            <!-- </div> -->
                        </ng-container>
                    </div>
                </div>
            </aside>
        </div>

        <!-- Main form content -->
        <div class="small-12 medium-6 columns">
            <app-processing-form [processing]="processing" [sections]="sections" [currentSection]="currentSection"></app-processing-form>

            <div class="processing-bottom-nav">
                <a *ngIf="currentSection.id > 1" class="processing-previous" (click)="changeSection(currentSection.id - 1)">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    {{ 'processing.form.previous' | translate }}
                </a>
                <a *ngIf="currentSection.id < 3" class="processing-next" (click)="changeSection(currentSection.id + 1)">
                    {{ 'processing.form.next' | translate }}
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>

        <!-- Right sidebar (knowledge base) -->
        <div class="small-12 medium-3 columns">
            <div class="pia-rightSidebar">
                <app-knowledge-base [item]=""></app-knowledge-base>
            </div>
        </div>
    </div>
</main>

<app-modals></app-modals>
