<app-header></app-header>
<main class="container pia-mainContainer pia-mainContainerBlock">
    <div class="row">
        <!-- Left sidebar (sections) -->
        <div class="small-12 medium-3 columns">
            <aside class="pia-leftSidebar">
                <div class="processing-sections">
                    <div class="processing-section-header">
                        <h1 class="truncate" title="{{processing.name}}">{{ processing.name }}</h1>
                        <a class="pia-icons pia-icon-close-big" routerLink="/folders/{{ processing.folder.id }}"
                            title="{{ 'processing.sections.homepage_link' | translate }}"></a>
                    </div>

                    <div class="processing-section-body">

                        <ng-container *ngFor="let section of sections">
                            <!-- <div *ngxPermissionsOnly="section.permissions" id="{{section.name}}"> -->
                            <div (click)="changeSection(section.id)" class="processing-section-title {{ section.name }}" [ngClass]="{'active': currentSection.id == section.id}">
                                {{ section.title | translate }}
                            </div>
                            <!-- </div> -->
                        </ng-container>
                    </div>
                </div>
                <div class="pia-section">
                    <div class="processing-section-header">
                        <h1 class="truncate" title="{{ 'processing.form.pia_section.title' | translate }}">
                            {{ 'processing.form.pia_section.title' | translate }}
                        </h1>
                        <a class="fa fa-list fa-2x" routerLink="/processing/{{processing.id}}/pias"
                            title="{{ 'processing.form.pia_section.list_button' | translate }}"></a>
                    </div>
                    <button class="btn btn-green expanded" (click)="_modalsService.openModal('modal-list-new-pia')" *ngxPermissionsOnly="['CanCreatePIA']">
                        {{ 'processing.form.pia_section.new_pia_button' | translate }}
                    </button>
                    <div *ngIf="processing.pias_count > 0">
                        <ul class="pia-quick-list">
                            <ng-container *ngFor="let pia of pias">
                            <li 
                                *ngIf="pia.status !== 4"
                                [ngClass]="{'pia-archive': pia.status == 4, 'pia-doing': pia.status == 0, 'pia-refused': pia.status == 1, 'pia-valid': pia.status == 2 || pia.status == 3 }"
                            >
                                {{ pia.updated_at | date: 'dd/MM/yyyy' }} | {{ 'pia.statuses.' + pia.status | translate }}
                                <a routerLink="/entry/{{pia.id}}/section/3/item/1">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </li>
                            </ng-container>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>

        <!-- Main form content -->
        <div class="small-12 medium-6 columns">
            <app-processing-form [processing]="processing" [sections]="sections" [currentSection]="currentSection"></app-processing-form>

            <div class="processing-bottom-nav">
                <a *ngIf="currentSection.id > 1" class="processing-previous" (click)="changeSection(currentSection.id - 1)">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    {{ 'processing.form.previous' | translate }}
                </a>
                <a *ngIf="currentSection.id < 3" class="processing-next" (click)="changeSection(currentSection.id + 1)">
                    {{ 'processing.form.next' | translate }}
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>

        <!-- Right sidebar (knowledge base) -->
        <div class="small-12 medium-3 columns">
            <div class="pia-rightSidebar">
                <app-knowledge-base [item]=""></app-knowledge-base>
            </div>
        </div>
    </div>
</main>

<app-modals></app-modals>
