<div class="pia-knowledgeBaseBlock-filters">
  <div>Filtres</div>
  <button class="btn" type="button" (click)="resetFilters()" title="Toutes les mesures">Toutes les mesures</button>
  <button class="btn" type="button" (click)="filterPerMeasures()" title="Mesures organisationnelles">Mesures organisationnelles</button>
  <button class="btn" type="button" (click)="filterPerMeasures()" title="Mesures de sécurité logistique">Mesures de sécurité logistique</button>
  <button class="btn" type="button" (click)="filterPerMeasures()" title="Mesures de sécurité physique">Mesures de sécurité physique</button>
</div>
