@import '../../../assets/stylesheets/variables';
.pia-exportBlock {
  display: inline-block;
  vertical-align: top;
  padding-left: 15px;
  width: 260px;
  position: sticky;
  top: 0;
  font-size: 1.7rem;
  &-print,
  &-full {
    &:active {
      background-color: $pia-green-dark;
    }
  }
  &-print,
  &-full,
  &-individual {
    &:focus,
    &:hover {
      border-top-color: $pia-green-dark;
      background-color: $pia-green-dark;
    }
  }
  &-individual {
    &.activeMenu {
      background-color: transparent;
      .exportComp-individual-description {
        > div {
          color: $pia-green-dark !important;
        }
      }
      > div {
        &:first-child {
          div {
            color: $pia-green-dark;
          }
        }
      }
    }
  }
  &-title {
    color: $pia-gray;
  }
  > div {
    &:first-child {
      padding: 15px 0;
      border-top: none;
    }
  }
  &-print,
  &-full {
    &:active {
      padding: 0 10px;
      background-color: $pia-green;
      button,
      div {
        color: #fff;
      }
    }
  }
  &-print,
  &-full,
  &-individual {
    border-top: 1px solid #c8c7c9;
    padding: 0 10px;
    &:focus,
    &:hover {
      background-color: $pia-green;
      border-top-color: $pia-green;
      button,
      div {
        color: #fff;
      }
    }

  }
  &-print,
  &-full {
    button {
      padding: 15px 0;
      width:100%;
      cursor: pointer;
      text-align: left;
    }
  }
  &-full {
    button {
      div {
        &:last-child {
          padding-top: 15px;
          font-size: 1.4rem;
          padding-right: 10px;
        }
      }
    }
  }
  &-individual {
    padding-top: 15px;
    &:focus,
    &:hover {
      padding-top: 15px;
    }
    &-description {
      cursor: pointer;
      div {
        &:last-child {
          padding: 15px 0;
          font-size: 1.4rem;
        }
      }
    }
    &-links {
      font-size: 1.4rem;
      text-align: left;
      button {
        cursor: pointer;
        text-align: left;
        width: 100%;
        padding: 15px 0;
        &:focus,
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &.activeMenu {
      background-color: transparent;
      padding: 15px 10px 0 10px;
      &:focus,
      &:hover {
        padding: 15px 10px 0 10px;
        button,
        div {
          color: #000;
        }
      }
      > div {
        &:first-child {
          div {
            color: $pia-green;
          }
        }
      }
    }
  }
}