@import "src/assets/stylesheets/variables";
.pia-revisions {
  margin-bottom: 50px;
  &-title {
    padding-bottom: 5px;
    margin-bottom: 15px;
    color: $pia-gray;
    border-bottom: 2px solid $pia-gray;
    font-size: 1.8rem;
    i {
      font-size: 25px;
    }
  }
  &-box {
    background-color: $pia-green;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    h4 {
      font-size: 1.3rem;
      text-transform: uppercase;
      margin: 0px;
    }
    p {
      font-size: 1.4rem;
      margin-top: 3px;
      margin-bottom: 10px;
    }
    &-content {
      max-height: 150px;
      overflow-y: auto;
      padding-right: 8px;
      &::-webkit-scrollbar {
        width: 12px;
      }
      &::-webkit-scrollbar-track {
        border: 1px solid #fff;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #fff;
      }
      &-revision {
        h5 {
          text-transform: uppercase;
          padding-bottom: 10px;
          border-bottom: 1px solid white;
          margin-top: 5px;
          margin-bottom: 10px;
          font-size: 1.2rem;
          font-weight: 500;
        }
        ul {
          margin: 0px;
          margin-bottom: 10px;
          padding-left: 0px;
          list-style: none;
          li {
            cursor: pointer;
            padding: 4px 0px;
            font-size: 1.5rem;
            &:hover,
            &:focus,
            &:active {
              font-weight: 500;
            }
            i {
              margin-right: 5px;
            }
            a {
              display: none;
            }
            &.revision-active a {
              color: white;
              display: block;
              float: right;
            }
          }
        }
      }
    }
    &-footer {
      font-size: 1.4rem;
      display: block;
      width: 100%;
      margin-top: 8px;
      color: white;
      margin-bottom: 10px;
      text-decoration: none;
      span {
        font-size: 1.4rem;
      }
      i {
        margin-left: 7px;
      }
    }
  }
  button {
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: $pia-green;
    font-size: 1.4rem;
    font-weight: 500;
    width: 100%;
    color: white;
    padding-top: 10px;
    padding-bottom: 3px;
    border-top: 1px solid white;
    span {
      margin-right: 6px;
    }
  }
}
