<td class="pia-listsBlock-item pia-listsBlock-item-edit">
  <a routerLink="/entry/{{pia.id}}/section/1/item/1">
    {{ pia.name }}
    <div *ngIf="attachments && attachments.length > 0" class="pia-listsBlock-item-attachment" aria-hidden="true">
      <span class="pia-icons pia-icon-attachment"></span>
      <ul>
        <ng-container *ngFor="let attachment of attachments">
          <li>
            {{ attachment.name }}
          </li>
        </ng-container>
      </ul>
    </div>
  </a>
</td>
<td class="pia-listsBlock-item"><time *ngIf="pia.updated_at.toString() !== 'Invalid Date'">{{ pia.updated_at | date: 'dd/MM/yyyy' }}</time></td>
<td class="pia-listsBlock-item">{{ pia.author_name }}</td>
<td class="pia-listsBlock-item">{{ pia.evaluator_name }}</td>
<td class="pia-listsBlock-item">{{ pia.validator_name }}</td>
<td class="pia-listsBlock-item"><time>{{ pia.created_at | date: 'dd/MM/yyyy' }}</time></td>
<td *ngIf="pia.status === 0 && pia.progress === 100;else defaultStatuses">
  {{ 'pia.statuses.5' | translate }}
</td>
<ng-template #defaultStatuses>
  <td>{{ pia.getStatusName() | translate }}</td>
</ng-template>
<td class="pia-listsBlock-item progress"><progress max="100" value="{{ pia.progress }}"></progress></td>
<td class="pia-listsBlock-item">
  <div class="pia-listsBlock-item-actions">
    <a href="javascript:;" (click)="editGeneralPiaData()" class="btn pia-tooltip">
      <i class="fa fa-pencil" aria-hidden="true"></i>
      <span class="pia-tooltip-text">{{ 'homepage.lists.item.tools.edit' | translate }}</span>
    </a>
    <a href="javascript:;" (click)="export(pia.id)" class="btn pia-tooltip">
      <i class="fa fa-download" aria-hidden="true"></i>
      <span class="pia-tooltip-text">{{ 'homepage.lists.item.tools.export' | translate }}</span>
    </a>
    <a href="javascript:;" (click)="_piaService.duplicate(pia.id)" class="btn pia-tooltip">
      <i class="fa fa-files-o" aria-hidden="true"></i>
      <span class="pia-tooltip-text">{{ 'homepage.lists.item.tools.duplicate' | translate }}</span>
    </a>
    <a routerLink="/summary/{{pia.id}}/action_plan" class="btn pia-tooltip">
      <i class="fa fa-file-excel-o" aria-hidden="true"></i>
      <span class="pia-tooltip-text">{{ 'homepage.lists.item.tools.action_plan' | translate }}</span>
    </a>
    <a href="javascript:;" (click)="removePia(pia.id)" class="btn pia-tooltip">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
      <span class="pia-tooltip-text">{{ 'homepage.lists.item.tools.remove' | translate }}</span>
    </a>
  </div>
</td>
