@import "src/assets/stylesheets/variables";
tr {
  display: table-row;
}
th {
  min-width: 128px;
  display: table-cell;
  a {
    padding: 5px 0;
    color: $pia-white;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    position: relative;
    span {
      align-self: center;
      padding-left: 13px;
    }
    i {
      padding-right: 13px;
      color: $pia-white;
      font-size: 2.5rem;
      align-self: center;
      position: absolute;
      right: 0px;
      &.deactivate {
        color: gray;
      }
    }
  }
  span {
    border-left: solid 1px $pia-white;
    &:last-child {
      padding-left: 13px;
    }
  }
  &:first-child span:first-of-type {
    border: 0;
  }
}
