<div class="pia-modalBlock open" *ngIf="message">
  <div class="pia-modalBlock-content pia-modalBlock-removeMeasure bounceIn">
    <button *ngIf="message.type === 'confirm'" tabindex="3" type="button" class="pia-modalBlock-close btn"
      (click)="message.noFn()"
      title="{{ 'modals.close' | translate }}">
      <span class="pia-icons pia-icon-close-big"></span>
    </button>
    <ng-container *ngIf="message.data && message.data.date; else templateElse">
      <p [innerHTML]="message.text | translate: {date: message.data.date | date: 'short':'':languagesService.selectedLanguage }"></p>
    </ng-container>
    <ng-template #templateElse>
      <p [innerHTML]="message.text | translate"></p>
    </ng-template>
    <p><br></p>
    <div class="pia-modalBlock-buttons-choice">
      <button tabindex="2" class="btn btn-red" (click)="message.noFn()" type="button" *ngIf="message.type === 'confirm'">
        {{ message.no | translate}}
      </button>
      <button tabindex="1" class="btn btn-green  get-focus" type="button" (click)="message.yesFn()">
        {{ message.yes | translate}}
      </button>
    </div>
    <div *ngIf="message.data && message.data.additional_text"
      class="abandonText" [innerHTML]=" message.data.additional_text | translate"></div>
  </div>
</div>
