@import "~src/assets/stylesheets/variables";
.pia {
  &-doingBlock {
    .pia-cardsBlock {
      &-header-title {
        border-bottom-color: $pia-red;
        color: $pia-red;
      }
    }
  }
}
.pia-cardsBlock-item-btn {
  position: absolute;
  bottom: 0;
  width: 93%;
}
.pia-cardsBlock-item-form {
  padding-bottom: 65px;
}

.tag-input-container {
  clear: both;
  width: 100%;
  float: left;
  tag-input {
    float: left;
  }

  .btn-add-user {
    float: rigth;
  }
}
