@import "~src/assets/stylesheets/variables";
.pia {
  &-doingBlock {
    .pia-cardsBlock {
      &-header-title {
        border-bottom-color: $pia-red;
        color: $pia-red;
      }
    }
  }
}
.pia-cardsBlock-item-btn {
  position: absolute;
  bottom: 0;
  width: 93%;
}
