@import "src/assets/stylesheets/variables";
.pia {
  &-doingBlock {
    .pia-cardsBlock {
      &-header-title {
        border-bottom-color: $pia-red;
        color: $pia-red;
      }
    }
  }
}
.pia-cardsBlock-item-btn {
  position: absolute;
  bottom: 0;
  width: 93%;
}
.pia-cardsBlock-item-form {
  padding-bottom: 65px;
}

.tag-input-container {
  position: relative;
  label {
    display: block;
    width: 100%;
  }
  .btn-add-user {
    color: $pia-blue;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 0;
  }
  // tag-input,
  // .btn-add-user {
  //   display: inline-block;
  // }
}
