<div class="pia-evaluationBlock" [ngClass]="{'pia-evaluationBlock-shadowed pia-evaluationBlock-self-padding': item.evaluation_mode === 'item'}">
  <div class="pia-evaluationBlock-title">Évaluation</div>
  <div class="pia-evaluationBlock-edit" *ngIf="displayEditButton && !_evaluationService.enableFinalValidation">
    <button class="btn" type="button" (click)="activateEvaluationEdition()" title="Éditer">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </button>
  </div>
  <form [formGroup]="evaluationForm">
    <div class="pia-evaluationBlock-buttons">
      <!-- TODO : add active state on button according to evaluation.status -->
      <button class="btn btn-red" [ngClass]="{'btn-active': evaluation.status === 1}" [disabled]="evaluation.status === 1 || _evaluationService.enableFinalValidation" (click)="selectedButton($event, 1)" name="fix" type="submit">
        À corriger
      </button>
      <button class="btn btn-blue" [ngClass]="{'btn-active': evaluation.status === 2}" [disabled]="evaluation.status === 2 || _evaluationService.enableFinalValidation" *ngIf="section.id !== 1" (click)="selectedButton($event, 2)" name="improvable" type="submit">
        Améliorable
      </button>
      <button class="btn btn-green" [ngClass]="{'btn-active': evaluation.status === 3}" [disabled]="evaluation.status === 3 || _evaluationService.enableFinalValidation" (click)="selectedButton($event, 3)" name="acceptable" type="submit">
        Acceptable
      </button>
    </div>
    <div class="pia-evaluationBlock-content fadeIn" [ngClass]="{'show': evaluation.status > 0}">
      <time class="pia-evaluationBlock-date">le {{evaluation.created_at | date: 'dd/MM/yyyy'}}</time>
      <div class="pia-evaluationBlock-actionPlan fadeIn" *ngIf="evaluation.status === 2">
        <label for="pia-evaluation-action-plan">Plan d'action / Mesures correctives</label>
        <textarea rows="8" formControlName="actionPlanComment" name="pia-evaluation-action-plan" (focusout)="actionPlanCommentFocusOut()" cols="50" placeholder="Entrez vos commentaires." id="pia-evaluation-action-plan"></textarea>
      </div>
      <div [ngClass]="{'hide': _evaluationService.enableFinalValidation && (!evaluation.evaluation_comment || evaluation.evaluation_comment.length <= 0)}">
        <label for="pia-evaluation-comment">Commentaire d'évaluation</label>
        <textarea rows="8" cols="50" formControlName="evaluationComment" name="pia-evaluation-comment"
                  (focusout)="evaluationCommentFocusOut()" placeholder="Entrez vos commentaires."
                  id="pia-evaluation-comment"></textarea>
      </div>
      <div *ngIf="item.evaluation_mode === 'item' && item.evaluation_with_gauge === true && evaluation.status > 1">
        <!-- Evaluation gauges for "RISKS" -->
        <p class="pia-evaluationBlock-gauge">Prenant en compte le plan d'action, comment ré-évaluez-vous la <span class="red-highlight">gravité du risque</span> d'accès illégitime aux données ?</p>
        <div class="pia-gaugeBlock">
          <!-- TODO : Update current evaluation.gauge[0] -->
          <input type="range" (change)="checkGaugeChanges($event, 'x')" formControlName="gaugeX" min="0" max="4" step="1">
          <div>
            <div>(Non définie)</div>
            <div>Négligeable</div>
            <div>Limitée</div>
            <div>Importante</div>
            <div>Maximale</div>
          </div>
          <div class="pia-gaugeBlock-user-choice pia-gaugeBlock-user-choice-{{previousGauges.x}}"></div>
          <div *ngIf="evaluation.gauges" class="pia-gaugeBlock-background pia-gaugeBlock-background-x pia-gaugeBlock-background-{{evaluation.gauges['x']}}"></div>
        </div>

        <p class="pia-evaluationBlock-gauge">Prenant en compte le plan d'action, comment ré-évaluez-vous la <span class="red-highlight">vraissemblance du risque</span> d'accès illégitime aux données ?</p>
        <div class="pia-gaugeBlock">
          <!-- TODO : Update current evaluation.gauge[1] -->
          <input type="range" (change)="checkGaugeChanges($event, 'y')" formControlName="gaugeY" min="0" max="4" step="1">
          <div>
            <div>(Non définie)</div>
            <div>Négligeable</div>
            <div>Limitée</div>
            <div>Importante</div>
            <div>Maximale</div>
          </div>
          <div class="pia-gaugeBlock-user-choice pia-gaugeBlock-user-choice-{{previousGauges.y}}"></div>
          <div *ngIf="evaluation.gauges" class="pia-gaugeBlock-background pia-gaugeBlock-background-y pia-gaugeBlock-background-{{evaluation.gauges['y']}}"></div>
        </div>
      </div>
    </div>
  </form>
</div>
