@import '../../assets/stylesheets/variables';

.pia {
    &-filtersBlock {
        position: relative;
        padding-right: 8px;
        margin: 8px 0 15px 0;
        &-switch, &-filters {
            display: inline-block;
            vertical-align: middle;
        }
        &-switch {
            display: inline-block;
            vertical-align: middle;
            width: 34px;
            height: 34px;
            border: 1px solid $pia-green;
            border-radius: 20px;
            color: $pia-green;
            div {
                font-size: 1.1rem;
                margin-top: -2px;
            }
            &:hover, &:focus {
                background: $pia-green;
                border-color: $pia-green;
                color: #fff;
            }
            &:active {
                color: $pia-green;
                background-color: #fff;
                border-color: $pia-green;
            }
        }
        &-filters {
            position: relative;
            margin-left: 12px;
            &-list {
                z-index: 998;
                background-color: #eee;
                display: none;
                padding: 30px 10px 10px 10px;
                position: absolute;
                top: 15px;
                left: 0;
                right: 0;
                border: 2px solid $pia-green;
                border-top: none;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                > span {
                    padding: 6px;
                    font-style: italic;
                    color: $pia-gray;
                }
                ul {
                    padding: 0;
                    margin: 0;
                }
                li {
                    list-style-type: none;
                    padding: 4px;
                    a {
                        font-size: 1.5rem;
                        font-weight: 500;
                        display: block;
                        text-decoration: none;
                        color: #000;
                    }
                    &:focus, &:hover, &:active {
                        background-color: $pia-blue;
                        a {
                            color: #fff;
                            font-weight: 600;
                        }
                    }
                }
            }
            &-btn {
                border: 1px solid $pia-green;
                border-radius: 20px;
                color: $pia-green;
                padding: 9px 12px 9px 16px;
                font-size: 1.3rem;
                font-weight: 500;
                position: relative;
                z-index: 999;
                .pia-icon-scroll-green {
                    margin-left: 24px;
                }
                &:focus, &:hover, &:active {
                    + .pia-filtersBlock-filters-list {
                        display: block;
                    }
                }
            }
            &:hover {
                .pia-filtersBlock-filters-btn {
                    color: #fff;
                    background-color: $pia-green;
                    .pia-icon-scroll-green {
                        background-position: -367px -39px;
                    }
                }
                .pia-filtersBlock-filters-list {
                    display: block;
                }
            }
        }
        &-hint {
            position: relative;
            display:inline-block;
            vertical-align: middle;
            background-color: #fff;
            border-radius: 10px;
            padding: 3px 24px 5px 26px;
            margin-left: 10px;
            div {
                span, p {
                    display: inline-block;
                    vertical-align: middle;
                }
                p {
                    margin: 0;
                    margin-left: 10px;
                    color: $pia-blue;
                    font-size: 2rem;
                    line-height: 1.2;
                }
            }
        }
        &-buttons {
            margin-left: 12px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 3px;
            button {
                padding: 8px 20px;
                &:first-child {
                    margin-right: 12px;
                }
            }
            .fa {
                margin-right: 10px;
                font-size: 1.5rem;
            }
        }
    }
}
