<div class="pia-sectionsBlock">
  <div class="pia-sectionBlock-header">
    <h1 class="pia-sectionsBlock-title">Captoo</h1>
    <a class="pia-icons pia-icon-close-big" routerLink="/home" title="Retourner à l'accueil"></a>
  </div>

  <div class="pia-sectionBlock pia-sectionBlock-first">
    <div class="pia-sectionBlock-title">Contexte
      <hr>
    </div>
    <ul class="pia-sectionBlock-list">
      <li>
        <a href="#">Description du produit</a>
        <i class="fa fa-cog" aria-hidden="true"></i>
      </li>
      <li>
        <a href="#">Données</a>
        <i class="fa fa-check-square-o" aria-hidden="true"></i>
      </li>
      <li>
        <a href="#">Cycle de vie des données</a>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </li>
      <li>
        <a href="#">Supports des données</a>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </li>
    </ul>
  </div>

  <div class="pia-sectionBlock pia-sectionBlock-second">
    <div class="pia-sectionBlock-title">Principes Fondamentaux
      <hr>
    </div>
    <ul class="pia-sectionBlock-list">
      <li>
        <a href="#">Proportionnalité et nécessité</a>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </li>
      <li>
        <a href="#">Mesures protectrices des droits</a>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </li>
    </ul>
  </div>

  <div class="pia-sectionBlock pia-sectionBlock-third">
    <div class="pia-sectionBlock-title"> Risques
      <hr>
    </div>
    <ul class="pia-sectionBlock-list">
      <li>
        <a href="#">Mesures existantes ou prévues</a>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </li>
      <li>
        <a href="#">Accès illégitime aux données</a>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </li>
      <li>
        <a href="#">Modifications de données</a>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </li>
      <li>
        <a href="#">Disparition de données</a>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </li>
      <li>
        <a href="#">Vue d'ensemble des risques</a>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </li>
    </ul>
  </div>

  <div class="pia-sectionBlock pia-sectionBlock-fourth">
    <div class="pia-sectionBlock-title"> Validation du Pia
      <hr>
    </div>
    <ul class="pia-sectionBlock-list">
      <li>
        <a href="#">Carthographie des risques</a>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </li>
      <li>
        <a href="#">Plan d'action</a>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </li>
      <li>
        <a href="#">Avis du DPO et des personnes</a>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </li>
    </ul>
  </div>

</div>
<div class="pia-validatePIABlock">
  <a href="#" class="btn btn-inactive">Valider le PIA</a>
  <a href="#" class="btn btn-red btn-active">Valider le PIA</a>
  <a href="#" class="btn btn-red btn-active">PIA refusé</a>
</div>
<app-attachments></app-attachments>
