@import '../../../assets/stylesheets/variables';
.pia {
  &-sectionBlock {
    &-header {
      display: flex;
      justify-content: flex-end;
      padding: 0;
      border-bottom: solid 2px $pia-gray;
      h1 {
        font-size: 3rem;
        font-weight: 400;
        margin: 10px;
        margin-left: 0;
        width: 100%;
        line-height: 30px;
        padding-bottom: 2px;
      }
      a {
        width: 35px;
        align-self: center;
      }
    }
    &-structure {
      color: $pia-gray-dark;
    }
    &-title {
      margin-top: 18px;
      margin-left: 10px;
      text-transform: uppercase;
      border-left: solid 10px;
      padding: 3px 0 2px 10px;
      align-self: center;
      display: flex;
      font-weight: 600;
      justify-content: flex-end;
      font-size: 1.3rem;
      hr {
        margin: auto 10px auto auto;
        background-color: $pia-gray;
        border: 0;
        height: 1px;
      }
    }
    &-list {
      padding: 0;
      margin-bottom: 22px;
      margin-left: 10px;
      li {
        padding: 2px 0;
        font-size: 1.4rem;
        list-style-type: none;
        display: flex;
        align-self: center;
        justify-content: start;
        a {
          color: $pia-dark-black;
          text-decoration: none;
          padding-left: 5px;
        }
        &::before {
          content: "";
          border-top: solid 1px $pia-gray;
          width: 8.5px;
          margin-right: 7px;
          margin-top: 9px;
          color: $pia-gray;
        }
        i {
          font-size: 1.8rem;
          margin-top: 2px;
          margin-left: auto;
          margin-right: 10px;
          color: $pia-gray;
        }
        .fa-check-square-o {
          color: $pia-blue;
        }
      }
    }
    &-body {
      hr {
        width: 100%;
      }
      a {
        width: 81%;
        border-radius: 4px;
        &:focus, &:hover, &:active, &.active {
          color: #fff !important;
        }
      }
      > div {
        &:first-child {
          .pia-sectionBlock-title {
            color: $pia-green;
            border-color: $pia-green;
          }
          hr {
            max-width: 164px;
          }
          a {
            &:focus, &:hover, &:active, &.active {
              background-color: $pia-green;
            }
          }
          .fa-pencil-square-o.pia-fa-valid, .fa-cog.pia-fa-valid, .fa-check-square-o {
            color: $pia-green;
          }
        }
        &:nth-child(2) {
          .pia-sectionBlock-title {
            color: $pia-blue;
            border-color: $pia-blue;
          }
          hr {
            max-width: 62px;
          }
          a {
            &:focus, &:hover, &:active, &.active {
              background-color: $pia-blue;
            }
          }
          .fa-pencil-square-o.pia-fa-valid, .fa-cog.pia-fa-valid, .fa-check-square-o {
            color: $pia-blue;
          }
        }
        &:nth-child(3) {
          .pia-sectionBlock-title {
            color: $pia-red;
            border-color: $pia-red;
          }
          hr {
            max-width: 182px;
          }
          a {
            &:focus, &:hover, &:active, &.active {
              background-color: $pia-red;
            }
          }
          .fa-pencil-square-o.pia-fa-valid, .fa-cog.pia-fa-valid, .fa-check-square-o {
            color: $pia-red;
          }
        }
        &:last-child {
          .pia-sectionBlock-title {
            color: $pia-dark-black;
            border-color: $pia-dark-black;
            display: block;
          }
          hr {
            display: none;
          }
          a {
            &:focus, &:hover, &:active, &.active {
              background-color: $pia-dark-black;
            }
          }
          .fa-cog.pia-fa-valid, .fa-check-square-o {
            color: $pia-dark-black;
          }
        }
      }
    }
  }
}

// Validate block styles
.pia {
  &-validatePIABlock {
    padding: 10px;
    text-align: center;
    a {
      display: block;
      width: 250px;
      margin: 0 auto;
      border-radius: 0;
      padding: 2px;
      text-align: center;
      text-decoration: none;
      &.btn-active {
        &:focus, &:hover, &:active {
          background-color: $pia-gray;
          border-color: $pia-gray;
        }
      }
    }
  }
}
