<div class="pia-sectionsBlock">
  <div class="pia-sectionBlock-header">
    <h1 class="truncate" title="{{_piaService.pia.name}}">{{ _piaService.pia.name }}</h1>
    <a class="pia-icons pia-icon-close-big" routerLink="/home" title="{{ 'pia.sections.homepage_link' | translate }}"></a>
  </div>

  <div class="pia-sectionBlock-structure" *ngIf="_piaService.pia.structure_id">
    {{ 'pia.sections.based_on_structure_name' | translate }}
    {{ _piaService.pia.structure_name }}
  </div>

  <div class="pia-sectionBlock-body">
    <div *ngFor="let dataSection of data?.sections">
      <div class="pia-sectionBlock-title">
        {{ dataSection.title | translate }}
        <hr>
      </div>
      <ul class="pia-sectionBlock-list" *ngIf="_piaService.pia && section && item">
        <ng-container *ngFor="let dataItem of dataSection?.items">
          <li *ngIf="!dataItem.hide">
            <a routerLink="/entry/{{_piaService.pia.id}}/section/{{dataSection.id}}/item/{{dataItem.id}}"
              [ngClass]="{'active': section.id == dataSection.id && item.id == dataItem.id}"
              class="truncate">
              {{ dataItem.title | translate }}</a>
            <i class="fa"
               *ngIf="_sidStatusService.sidStatusIcon[_sidStatusService.itemStatus[dataSection.id + '.' + dataItem.id]]"
               [ngClass]="_sidStatusService.sidStatusIcon[_sidStatusService.itemStatus[dataSection.id + '.' + dataItem.id]]"
               aria-hidden="true"></i>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>

<div class="pia-validatePIABlock">
  <ng-container *ngIf="_sidStatusService.enablePiaValidation && _sidStatusService.enableDpoValidation || _sidStatusService.piaIsRefused && _sidStatusService.enableDpoValidation; else defaultButton">
    <a routerLink="/entry/{{_piaService.pia.id}}/section/4/item/4" class="btn btn-green btn-active"
      *ngIf="_sidStatusService.enablePiaValidation">{{ 'pia.sections.validate_pia' | translate }}</a>
    <a routerLink="/entry/{{_piaService.pia.id}}/section/4/item/5" class="btn btn-red btn-active"
      *ngIf="_sidStatusService.piaIsRefused">{{ 'pia.sections.refuse_pia' | translate }}</a>
  </ng-container>
  <ng-template #defaultButton>
    <a class="btn btn-inactive">{{ 'pia.sections.validate_pia' | translate }}</a>
  </ng-template>
</div>

<app-attachments [pia]="_piaService.pia"></app-attachments>
