@import '../../../assets/stylesheets/variables';

.pia {
  &-fullPreviewContainerBlock {
    margin-bottom: 80px;
    h1 {
      color: $pia-blue;
      border-bottom: 4px solid #091C6B;
    }
    h2 {
      color: #393939;
      margin: 0;
      padding: 15px 20px;
      background-color: #fff;
      font-weight: 500;
      font-size: 1.6rem;
    }
    h3 {
      color: #091C6B;
      margin: 2px 0;
      font-weight: 500;
    }
    .databox,
    .actionplanbox {
      margin: 0 0 8px 0;
      border: 1px solid #b7b7b7;
      padding: 10px 15px;
      background: #fff;
      box-shadow: 1px 1px 3px 0px #c2c2c2;
    }
    .evaluationbox {
      p {
        border: 0.5px dotted $pia-gray;
        padding: 6px;
        margin-top: 0;
        > span {
          font-weight: 500;
          span {
            font-weight: 400;
          }
        }
      }
    }
    .actionplanbox {
      h2 {
        margin: 2px 0;
        color: #393939;
      }
    }
    .evaluationValue {
      color: $pia-dark-black;
    }
  }
  &-previewRisksOverviewBlock,
  &-previewRisksCartographyBlock {
    box-shadow: 1px 1px 15px 1px #d2d2d2;
    background-color: #fff;
    > div {
      vertical-align: top;
    }
    .app-risks-cartography {
      box-shadow: none;
    }
  }
  &-previewRisksOverviewBlock {
    margin-bottom: 100px;
  }
  &-actionPlanGraphBlockContainer {
    margin-top: 15px;
  }
  &-fullPreviewBlock {
    &-header {
      display: flex;
      background-color: #fff;
      position: relative;
      box-shadow: 1px 1px 15px 1px rgba(210,210,210,1);
      > div:first-child {
        width: 74px;
        background-color: #3c3b3d;
        position: relative;
        span {
          display: block;
          top: 50%;
          left: 50%;
          margin-top: -17px;
          margin-left: -15px;
          position: absolute;
          font-size: 34px;
          color: #fff;
          text-align: center;
        }
        div {
          position: absolute;
          bottom: 28%;
          left: 0;
          right: 0;
          color: #fff;
          text-align: center;
        }
      }
      &-title {
        padding-bottom: 16px;
        width: 87%;
        h1, h2 {
          margin: 0;
          padding: 0;
          line-height: 1.2;
          padding-left: 19px;
          margin-bottom: 20px;
        }
        h1 {
          margin-bottom: 5px;
          font-size: 2.4rem;
          font-weight: 400;
          color: #3c3b3d;
          vertical-align: top;
          margin-top: 20px;
          border: none;
        }
        h2 {
          color: #3c3b3d;
          font-size: 1.35rem;
          text-transform: uppercase;
          font-weight: 500;
        }
      }
      &-data {
        color: #3c3b3d;
        padding: 0 19px;
        display: flex;
        flex-wrap: wrap;
        > div {
          width: 50%;
          > div {
            display: flex;
            flex-wrap: wrap;
            div {
              width: 50%;
              &:first-child {
                font-weight: 600;
              }
            }
          }
          &:last-child {
            display: flex;
            flex-wrap: wrap;
            > div {
              width: 50%;
            }
          }
        }
      }
      &-progressBar {
        width: 100px;
        text-align: right;
        position: relative;
        div {
          color: $pia-green;
          font-style: italic;
          text-align: right;
          font-size: 1rem;
          position: absolute;
          top: -12px;
          right: 0;
          width: 100% !important;
        }
        progress {
          width: 100%;
          position: relative;
          margin-top: 5px;
          &:after {
            position: absolute;
            left: 0;
            top: 50%;
            content: '';
            height: 12px;
            width: 1px;
            margin-top: -6px;
            background-color: $pia-green;
          }
          &:before {
            position: absolute;
            content: '';
            left: 0;
            right: 0;
            top: 50%;
            height: 1px;
            background-color: $pia-green;
          }
        }
        progress[value] {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background-color: transparent;
          height: 12px;
          &::-webkit-progress-bar {
            background-color: transparent;
          }
          &::-webkit-progress-value {
            background-color: $pia-green;
          }
        }
        progress[value]::-moz-progress-bar {
          background-color: $pia-green;
        }
      }
    }
    &-data,
    &-exports {
      display: inline-block;
      vertical-align: top;
      padding-left: 15px;
    }
    &-data {
      width: 610px;
    }
    &-headline {
      display: flex;
      margin: 15px 0;
      background-color: #fff;
      top: 0;
      box-shadow: 1px 1px 15px 1px rgba(210,210,210,1);
      &-title {
        width: 100%;
        border-left: 74px solid #3c3b3d;
        border-bottom: 4px solid #3c3b3d;
        h1 {
          margin: 0;
          margin-top: 4px;
          padding: 0;
          line-height: 1.2;
          padding-left: 19px;
          font-size: 2.4rem;
          font-weight: 400;
          color: #3c3b3d;
          vertical-align: top;
          border: none;
        }
        h2 {
          padding: 0 20px;
        }
      }
      &.headline1 {
        .pia-fullPreviewBlock-headline-title {
          border-left-color: $pia-green;
          border-bottom-color: $pia-green;
        }
      }
      &.headline2 {
        .pia-fullPreviewBlock-headline-title {
          border-left-color: $pia-blue;
          border-bottom-color: $pia-blue;
        }
      }
      &.headline3 {
        .pia-fullPreviewBlock-headline-title {
          border-left-color: $pia-red;
          border-bottom-color: $pia-red;
        }
      }
    }
    &-subheadline {
      color: #393939 !important;
      margin: 0 !important;
      padding: 10px 0;
      background-color: #fff;
      font-weight: 500;
      font-size: 1.6rem;
    }
    &-actionPlan {
      > div {
        > div {
          margin-top: 15px;
        }
      }
      .pia-actionPlanGraphBlock {
        padding: 10px 15px;
      }
    }
    &-exports {
      width: 260px;
      position: sticky;
      top: 0;
      font-size: 1.7rem;
      &-title {
        color: $pia-gray;
      }
      > div {
        &:first-child {
          padding: 15px 0;
          border-top: none;
        }
      }
      &-print,
      &-full {
        &:active {
          padding: 0 10px;
          background-color: $pia-green;
          button,
          div {
            color: #fff;
          }
        }
      }
      &-print,
      &-full,
      &-individual {
        border-top: 1px solid #c8c7c9;
        &:focus,
        &:hover {
          padding: 0 10px;
          background-color: $pia-green;
          border-top-color: $pia-green;
          button,
          div {
            color: #fff;
          }
        }

      }
      &-print,
      &-full {
        button {
          padding: 15px 0;
          width:100%;
          cursor: pointer;
          text-align: left;
        }
      }
      &-full {
        button {
          div {
            &:last-child {
              padding-top: 15px;
              font-size: 1.4rem;
              padding-right: 10px;
            }
          }
        }
      }
      &-individual {
        padding-top: 15px;
        &:focus,
        &:hover {
          padding-top: 15px;
        }
        &-description {
          div {
            &:last-child {
              padding: 15px 0;
              font-size: 1.4rem;
              cursor: pointer;
            }
          }
        }
        &-links {
          font-size: 1.4rem;
          text-align: left;
          button {
            cursor: pointer;
            text-align: left;
            width: 100%;
            padding: 15px 0;
          }
        }
        &.activeMenu {
          background-color: transparent;
          padding: 15px 10px 0 10px;
          &:focus,
          &:hover {
            padding: 15px 10px 0 10px;
            button,
            div {
              color: #000;
            }
          }
          > div {
            &:first-child {
              div {
                color: $pia-green;
              }
            }
          }
        }
      }
    }
  }

}

.pagebreak { page-break-before: always; }
