<td class="pia-listsBlock-item">
  <div contenteditable (focusout)="onFocusOut('name', $event)">{{ structure.name }}</div>
</td>
<td class="pia-listsBlock-item"><time *ngIf="structure.updated_at && structure.updated_at.toString() !== 'Invalid Date'">{{ structure.updated_at | date: 'dd/MM/yyyy' }}</time></td>
<td class="pia-listsBlock-item"><div contenteditable (focusout)="onFocusOut('sector_name', $event)">{{ structure.sector_name }}</div></td>
<td class="pia-listsBlock-item"><time>{{ structure.created_at | date: 'dd/MM/yyyy' }}</time></td>
<td class="pia-listsBlock-item">
  <div class="pia-listsBlock-item-actions">
    <a routerLink="/structures/entry/{{structure.id}}/section/1/item/1" class="btn pia-tooltip">
      <i class="fa fa-pencil" aria-hidden="true"></i>
      <span class="pia-tooltip-text">{{ 'homepage.lists.item.tools.edit' | translate }}</span>
    </a>
    <a href="javascript:;" (click)="export(structure.id)" class="btn pia-tooltip">
      <i class="fa fa-download" aria-hidden="true"></i>
      <span class="pia-tooltip-text">{{ 'homepage.lists.item.tools.export' | translate }}</span>
    </a>
    <a href="javascript:;" (click)="_structureService.duplicateStructure(structure.id)" class="btn pia-tooltip">
      <i class="fa fa-files-o" aria-hidden="true"></i>
      <span class="pia-tooltip-text">{{ 'homepage.lists.item.tools.duplicate' | translate }}</span>
    </a>
    <a href="javascript:;" (click)="remove(structure.id)" class="btn pia-tooltip">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
      <span class="pia-tooltip-text">{{ 'homepage.lists.item.tools.remove' | translate }}</span>
    </a>
  </div>
</td>
