@import './assets/stylesheets/variables';

@import "~normalize.css/normalize.css";

$fa-font-path: "../node_modules/font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

// Foundation styles
@import "~foundation-sites/scss/foundation.scss";
@include foundation-global-styles;
@include foundation-flex-grid;
@include foundation-flex-classes;

// Common styles
@import "./assets/stylesheets/fonts";
@import "./assets/stylesheets/sprites";
@import "./assets/stylesheets/btn";
@import "./assets/stylesheets/tooltip";
@import "./assets/stylesheets/card";
@import "./assets/stylesheets/animations";
@import "./assets/stylesheets/tags";
@import "./assets/stylesheets/gauges";
@import "./assets/stylesheets/action-plan";
@import "./assets/stylesheets/contrast";
@import "./assets/stylesheets/print";

// Default styles
html {
    font-size: 62.5%;
}
body {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    background-color: $pia-white;
}
html, body {
    height: 100%;
}
body {
  &.pia-authentication {
    border-top: 28px solid rgb(9, 28, 107);
    background: url("/assets/images/authentication-bg.png") no-repeat center center transparent;
    background-size: cover;
  }
}
.container {
  max-width: 1180px;
  margin: 0 auto;
}
/* Inactive inputs styles */
input {
  &:disabled {
    background-color: #fff !important;
  }
}

// Active navigation button styles
.active {
  background-color: #fff;
  a {
    color: $pia-blue !important;
  }
}
.hide {
  visibility: hidden;
}
.mask {
  visibility: hidden;
}
.pia-rightSidebarBlock {
  position: relative;
}
.fixed {
  position: fixed;
  top: 0;
}

.red-highlight {
  color: $pia-red;
}

// Mostly used for displayers
.close, .hide {
  display: none !important;
}
.open {
  display: block !important;
}

// Main blur (used on modals)
.blur {
  filter: blur(1.5px);
}

// Special blur (used on a "RISKS" modal)
.blur-content {
  &:after {
    cursor: not-allowed;
    z-index: 1000;
    content: '';
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.approved {
  border: 1px solid $pia-gray;
  box-shadow: none;
}

tag-input-form {
  width: 100% !important;
  input {
    width: 100% !important;
  }
}

/*
.ng2-tag-input--focused {
  background-color: rgba(0,0,0,0.1) !important;
}

.ng2-tag-input--focused tag-input-form form .ng2-tag-input__text-input {
  margin-top: 2px;
  background-color: rgba(0,0,0,0.05) !important;
} */

.ng2-tag-input.foundation-theme tag.tag--editing {
  color: $pia-blue !important;
}

.tag--editing {
  background-color: rgba(0,0,0,0.1) !important;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
