<td class="pia-listsBlock-item">
  <div>TODO</div>
</td>
<td class="pia-listsBlock-item"><time>TODO</time></td>
<td class="pia-listsBlock-item">
  <div>TODO</div>
</td>
<td class="pia-listsBlock-item"><time>TODO</time></td>
<td class="pia-listsBlock-item">
  <div class="pia-listsBlock-item-actions">
    <a href="javascript:;" (click)="remove(archivedPia.id)" class="btn pia-tooltip">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
      <span class="pia-tooltip-text">{{ 'homepage.lists.item.tools.remove' | translate }}</span>
    </a>
  </div>
</td>

<!-- <div>{{ pia.attribute1 }}</div>
<div>{{ pia.attribute2 }}</div> -->
