
export const environment = {
  name: 'development',
  production: false,
  version: '{{getv "/git/branch"}}',
  rollbar_key: '',
  date_format: 'DD MM YY HH:mm:ss',
  api: {
    client_id:     '{{getv "/api/client/id"}}',
    client_secret: '{{getv "/api/client/secret"}}',
    host:          '{{getv "/api/host/url"}}',
    token_path:    '/oauth/v2/token'
  },
};
