<main class="container pia-authenticationBlock">
    <div class="row">
        <div class="small-12 medium-8 columns pia-authenticationBlock-logo">
            <img src="/assets/images/pia-auth-logo.png" alt="Logo PIA">
            <div>
                <h1>Une plateforme pour creer <br> et administrer vos pia</h1>
                <p>Acceder aux outils et glossaires</p>
            </div>
        </div>
        <div class="small-12 medium-4 columns">
            <div class="pia-authenticationBlock-auth">
                <!--
                <div class="pia-authenticationBlock-register">
                    <div>Créer un compte</div>
                    <a href="#" class="btn btn-green">Créer</a>
                </div>
                <form class="pia-authenticationBlock-login">
                    <fieldset>
                        <legend>S'identifier</legend>
                        <div>
                            <label for="pia-account-login">Login</label>
                            <input type="text" value="anonymous" id="pia-account-login">
                        </div>
                        <div>
                            <label for="pia-account-password">Mot de passe</label>
                            <input type="password" value="anonymous" id="pia-account-password">
                        </div>
                        <button type="submit" class="btn btn-green">Connecter</button>
                        <a href="#">Mot de passe oublié ?</a>
                    </fieldset>
                </form>
                -->
                <div class="pia-authenticationBlock-enter">
                    <div>Accéder à l'application</div>
                    <p class="pia-authenticationBlock-warning">
                      Ce logiciel est une version de travail destinée uniquement aux personnes dûment enregistrées comme bêta-testeurs auprès de la CNIL.<br>
                      En validant ci-dessous, vous vous engagez à ne pas divulguer d’informations sur ce logiciel et à ne pas les utiliser à d’autres fins que les tests du logiciel.
                    </p>
                    <a routerLink="/home" class="btn btn-green">Commencer</a>
                </div>
            </div>
        </div>
    </div>
</main>
