<app-header></app-header>

<main class="container pia-authenticationBlock">
    <div class="row">
        <div class="small-12 columns">
            <div class="pia-authenticationBlock-auth">
                <form class="pia-authenticationBlock-login">
                    <fieldset>
                        <legend>S'identifier</legend>
                        <div>
                            <label for="pia-account-login">Login</label>
                            <input type="text" id="pia-account-login">
                        </div>
                        <div>
                            <label for="pia-account-password">Mot de passe</label>
                            <input type="password" id="pia-account-password">
                        </div>
                        <button routerLink="/home" type="submit" class="btn btn-green">{{ 'Se connecter' | translate }}</button>
                        <a href="#">Mot de passe oublié ?</a>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</main>
