ul.breadcrumbs {
    list-style: none;
    overflow: hidden;
    li {
      float: left;
      a {
        color: white;
        text-decoration: none;
        padding: 5px 0 5px 40px;
        background: $pia-green;
        position: relative;
        display: block;
        float: left;
  
        &::after { 
          content: " "; 
          display: block; 
          width: 0; 
          height: 0;
          border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
          border-bottom: 50px solid transparent;
          border-left: 30px solid $pia-green;
          position: absolute;
          top: 50%;
          margin-top: -50px; 
          left: 100%;
          z-index: 2; 
        }
        &::before { 
          content: " "; 
          display: block; 
          width: 0; 
          height: 0;
          border-top: 50px solid transparent;       
          border-bottom: 50px solid transparent;
          border-left: 30px solid white;
          position: absolute;
          top: 50%;
          margin-top: -50px; 
          margin-left: 1px;
          left: 100%;
          z-index: 1; 
        }
      }
    }
  }
  