@import '../../assets/stylesheets/variables';

.btn {
  cursor: pointer;
  text-align: center;
  background: none;
  &-default {
    border: 1px solid transparent;
    padding: 9px 20px;
    border-radius: 20px;
    font-size: 1.35rem;
    color: white;
    &:hover, &:focus {
      color: white;
    }
    &:active {
      background-color: white;
    }
  }
  &.hide {
    @extend .btn-default;
  }

  &-inactive, &[disabled] {
    @extend .btn-default;
    color: $pia-gray;
    border-color: $pia-gray;
    cursor: not-allowed;
    background-color: transparent;
    &:focus, &:hover {
      color: $pia-gray;
      background-color: transparent;
    }
  }

  &-white {
    @extend .btn-default;
    color: $pia-green;
    background-color: white;
    &:focus, &:hover, &.btn-active {
      color: $pia-green;
    }
  }

  &-green {
    @extend .btn-default;
    color: $pia-green;
    border-color: $pia-green;
    &:focus, &:hover, &.btn-active, &.btn-active[disabled] {
      background-color: $pia-green;
      color: white;
    }
  }

  &-blue {
    @extend .btn-default;
    color: $pia-blue;
    border-color: $pia-blue;
    &:focus, &:hover, &.btn-active, &.btn-active[disabled] {
      background-color: $pia-blue;
      color: white;
    }
  }

  &-red {
    @extend .btn-default;
    color: $pia-red;
    border-color: $pia-red;
    &:focus, &:hover, &.btn-active, &.btn-active[disabled] {
      background-color: $pia-red;
      color: white;
    }
  }

  &-pending-validation, &-pending-validation[disabled] {
    font-size: 1.3rem;
    cursor: not-allowed;
    border: 1px solid $pia-blue;
    color: $pia-blue;
    font-weight: 600;
    .fa {
      font-size: 1.8rem;
      margin-right: 8px;
      vertical-align: -3px;
    }
    &:focus, &:hover, &:active {
      color: $pia-blue;
    }
  }

  &-addMeasure {
    border-radius: 0;
    width: 100%;
    box-shadow: 1px 1px 15px 1px #d2d2d2;
    margin-bottom: 10px;
  }
}

body.pia-contrast {
  /* buttons */
  .btn {
    &-inactive, &[disabled] {
      color: $pia-gray-dark;
      border-color: $pia-gray-dark;
      &:focus, &:hover {
        color: $pia-gray-dark;
        background-color: transparent;
      }
    }
    &-white {
      color: $pia-green-dark;
      &:focus, &:hover, &.btn-active {
        color: $pia-green-dark;
      }
    }
    &-green {
      color: $pia-green-dark;
      border-color: $pia-green-dark;
      &:focus, &:hover, &.btn-active {
        background-color: $pia-green-dark;
        color: #fff;
      }
    }
    &-red {
      color: $pia-red-dark;
      border-color: $pia-red-dark;
      &:focus, &:hover, &.btn-active {
        background-color: $pia-red-dark;
        color: #fff;
      }
    }
  }

  /* CONTRAST CHANGES */

  /* header */
  .pia-navigationBlock {
    &-company {
      &:focus, &:hover, &:active {
        > a {
          background-color: $pia-green-dark !important;
        }
      }
      > a {
        &:focus, &:hover, &:active {
          background-color: $pia-green-dark !important;
        }
      }
      form {
        border-color: $pia-gray-dark !important;
        fieldset {
          > div:first-of-type {
            border-bottom-color: $pia-gray-dark !important;
          }
        }
      }
    }
  }

  /* cards */
  .pia-filtersBlock {
    &-switch,
    &-filters-btn {
      border-color: $pia-green-dark;
      color: $pia-green-dark;
      &:focus, &:hover, &:active {
        background-color: $pia-green-dark;
        border-color: $pia-green-dark;
        color: #fff;
      }
    }
    &-filters {
      &:focus, &:hover, &:active {
        .pia-filtersBlock-filters-btn {
          background-color: $pia-green-dark !important;
        }
      }
      &-list {
        border-color: $pia-green-dark;
        > span {
          color: $pia-gray-dark !important;
        }
      }
      .pia-icon-scroll-green {
        background-position: -387px -58px;
      }
    }
  }

  .pia-cardsBlock {
    &.pia-doingBlock {
      .pia-cardsBlock-header-title {
       border-bottom-color: $pia-red-dark;
       color: $pia-red-dark;
      }
    }
    &-item {
      &-status {
        &-infos {
          > div:first-child {
            color: $pia-gray-dark;
          }
        }
        &-progressBar {
          > div {
            color: $pia-green-dark;
          }
          progress[value] {
            &::-webkit-progress-value,
            &::-moz-progress-bar {
              background-color: $pia-green-dark !important;
            }
          }
          progress {
            &:before, &:after {
              background-color: $pia-green-dark !important;
            }
          }
        }
      }
      &-btn {
        border-top-color: $pia-green-dark;
      }
      &-form {
        label {
          color: $pia-gray-dark;
        }
        input::placeholder {
          color: $pia-gray-dark !important;
        }
      }
      &-date {
        div {
          color: $pia-gray-dark;
        }
      }
    }
    &-toolbar {
      a {
        color: $pia-green-dark;
      }
      &-more {
        ul li {
          color: $pia-green-dark;
          &:focus, &:hover, &:active {
            background-color: $pia-green-dark;
            i {
              color: #fff;
            }
          }
        }
      }
    }
  }

  .pia-newBlock,
  .pia-editBlock,
  .pia-archiveBlock {
    &-item {
      color: $pia-green-dark;
    }
  }

  .pia-newBlock {
    &-item {
      .pia-icon-pia-plus {
        background-position: -409px -137px;
      }
      > span {
        color: $pia-gray-dark !important;
      }
    }
    #pia-new-card {
      border-color: $pia-gray-dark !important;
    }
  }

  .pia-editBlock {
    border-color: $pia-green-dark;
  }

  .pia-tooltip {
    &-text {
      background-color: $pia-green-dark;
      &:before {
        background-position: -392px -93px;
      }
    }
  }

  #pia-rocket {
    > div {
      .pia-icon-rocket {
        background-position: -412px -406px;
      }
    }
  }

  /* entry-content */
  .pia-entryContentBlock {
    &-section1 {
      .pia-entryContentBlock-header {
        div:first-child {
          background-color: $pia-green-dark;
        }
        h1 {
          color: $pia-green-dark;
        }
      }
    }
    &-section3 {
      .pia-entryContentBlock-header {
        div:first-child {
          background-color: $pia-red-dark;
        }
        h1 {
          color: $pia-red-dark;
        }
      }
    }
    &-footer {
      p {
        color: $pia-gray-dark !important;
      }
      &-measures {
        button:first-child {
          .pia-icon-add {
            background-position: -223px -2px;
          }
        }
      }
    }
  }

  .pia-previewBlock {
    .pia-icon-preview {
      background-position: -272px -63px;
    }
    > div {
      color: $pia-green-dark !important;
    }
  }

  /* sections */
  .pia-sectionBlock {
    &-header {
      border-bottom-color: $pia-gray-dark !important;
      .pia-icon-close-big {
        background-position: -323px -86px;
      }
    }
    &-title {
      hr {
        background-color: $pia-gray-dark !important;
      }
    }
    &-list {
      li {
        &::before {
          content: "";
          border-top: solid 1px $pia-gray-dark  !important;
          color: $pia-gray-dark !important;
        }
        i {
          color: $pia-gray-dark !important;
        }
      }
    }
    &-body {
      > div {
        &:first-child {
          .pia-sectionBlock-title {
            color: $pia-green-dark !important;
            border-color: $pia-green-dark !important;
          }
          a {
            &:focus, &:hover, &:active, &.active {
              background-color: $pia-green-dark !important;
            }
          }
        }
        &:nth-child(3) {
          .pia-sectionBlock-title {
            color: $pia-red-dark !important;
            border-color: $pia-red-dark !important;
          }
          a {
            &:focus, &:hover, &:active, &.active {
              background-color: $pia-red-dark !important;
            }
          }
        }
      }
    }
  }

  /* attachments */
  .pia-attachmentsBlock {
    &-item {
      border-color: $pia-gray-dark;
    }
  }

  /* knowledge-base */
  .pia-knowledgeBaseBlock {
    &-header {
      color: $pia-gray-dark;
      border-bottom-color: $pia-gray-dark;
    }
    &-searchForm {
      i {
        color: $pia-gray-dark !important;
      }
    }
    &-filters {
      > div:first-child {
        color: $pia-gray-dark !important;
      }
      button {
        color: $pia-gray-dark !important;
        &.active {
          color: $pia-blue !important;
        }
      }
    }
    &-item {
      border-top-color: $pia-green-dark;
      .pia-icon-accordeon-up {
        background-position: -343px -140px;
      }
      .pia-icon-accordeon-down {
        background-position: -341px -166px;
      }
      &-definition {
        > p {
          color: $pia-red-dark !important;
        }
        .btn {
          .pia-icon-add {
            background-position: -223px -2px;
          }
          p {
            color: $pia-green-dark !important;
          }
        }
        > div {
         .pia-icon-hand {
           background-position: -78px -20px;
         }
        }
      }
    }
  }

  /* measures AND questions */
  .pia-measureBlock, .pia-questionBlock {
    &.approved {
      border-color: $pia-gray-dark;
    }
    &-title {
      .pia-icon-accordeon-up {
        background-position: -343px -140px;
      }
      .pia-icon-accordeon-down {
        background-position: -341px -166px;
      }
    }
    &-edit {
      color: $pia-gray-dark;
    }
    &-delete {
      color: $pia-red-dark;
    }
    form {
      input::placeholder,
      textarea::placeholder {
        color: $pia-gray-dark !important;
      }
    }
  }

  /* comments */
  .pia-commentsBlock {
    &-infos {
      border-top-color: $pia-green-dark;
    }
    &-btn {
      button {
        color: $pia-green-dark !important;
        .pia-icon-accordeon-up {
          background-position: -343px -140px;
        }
        .pia-icon-accordeon-down {
          background-position: -341px -166px;
        }
      }
    }
    &-content {
      border-color: $pia-gray-dark !important;
    }
    &-date time {
      color: $pia-gray-dark !important;
    }
  }

  /* evaluations */
  .pia-evaluationBlock {
    border-top-color: $pia-red-dark;
    &-title {
      color: $pia-red-dark;
    }
    &-edit {
      button {
        color: $pia-red-dark !important;
      }
    }
    &-date {
      color: $pia-gray-dark;
    }
    &-gauge {
      .red-highlight {
        color: $pia-red-dark;
      }
    }
  }

  /* modals */
  .pia-modalBlock {
    .pia-icon-happy {
      background-position: -127px -391px;
    }
    .pia-icon-sad {
      background-position: -128px -600px;
    }
    .pia-icon-close-big {
      background-position: -323px -86px;
    }
  }

}
