@use "variables" as *;
@use "sass:color";

.tox-tinymce {
  border-radius: 0 !important;
  border: none !important;
}

.tox:not(.tox-tinymce-inline) .tox-editor-header {
  padding: 0 !important;
}

.tox .tox-edit-area::before {
  border: none !important;
}

.tox {
  .tox-editor-container {
    margin-bottom: 39px;
    iframe {
      background-color: #eee !important;
    }
    .tox-editor-header {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      border-top: 3px solid $pia-green;
      background-color: transparent !important;
      &:before {
        content: "";
        position: absolute;
        bottom: 40px;
        left: 242px;
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        border-bottom: 16px solid $pia-green;
        margin-left: -16px;
      }
      .tox-toolbar-overlord {
        background-color: transparent !important;
        .tox-toolbar__primary {
          justify-content: center;
          background-color: transparent !important;
          .tox-toolbar__group {
            background-color: $pia-green !important;
          }
          .tox-tbtn {
            background-color: transparent;
            svg {
              fill: #fff;
            }
          }
        }
      }
    }
  }
}
