.mce-tinymce.mce-container.mce-panel {
  border: none;
  margin-bottom: 30px;
  > div {
    border-bottom: 2px solid #3EE095;
  }
}
.mce-edit-area.mce-container.mce-panel.mce-stack-layout-item.mce-last {
  border: none !important;
}
.mce-container-body {
  .mce-flow-layout {
    background-color: #3EE095 !important;
    position: absolute;
    left: 10%;
    padding: 0;
    right: 0;
    width: 80%;
    bottom: -32px;
    &:before {
      content: '';
      position: absolute;
      bottom: 32px;
      left: 50%;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-bottom: 16px solid #3EE095;
      margin-left: -16px;
    }
    i {
      color:$white;
    }
    .mce-widget, .mce-btn {
      background-color: #3EE095;
    }
  }
  .mce-toolbar-grp {
    padding: 0;
  }
}

app-editor{
  width: 90%;
  border-bottom: #3EE095 solid 0.3rem;
  margin:auto;
}
