// Gauges
.pia {
  &-gaugeBlock {
    position: relative;
    padding: 5px 0;
    height: 60px;
    input {
      width: 100%;
      margin-bottom: 15px;
    }
    > div {
       display: flex;
       justify-content: space-between;
       > div:nth-child(2) {
         padding-right: 15px;
       }
    }
    &-background {
      z-index: 998;
      width: 4%;
      height: 20px;
      position: absolute;
      border-radius: 50px;
      left: 1px;
      top: 6px;
      background: linear-gradient(90deg, $pia-green, $pia-green);
    }
    &-user-choice {
      width: 66%;
      z-index: 997;
      height: 10px;
      position: absolute;
      border-radius: 50px;
      left: 0;
      top: 10px;
      background-color: #999;
      background: linear-gradient(90deg, #fff, $pia-gray);
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    }
    &-background-2 {
      width: calc(33% + 15px);
      background: linear-gradient(90deg, $pia-green, #7fac85);
    }
    &-background-3 {
      width: calc(66% + 9px);
      background: linear-gradient(90deg, $pia-green, #b87f77);
    }
    &-background-4 {
      width: calc(99% + 2px);
      background: linear-gradient(90deg, $pia-green, $pia-red);
    }
  }
}

// Input with range (gauges)
input[type=range] {
  /*removes default webkit styles*/
  -webkit-appearance: none;
  /*fix for FF unable to apply focus style bug */
  border: 1px solid white;
  /*required for proper track sizing in FF*/
  width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 3px;
  background-color: #999;
  border: none;
  border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #fff;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: -10px;
  position: relative;
  z-index: 999;
  cursor: pointer;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type=range]::-moz-range-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
  border: 2px solid #fff;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: transparent;
  margin-top: -10px;
}

/* Hides the outline behind the border. */
input[type=range]:-moz-focusring{
  outline: 1px solid white;
  outline-offset: -1px;
}

input[type=range]::-ms-track {
  height: 5px;

  /* Leaves room for the larger thumb to overflow with a transparent border. */
  border-color: transparent;
  border-width: 6px 0;

  /* Removes default tick marks. */
  color: transparent;
}

input[type=range]::-ms-thumb {
  border: 2px solid #fff;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: transparent;
  margin-top: -10px;
}
