.pia {
  &-navigationBlock {
    position: relative;
    background-color: $pia-blue;
    margin-top: 4px;
    &-structures {
      background-color: $pia-green;
    }
    .container {
      position: relative;
    }
    &-list {
      display: inline-block;
      margin: 0;
      padding: 0;
      &:last-child {
        float: right;
      }
      > li {
        display: inline-block;
        vertical-align: top;
        height: 28px;
        > a {
          display: block;
          padding: 4px 20px;
          color: #fff;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 1.38rem;
          &:focus, &:hover, &:active {
            background-color: #fff;
            color: $pia-blue;
          }
        }
        a {
          text-decoration: none;
        }
      }
      .pia-navigationBlock-languages {
        color: #fff;
        position: relative;
        border-left: 1px solid #fff;
        .fa-globe {
          font-size: 1.8rem;
          margin-top: 2px;
        }
        > ul {
          display: none;
          z-index: 999;
          background-color: #fff;
          padding: 0;
          margin: 0;
          position: absolute;
          top: 28px;
          left: -1px;
          min-width: 200px;
          color: $pia-blue;
          list-style-type: none;
          box-shadow: 2px 2px 4px 1px rgba(181, 181, 181, 1);
          li {
            text-align: left;
            color: #fff;
            cursor: pointer;
            a {
              font-size: 1.2rem;
              text-transform: none;
              font-weight: normal;
              text-decoration: none;
              color: $pia-blue;
              padding: 0 8px;
            }
            &.is_active {
              background-color: $pia-blue !important;
              a {
                color: $pia-white !important;
              }
            }
          }
          .officialTranslation,
          .cnilTranslations,
          .dpaTranslations,
          .communityTranslations {
            font-weight: 600;
            color: #393939;
            list-style-type: none;
            padding: 5px 8px;
          }
          .cnilTranslations,
          .dpaTranslations,
          .communityTranslations {
            border-top: 1px solid #A7A7A7;
            padding-bottom: 3px;
          }
        }
        &:hover {
          > a, > ul {
            background-color: #fff;
          }
          .fa-globe {
            color: $pia-blue;
          }
          > ul {
            display: block;
            background-color: #fff;
            > li {
              background-color: #fff;
              a {
                display: block;
                &:focus, &:hover, &:active {
                  color: #fff;
                  background-color: $pia-blue;
                }
              }
            }
          }
        }
        > a {
          cursor: context-menu;
          padding: 4px 14px !important;
          &:focus, &:hover, &:active {
            & + ul {
              display: block;
              background-color: #fff;
            }
          }
        }
      }
      .pia-navigationBlock-company {
        position: relative;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        min-width: 90px;
        > a {
          min-width: 90px;
          text-transform: none !important;
          padding: 4px 14px !important;
          cursor: context-menu;
          text-align: center;
          .fa-user {
            margin-right: 14px;
            font-size: 1.9rem;
          }
          .pia-icon-scroll {
            margin-top: 5px;
            margin-left: 8px;
            float: right;
          }
          &:focus, &:hover, &:active {
            color: #fff !important;
            background-color: $pia-green;
            & + form {
              display: block;
            }
            .pia-icon-scroll {
              background-position: -367px -39px;
            }
          }
        }
        form {
          display: none;
          font-size: 1.4rem;
          border: 1px solid $pia-gray;
          border-top: none;
          position: absolute;
          width: 185px;
          top: 28px;
          right: -1px;
          color: $pia-light-black;
          padding: 23px 6px 24px 10px;
          z-index: 999;
          background-color: #fff;
          > fieldset {
            border: none;
            margin: 0;
            padding: 0;
            > legend {
              padding-left: 5px;
              a {
                cursor: pointer;
                &:hover {
                  font-weight: 500 !important;
                }
              }
            }
          }
          div {
            margin: 10px 0;
            border-bottom: 1px solid $pia-gray;
            padding-bottom: 10px;
            input, label {
              display: inline-block;
              vertical-align: top;
            }
            input {
              width: 13px;
              margin-top: 3px;
            }
            label {
              padding: 0;
              margin: 0;
              width: 88%;
              font-size: 1.2rem;
              line-height: 1.4;
              cursor: pointer;
              span {
                font-style: italic;
              }
            }
            &:last-child {
              border: 0;
              padding: 0;
              margin-bottom: 0;
            }
            > a {
              cursor: pointer;
              &:hover {
                font-weight: 500 !important;
              }
            }
          }
          a {
            padding: 10px 0 !important;
            color: $pia-light-black !important;
            font-weight: 400 !important;
            padding-left: 8px !important;
          }
        }
        &:focus, &:hover, &:active {
          > a {
            color: #fff !important;
            background-color: $pia-green;
            .pia-icon-scroll {
              background-position: -367px -39px;
            }
          }
          li > a {
            color: #fff;
          }
          > form {
            display: block;
          }
        }
      }
    }
  }
}
