.pia {
  &-modalBlock {
    opacity: 0;
    transition: opacity 2s ease-in-out;
    z-index: 9999;
    display: none;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    &.open {
      opacity: 1;
      display: block;
    }
    &-close {
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 9999;
    }
    &-validate {
      margin-top: 35px;
      button {
        padding-left: 35px;
        padding-right: 35px;
      }
    }
    &-buttons-choice {
      button {
        vertical-align: top;
      }
    }
    > div {
      position: absolute;
      top: 32.5%;
      left: 50%;
      background-color: #fff;
    }
    .pia-editBlock {
      width: 276px;
      margin-left: -138px;
      background-color: transparent;
      &-item {
        box-shadow: 5px 5px 205px -40px black;
      }
    }
    &-evaluateContext,
    &-removeMeasure,
    &-addMeasureForRisks,
    &-declareMeasuresForRisks,
    &-refusedPIA,
    &-abandonPIA,
    &-acceptedPIA {
      margin-left: -220px;
      width: 440px;
      box-shadow: 5px 5px 205px -40px black;
      text-align: center;
      color: $pia-blue;
      font-style: italic;
      font-weight: 500;
      font-size: 1.5rem;
      padding: 34px 56px;
      p {
        font-weight: 500;
        line-height: 1.3;
        .strong {
          font-size: 1.7rem;
          vertical-align: -5px;
        }
        .red {
          color: $pia-red;
        }
      }
    }
    &-removeMeasure {
      p {
        margin-bottom: 30px;
      }
      .pia-modalBlock-buttons-choice {
        margin-top: 22px;
        button {
            padding: 3px 25px;
            &:first-child {
                margin-right: 40px;
            }
        }
      }
    }
    &-declareMeasuresForRisks {
      .pia-modalBlock-validate {
        button {
          padding-left: 16px;
          padding-right: 16px;
        }
      }
    }
    &-abandonPIA {
      .pia-modalBlock-buttons-choice {
        button {
          padding: 2px 32px;
          height: 32px;
          &:first-child {
            margin-right: 34px;
          }
        }
      }
    }
    &-acceptedPIA {
      .pia-modalBlock-buttons-choice {
        margin-top: 22px;
        button {
          padding: 2px 32px;
          height: 32px;
          &:first-child {
            margin-right: 4px;
          }
        }
      }
    }
  }
}

// Main blur
body.pia-blurBackground {
    .pia-headerBlock, .container {
        filter: blur(1.5px);
    }
}

// "RISKS" special blur
.blur-content {
  &:after {
    z-index: 1000;
    content: '';
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
