.pia-onboarding {
  // GENERAL STYLES FOR TOOLTIPS
  &-title {
    font-weight: 600;
    font-size: 15.5px;
    text-transform: uppercase;
  }
  &-description {
    margin-top: 10px;
    font-size: 15px;
    line-height: 1.1;
    padding: 0 10px;
  }
  &-steps {
    position: absolute;
    bottom: 13px;
    left: 14px;
  }

  // DASHBOARD
  &-dashboard {
    &-1 {
      left: 122px !important;
      top: -25px !important;
    }
    &-2 {
      left: -95px !important;
      top: -70px !important;
    }
    &-3 {
      left: 150px !important;
      top: -95px !important;
    }
    &-4 {
      left: 150px !important;
      top: -76px !important;
    }
    &-5 {
      left: 160px !important;
      top: -90px !important;
    }
  }

  // TODO
}

// GLOBAL STYLES FOR ONBOARDING PLUGIN
.introjs-overlay {
  background-color: transparent !important;
}
.introjs-helperLayer {
  background-color: transparent !important;
  border: 0px !important;
  box-shadow: none !important;
}
.introjs-helperNumberLayer {
  display: none !important;
}
// TOOLTIPS
.introjs-tooltip {
  min-width: 230px !important;
  max-width: inherit !important;
  padding: 12px 14px 13px 12px !important;
  background-color: $pia-green !important;
  border-radius: 10px !important;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4) !important;
  // SMALL ARROWS
  .introjs-arrow {
    border: 18px solid transparent;
  }
  .introjs-arrow.left,
  .introjs-arrow.left-bottom {
    border-right-color: $pia-green !important;
    left: -35px !important;
    top: 50% !important;
    margin-top: -18px !important;
    bottom: auto !important;
  }
  .introjs-tooltiptext {
    color: white;
    text-align: center;
    b {
      text-transform: uppercase;
    }
  }

  // BUTTONS
  .introjs-button,
  .introjs-nextbutton,
  .introjs-skipbutton {
    background: none !important;
    border: 0px !important;
    color: white !important;
    text-transform: uppercase !important;
    text-shadow: none !important;
    &:hover {
      border-color: none !important;
      box-shadow: none !important;
      text-decoration: underline;
    }
  }
  .introjs-tooltipbuttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 14px;
    .introjs-button {
      margin: 0;
      padding: 0;
    }
    .introjs-button.introjs-skipbutton {
      font-size: 13.5px;
      order: 2;
    }
    .introjs-button.introjs-nextbutton {
      order: 1;
      font-size: 13.5px;
      font-weight: 600;
      margin-right: 14px;
    }
    .introjs-button.introjs-donebutton {
      font-size: 13.5px;
      font-weight: 600;
    }
  }
  .introjs-prevbutton,
  .introjs-disabled {
    display: none;
  }
}
