.pia-onboarding {
  &-title {
    font-weight: 600;
    font-size: 15.5px;
    text-transform: uppercase;
  }
  &-description {
    margin-top: 10px;
    font-size: 15px;
    line-height: 1.1;
    padding: 0 27px;
  }
}
