@media print {
  .hide-for-print {
    display: none !important;
  }
  .pia-actionPlanGraphBlock {
    width: 100% !important;
  }
  .pia-summaryRisksOverviewBlock {
    > div {
      width: 100% !important;
    }
  }
  .pia-summaryRisksCartographyBlock {
    > div {
      width: 100% !important;
    }
  }
}
