// General colors
$pia-green: #3ee095;
$pia-red: #fd4664;
$pia-blue: #091c6b;
$pia-white: #f5f5f5;
$pia-gray: #a7a7a7;
$pia-light-black: #393939;
$pia-dark-black: #121921;

$pia-green-dark: #127137;
$pia-red-dark: #c40288;
$pia-gray-dark: #686868;

// Settings Foundation
$global-flexbox: true;
$global-font-size: 100%;
$global-width: 1180px;
$global-lineheight: 1.5;

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);
$print-breakpoint: large;
$breakpoint-classes: (small medium large);

$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-gutter: (
  small: 50px,
  medium: 20px,
);
$grid-column-align-edge: true;
$block-grid-max: 8;
