// General colors
$pia-green: #2BBBAD;
$pia-red: #FD4664;
$pia-blue: #0277BD;
$pia-white: #F5F5F5;
$pia-full-white: #FFFFFF;
$pia-gray: #A7A7A7;
$pia-light-black: #393939;
$pia-dark-black: #121921;

$pia-green-dark: #127137;
$pia-red-dark: #C40288;
$pia-gray-dark: #686868;
$pia-gauge-1: #41534c;
$pia-gauge-2: #6b3960;
$pia-gauge-3: #961f73;

$pia-gauge-light-1: #78b687;
$pia-gauge-light-2: #a2947f;
$pia-gauge-light-3: #d06f73;

$pia-gauge-very-light: #E0E0DF;

$risk-cartography-1-4: #d8f9e9;
$risk-cartography-2-4: #c5f5de;
$risk-cartography-3-4: #fee4e8;
$risk-cartography-4-4: #fed8de;

// Settings Foundation
$global-flexbox: true;
$global-font-size: 100%;
$global-width: 1180px;
$global-lineheight: 1.5;

$breakpoints: (
    small: 0,
    medium: 640px,
    large: 1024px,
    xlarge: 1200px,
    xxlarge: 1440px,
);
$print-breakpoint: large;
$breakpoint-classes: (small medium large);

$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-gutter: (
    small: 50px,
    medium: 20px,
);
$grid-column-align-edge: true;
$block-grid-max: 8;
