#modal-container {
    position: fixed;
    top: 300px;
    left: 50%;
    width: 375px;
    background: white;
    margin-left: -187.5px;
    box-shadow: 0px 0px 2px 1px black;
    z-index: 100;

    .hidden {
        display: none;
    }

    .show {
        display: block;
    }
}

#overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
}



.pia-modalBlock {
    opacity: 0;
    transition: opacity 2s ease-in-out;
    z-index: 9999;
    display: none;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);

    &-close {
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 9999;
    }

    &-validate {
        margin-top: 12px;

        button {
            padding-left: 35px;
            padding-right: 35px;
        }
    }

    &-buttons-choice {
        button {
            vertical-align: top;
        }

        a {
            text-decoration: none;
        }
    }

    > div {
        position: absolute;
        top: 32.5%;
        left: 50%;
        background-color: #fff;
    }

    &-content {
        margin-left: -220px;
        width: 440px;
        box-shadow: 15px 15px 205px -35px black;
        text-align: center;
        color: $pia-blue;
        font-style: italic;
        font-weight: 400;
        font-size: 1.4rem;
        padding: 34px 56px;

        p {
            font-weight: 400;
            line-height: 1.3;

            .strong {
                font-size: 1.7rem;
                vertical-align: -5px;
            }

            .red {
                color: $pia-red;
            }
        }
    }
}
