name: integration-tests
on: [push]
jobs:
  cypress-run:
    runs-on: ubuntu-latest
    container: cypress/browsers:node14.7.0-chrome84
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cypress
        uses: cypress-io/github-action@v4
        with:
          start: yarn start
          browser: chrome
          headless: true
          wait-on: http://localhost:4200
        env: # Or as an environment variable
          CYPRESS_URL: ${{ secrets.CYPRESS_URL }}
          CYPRESS_ID: ${{ secrets.CYPRESS_ID }}
          CYPRESS_SECRET: ${{ secrets.CYPRESS_SECRET }}
