<div class="pia-revisions">
  <div class="pia-revisions-title">
    <i class="fa fa-history"></i> Révisions
  </div>
  <div class="pia-revisions-box" *ngIf="revisions">
    <h4>Version du PIA</h4>
    <p>
      <i class="fa fa-circle"></i> {{currentVersion  | date:"dd/MM/yy hh:mm:ss"}} - Version actuelle
    </p>
    <div *ngIf="opened && revisionsGroupByMonth" class="pia-revisions-box-content">
      <div class="pia-revisions-box-content-revision" *ngFor="let date of revisionsGroupByMonthInArray">
        <h5>{{date | date:"MMMM yyyy"}}</h5>
        <ul>
          <li *ngFor="let revision of revisionsGroupByMonth[date]"><i class="fa fa-circle-o"></i> {{revision.created_at  | date:"dd/MM/yy hh:mm:ss"}}
            <a href="javascript;" (click)="onRevisionSelection(revision.id, $event)">Restaurer cette version</a></li>
        </ul>
      </div>
    </div>
    <a href="javascript;" class="pia-revisions-box-footer" (click)="opened = !opened; $event.preventDefault();">
      <span>Afficher les {{revisions.length}} versions</span>
      <i class="fa fa-chevron-down" *ngIf="!opened else close"></i>
      <ng-template  #close>
          <i class="fa fa-chevron-up"></i>
      </ng-template>
    </a>
  </div>
  <button class="pia-revisions-new" (click)="newRevision()">Réviser le PIA</button>
</div>