<div class="pia-commentsBlock-content fadeIn">
  <div class="pia-commentsBlock-date">Commentaire <time datetime="2016-12-12">le 12/12/2016</time></div>
  <!-- <div class="pia-commentsBlock-edit">
    <button class="btn" type="button" title="Éditer le commentaire"><i class="fa fa-pencil" aria-hidden="true"></i></button>
  </div> -->
  <textarea rows="3" disabled cols="50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque erat erat, venenatis vitae maximus sit amet, pulvinar a ligula. Ut pulvinar velit a nibh porttitor, vel pharetra metus finibus.</textarea>
</div>
